[2015-11-09 10:54] Dreampie opened #1 "support dev-server hot load?"

[2015-11-19 07:29] rauschma opened #2 "Absolute paths don’t work"
[code]
These two paths lead to:

* `/Users/rauschma/react-test/html/index.html` being copied to
* `/Users/rauschma/react-test/build/Users/rauschma/react-test/build/index.html`

[2015-11-19 07:31] rauschma opened #3 "Relativizing a path name"
[code]

It’s probably better to use [`path.relative()`](https://nodejs.org/docs/latest/api/path.html#path_path_relative_from_to).

[2015-11-19 07:36] rauschma opened #4 "Hardcoded path separator"
[code]

Is the slash required by webpack? If it isn’t, I’d use [`path.sep`](https://nodejs.org/docs/latest/api/path.html#path_path_sep), so that the plugin also works on Windows. Also: `slice()` is normally a better choice than `substr()` (which is not part of main ES5).

[2015-11-19 07:51] rauschma commented on #2
OK, I’ve figured out what happened: `to:` is interpreted as relative to `output.path` (right?). If you omit it, `to:` **is** `output.path`. Mention that in the readme?

[2015-11-19 08:12] rauschma opened #5 "Ignore files?"
It’d be nice if one could specify files to ignore via globs (think `.gitignore`). Library for globs: https://github.com/isaacs/minimatch

[2015-11-20 04:11] kevlened commented on #1
I haven't tested hot load with the plugin yet. It may work, because I add listeners for all the files you need. However, I don't know if hot load would reload the entire page if you updated the page itself.

If you find a way to support this, I'm open to investigate, or a PR would be even better!

[2015-11-20 04:12] kevlened commented on #2
Correct. The `to: ` path is always relative to the target build directory. You're right. I'll make it clearer in the docs.

[2015-11-20 04:18] kevlened commented on #4
The slash isn't required by webpack. I'll fix both.

[2015-11-20 04:21] kevlened commented on #3
Fair enough. I'll change it

[2015-11-20 04:23] kevlened commented on #5
Good idea

[2015-11-20 05:19] #4 closed

[2015-11-20 05:23] #3 closed

[2015-11-27 19:38] #5 closed

[2015-11-28 23:10] rauschma commented on #5
(Couldn’t find a way to reach you, which is why I’m using this channel.)

Thanks for this plugin, I’m using it in the following project: https://github.com/rauschma/react-starter-project

[2015-11-28 23:21] kevlened commented on #5
No problem! Thanks for reaching out.

I'm glad it works for you. Your starter project is exactly what I was
looking for earlier this morning. With the recent changes to Babel and
React, I had to piece my own boilerplate together, minus hot loading. Your
project adds hot loading and looks really clean, so I'll definitely use it
to start my next project.

On Sat, Nov 28, 2015 at 3:10 PM, Axel Rausch

[2015-11-29 12:34] rauschma commented on #5
Glad it’s useful!

[2015-11-30 22:55] rauschma commented on #1
This is a relatively small project where you can test whether it works: https://github.com/rauschma/webpack-babel-demo

Currently it only works partially for me – changing the HTML file does not hot-reload the page, but if I reload the page manually, I do see the change. Alas, I have no idea how to fix this. Given how useful your plugin is, this may warrant asking webpack’s author.

[2015-12-01 01:14] Dreampie commented on #1
webpack devServer  already on watch，why own watch？

[2015-12-04 01:41] kevlened commented on #1
I was reading the [hot module replacement docs](https://webpack.github.io/docs/hot-module-replacement-with-webpack.html) and they say:

    webpack/hot/dev-server reloads the entire page after the HMR update fails

So one way for this plugin to reload the page is to include a module that will fail the build whenever a specified file(s) is changed

[2015-12-04 12:43] rauschma commented on #1
There is more information here: https://github.com/webpack/webpack/issues/418#issuecomment-53878977

But this seems to be about files that are actually required somewhere. Thus, I’m not sure that copy-webpack-plugin applies. I’d file an issue and ask how to implement this best for your plugin (which provides an important service): https://github.com/webpack/webpack/issues

[2015-12-19 12:09] gajus commented on #2
What is the reason for not allowing absolute paths?

[2015-12-24 18:34] kevlened commented on #2
It's not currently possible to determine whether the `to:` path should be relative or absolute.

This could be supported by an additional property on the pattern, like `toAbsolute: true`. I'll reopen this as a feature request.

[2015-12-24 18:47] gajus commented on #2
If path starts with / it is an absolute path, if not it is a relative pack.

[2015-12-24 19:09] kevlened commented on #2
Introducing that convention would be a breaking change for anyone currently using `/` in front of their `to:` paths. I'd also prefer to be more explicit where it makes sense. The absolute path use case feels like an exception to normal webpack usage.

[2015-12-24 22:08] gajus commented on #2
Then make it a major version bump and problem solved.

[2016-01-12 10:30] joshhunt opened #6 "Uglify output"
I'm using copy-webpack-plugin to copy a file into a public directory, and I'm hoping to have it minified in the process (during production builds).

I'm using `webpack.optimize.UglifyJsPlugin`, but that only operates on the output of chunks, and the assets of `copy-webpack-plugin` don't belong to chunks so they aren't minified.

Do you know of a way to get Webpack to minify Javascript files copied

[2016-01-12 23:06] grimen opened #7 "Globs for `from`"
Would be much easier to follow than inverted `exclude` patterns.

[2016-01-13 21:57] JoshZA commented on #7
:+1:

[2016-01-13 22:28] JoshZA opened #8 "No option to match dots"
Minimatch's options param is not exposed, so right now copy-webpack can't ignore files like '.eslint' using a pattern like '***/**'

[code]

[2016-01-22 11:22] mgcrea commented on #7
:+1:

[2016-01-23 06:32] praveenperera opened #10 "Possible to run on file change/addition/deletion when using webpack watch?"
When running webpack watch is it possible to have the files copied over automatically when a change happens? For example, if a new image is added to the folder automatically copy it over to the destination folder, or delete an image if it is deleted from the `from` folder or change the file name if it changes ect... Currently, you have to restart webpack --watch or run the build again for the chan

[2016-01-23 20:11] FractalizeR opened #11 "Add debug information printed in WebPack debug mode"
Currently plugin doesn't copy anything for me so I would like debugging mode to be available. I'm using the following config:

[code]

[2016-01-23 20:15] FractalizeR opened #12 "Throw error if source or target does not exist"
Plugin doesn't copy anything anywhere for me and I guess I made a mistake in paths. I guess this should be an error in the plugin when `from` or` to` is not recognized as a correct, accessible file or directory.

[2016-01-24 00:10] #7 closed

[2016-01-24 00:16] grimen commented on #7
Awesome!

[2016-01-24 00:50] #8 closed

[2016-01-24 01:58] kevlened commented on #10
This plugin already works with `webpack --watch` on both files and directories, it just won't show in the command line, because the assets created aren't chunks. I use webpack's file and directory tracking as shown below:

[Where I add files for webpack to track](https://github.com/kevlened/copy-webpack-plugin/blob/master/index.js#L95)
[Where I add directories for webpack to track](https://github.

[2016-01-24 02:01] kevlened commented on #6
I haven't found how to convert these assets to chunks. You're right that this should fix the issue (and possibly showing changes during `webpack --watch`). Any references (or a PR!) would be helpful

[2016-01-24 02:03] kevlened commented on #12
Seems like a duplicate of #11

[2016-01-24 02:03] #12 closed

[2016-01-24 02:04] kevlened commented on #11
If you have any info on how to add debugging information (warnings, errors, etc) on webpack plugins, I'll look into it

[2016-01-24 02:09] praveenperera commented on #10
Hey I tried adding a file into the directory while webpack --watch is running but it didn't automatically move it to the `to` directory.

[2016-01-24 02:24] kevlened commented on #10
Weird. I'll try to repro. The plugin api for watching directories is being used properly:

[sokra](https://github.com/webpack/webpack-dev-server/issues/34#issuecomment-47420992)
[sample plugin](https://github.com/webpack/webpack/blob/9f440e30ecac00bfc27b91d372a969d3414d194c/lib/CachePlugin.js#L39)

[2016-01-24 09:55] FractalizeR commented on #12
I am not sure this is a duplicate. Debugging info is a one thing. But throwing an error if source or target folder does not exist - is another one.

[2016-01-24 09:56] FractalizeR commented on #11
I think [this](https://github.com/webpack/webpack/blob/5bfc68aacb2294ec7778c5e68fea71a80cea6dbe/lib/ModuleWarning.js) is how warnings are created in webpack:

[2016-01-24 18:37] #2 closed

[2016-01-24 19:12] gajus commented on #2
Node has a method to confirm if path is absolute (path.isAbsolute()). No need to implement your own. If you want to support old (lt 0.12) node then consider using https://www.npmjs.com/package/path-is-absolute

[2016-01-24 19:35] kevlened commented on #2
@gajus Thanks! Fixed

[2016-01-24 19:57] kevlened commented on #10
I'm unable to repro your issue. Files added to watched directories (whether absolute or relative) are updated in my build directory.

[2016-01-24 19:57] #10 closed

[2016-01-24 20:35] kevlened commented on #10
Are the files you're adding in a nested directory in assets?

[2016-01-24 20:37] kevlened commented on #10
Hmm, nevermind. Still can't repro

[2016-01-24 20:53] praveenperera commented on #10
Hey thanks for your help, I do not have to much experience with webpack, I am using it as a build tool for a Elixir + Phoenix project.

Here is my webpack config file: https://gist.github.com/praveenperera/61de643d282993cb82c7

I followed this tutorial to get it setup: http://matthewlehner.net/using-webpack-with-phoenix-and-elixir/

And in the tutorial they state `With this configuration, you are

[2016-01-24 21:21] kevlened commented on #10
Using [his own git repo](https://github.com/matthewlehner/phoenix-webpack-example), I'm not able to repro the issue:

1) Clone it
2) run `npm install`
3) comment out [a missing file in his webpack.config.js](https://github.com/matthewlehner/phoenix-webpack-example/blob/master/webpack.config.js#L48)
4) in the package.json, add `watch: "webpack --watch"` to his scripts
5) `npm run watch`
6) Add a fi

[2016-01-24 21:35] praveenperera commented on #10
This is so weird, I tried the above and it still doesn't work maybe a webpack issue?

Webpack version: 1.12.12
Node: 5.5.0
NPM: 3.5.3

[2016-01-24 21:42] kevlened commented on #10
I don't have webpack installed globally. `npm run` uses modules from the local node_modules.

Webpack: 1.12.12
Node: 4.2.6
NPM: 2.14.12

[2016-01-24 21:53] praveenperera commented on #10
I'm pretty stumped, not sure what else to try. Thanks for your help though.

[2016-01-24 21:53] kevlened commented on #10
Just tested it on:
Webpack version: 1.12.12
Node: 5.5.0
NPM: 3.5.3
OS: OSX 10.11.3

My guess is that it's because webpack is installed globally. I'll try that

[2016-01-24 21:56] kevlened commented on #10
Nope, works then too. It's not copying at all? It won't show up in the terminal, but it should be copying the files.

[2016-01-24 21:57] praveenperera commented on #10
Nope I've tried adding files, changing file names and deleting files. None of the changes shows up in the priv/static folder unless I restart webpack --watch

[2016-01-24 21:59] kevlened commented on #10
Very weird. If you get it working, let me know what changed!

[2016-01-24 22:55] praveenperera commented on #10
Will do,

I just tried it on a different computer that didn't even have node on it yet. I installed node, cloned the repo,  added webpack --watch to the package.json, ran npm run watch and still no luck. Copies all the files over when its first run but not while running.

[2016-01-25 14:03] gajus opened #13 "Do not use fs to copy files; declare target files as assets to webpack"
The current implementation is doing the heavy lifting of [creating directory structure and copying the files](https://github.com/kevlened/copy-webpack-plugin/blob/f02a9f9b34bde5250dcab9f9bbe39cccc41f4ab6/index.js#L89). A better approach would be to simply add the target files to the webpack assets collection (e.g. [`html-webpack-plugin`](https://github.com/ampedandwired/html-webpack-plugin/blob/v2

[2016-01-25 14:07] gajus commented on #13
One of the downsides of the current setup is that all files are copied upon any file change. Using the above approach in combination with `write-file-webpack-plugin` would leverage file hashing to detect changes and only write when needed.

Another thing to consider is that at the moment, files declared in `copy-webpack-plugin` do not appear in [`stats.compilation.assets`](https://github.com/gajus

[2016-01-25 15:26] TeffenEllis commented on #8
@kevlened,

Could you expose this option? I'd like to include files prefixed with a dot.

Thank you!

[2016-01-25 16:04] kevlened commented on #13
I only use `fs` to write files if the `to` destination is an absolute path; adding to [compilation.assets is the default](https://github.com/kevlened/copy-webpack-plugin/blob/master/index.js#L158). When you include files in compilation.assets, they're relative to the target build directory, but an absolute path may be outside the target build directory.

Also, absolute path files are copied on any

[2016-01-25 16:09] kevlened opened #14 "Files don't appear in stats.compilation.assets on webpack --watch builds"
Files appear in stat.compilation.assets on the first build, but subsequent builds don't include assets added by the copy-webpack-plugin, even though updated files are actually copied.

[2016-01-25 20:29] gajus commented on #13
Can you not use a relative path that refers to a directory outside the build directory? Writing logic for resolving such path is pretty simple, assuming webpack allows it.

[2016-01-26 06:07] kevlened commented on #13
Looks like webpack does support relative paths in compilation.assets. I'll merge a fix

[2016-01-26 06:08] #13 closed

[2016-01-26 09:03] gajus commented on #13
:+1:

[2016-01-27 12:25] gajus commented on #13
`stats.compilation.assets` asset path should be relative to `compiler.options.output.path`, not `process.cwd()`.

With current implementation, when `assetPath` is `../dist/index.html` and `output.path` is `/Users/gajus/Documents/dev/applaudience/showtime-dashboard/client/dist/static`, the copied files ends up in `/Users/gajus/Documents/dev/applaudience/showtime-dashboard/client/dist/dist/index.htm

[2016-01-28 22:16] aush commented on #2
@kevlened
Doesn't work for me. I'm on windows. 1.1.1.

[2016-01-29 16:50] jmlopez-rod opened #15 "[Feature] copy files after webpack has finished creating the bundles"
I was hoping that I could use this plugin to create copies of the generated bundles to other directories. It seems however that the copying starts while webpack is creating these bundles. As a result I end up with copies of the files with no content.

Is there a way to add an option so that the copying of the files happen after webpack has created the output files?

[2016-01-29 19:07] jmlopez-rod commented on #15
Ok, so after digging around I'm starting to believe that there is no easy way to do this with the current version of the plugin.  In `writeFileToAssets` the file source gets attached to `compilation.assets`.

[code]

The problem is, that the source may not yet be there since webpack hasn't written it to the file yet so the source will be empty. So the next thing to try would be, can we check if `a

[2016-01-29 19:41] jmlopez-rod commented on #15
So here is a solution, I added a few lines to `writeFileToAssets` so that it can check if the file is in production then to just point to that asset.

Here is the whole function

[code]

Would you mind incorporating this change?

[2016-01-29 21:36] jmlopez-rod opened #16 "[Bug] `after-emit` callbacks are called multiple times in watch mode"
I noticed that when defining `after-emit`,

[code]

it makes the emit run multiple times when webpack is in watch mode. To see this we can write a `console.log` statement in emit:

[code]

After running `webpack -watch` we get

[code]

If we comment out the `after-emit` block then webpack only calls emit when we modify one of our project files. Now correct me if I'm wrong, but the after emit secti

[2016-02-01 17:30] chrxs opened #17 "ignoring toType: 'dir'"
Hi
I might be doing it wrong, and any help would be greatly appreciated,
I'm copy files and trying to get them to appear in a certain directory but it seems to be ignoring what I set,
This is my webpack config:
[code]

I want all the translation files to be in `dist/angular/i18n/`
but they appear in `dist/node_modules/angular-i18n/`

I realise I am setting the from to a file with an extension, but

[2016-02-05 09:11] samvloeberghs opened #18 "copying using glob unexpected behaviour"
Hi,

Assume I have the following dir structure
[code]

When I do a copy, in a new context of dist, using
[code]
it will copy all the files from `src/assets` to `dist/assets`.
But when I do a copy, in the same context of dist, using:
[code]

it will copy all the files from `src/assets` to `dist/assets` **but** copy the png files in `src/app` to `dist/src/**/**.png`. *( mind the 'src' )*

This is ve

[2016-02-06 17:34] gajus commented on #13
@kevlened any chance on inspecting this last issue?

[2016-02-06 18:53] gajus commented on #13
@kevlened Please see the PR https://github.com/kevlened/copy-webpack-plugin/pull/19

[2016-02-06 19:41] gajus commented on #13
Can you make me a contributor? I would happily with bugs as I come across them.

[2016-02-06 19:50] gajus commented on #14
Note that if target resources is modified, it will appear in `stat.compilation.assets`. Therefore, this is not necessarily an issue.

[2016-02-06 20:10] gajus commented on #14
Here is the reason it is being excluded, https://github.com/kevlened/copy-webpack-plugin/blob/d47a06ede412a4982991014076c6e88b2293497b/index.js#L148-L157:

[code]

I'd like to remove this and delegate the responsibility to https://github.com/gajus/write-file-webpack-plugin. Otherwise (as evident), it is confusing that the asset suddenly no longer appears in the `stat.compilation.assets` collection

[2016-02-06 20:16] gajus commented on #14
https://github.com/kevlened/copy-webpack-plugin/pull/20

[2016-02-06 20:23] gajus commented on #6
This is an issue with `UglifyJsPlugin` rather than `copy-webpack-plugin`. `copy-webpack-plugin` operates on assets, i.e. individual files. [Chunks](https://webpack.github.io/docs/code-splitting.html) are code fragments and do not have 1-to-1 relation with files.

What you can do is: add a custom plugin that iterates through each asset in `stat.compilation.assets` and decorates the `source` method

[2016-02-10 15:58] alex88 opened #22 "copy dot files"
I've this config:

[code]

however the file .htaccess isn't copied, what could be?

[2016-02-10 16:08] alex88 commented on #22
Nvm, stupid mistake

[2016-02-10 16:08] #22 closed

[2016-02-13 00:52] doxavore commented on #18
:+1: I'm experiencing this as well. I was expecting a behavior similar to gulp, wherein the base of the glob start will serve as the base for all copied files.

[2016-02-16 11:07] stq opened #24 "An exception on /**/* path with nested folders"
When using path like assets/ * * / * to copy a number of files in nested folders, an exception is occured:
**A global exception occured: { [Error: EINVAL: invalid argument, read] errno: -4071, code: 'EINVAL', syscall: 'read' }**
A number of messages with exception match total number of nested folders, so seems like folders are causing it.
But files and folders are still copied successfully, if to

[2016-02-16 23:29] kirbysayshi commented on #24
+1 this just bit me too.

[2016-02-19 13:59] datakurre opened #25 "Should copy-webpack-plugin work with webpack-dev-server"
For me, ``webpack --watch`` works as expected, but with webpack-dev-server nothing seem to happend. Should copy-webpack-plugin support webpack-dev-server?

[2016-02-20 22:16] datakurre commented on #25
Resolved with write-file-webpack-plugin.

[2016-02-20 22:16] #25 closed

[2016-02-23 21:16] JoshZA commented on #2
@kevlened Doesn't work on windows

[2016-02-23 21:21] JoshZA opened #26 "Absolute paths don't work on Windows"
On 1.1.1

Config:
[code]

I had to revert to 1.0.0 to get this working

The path resolves to ```C:\node\sp_app\dist```

[2016-02-24 06:46] forfuns commented on #26
some on OSX

[2016-02-26 19:18] facboy commented on #26
don't seem to work on Linux either.

[2016-03-01 02:02] PierBover opened #28 "Copied file is empty"
I'm trying to copy the output file of Webpack into another folder and I'm getting this random error where sometimes the copied file is empty.

![image](https://cloud.githubusercontent.com/assets/226483/13415165/4fede930-df1e-11e5-886e-cbe15e686993.png)

The original file is not empty.

![image](https://cloud.githubusercontent.com/assets/226483/13415179/672246c8-df1e-11e5-9f53-cfad59e1b76d.png)

I'

[2016-03-15 04:43] jmlopez-rod commented on #28
@PierBover, this sounds like the problem I posted: https://github.com/kevlened/copy-webpack-plugin/issues/15, see the comments for a solution or just add the changes from my pull request: https://github.com/kevlened/copy-webpack-plugin/pull/21/files

[2016-03-15 11:25] SteveALee commented on #26
had same problem on windows. had to use To = relative and set output path

[2016-03-16 14:39] af7 opened #29 "Does not copy files to actual output folder when webpack-dev-server is used"
It appears that nothing happens when trying to copy some extra files (not bundled) to the output folder, under the `webpack-dev-server` logic:

[code]

Can this be done somehow? The webpack-dev-server needs this to show some external CSS and IMAGE files. I used to be doing this with `gulp` but now I want to get rid of this dependency.

Using your plugin with the simple webpack (for `build`) works

[2016-03-18 08:08] ccbikai commented on #26
index.js line 51 `relDest = path.relative(baseDir, relDest);`  =>  `relDest = path.relative(relDest, baseDir);`

it works

[2016-04-02 11:16] Foxandxss commented on #29
So I maintain a webpack starter (the one already linked in this issue) and we use this plugin.

We carry over a file for development (using webpack-dev-server) and it only works on OSX. Windows users gets a 404 on the file. Build works fine indeed.

@af7 what is your OS?

[2016-04-05 17:04] yntelectual commented on #29
Hey, I have debugged the behaviour on windows and it seems to be a conflict in path handling between copy plugin and webpack's `compilation.assets`.
The tests also fail on windows with:
[code]

Webpack keys in `compilation.assets` are expected to contain forward slash `/` regardless of platform. However as copy plugin uses path normalization, it will store the copied assets with platform specific

[2016-04-05 17:07] Foxandxss commented on #29
A solution to this would save the world. In angular there there is a specific behavior we need and the only sane way is this plugin. I need to document it officially but needs to work in windows.

[2016-04-05 17:14] #14 closed

[2016-04-05 17:16] gajus opened #30 "Add linting rules"
There are no linting rules making it hard to enforce a consistent code style of the PRs.

[2016-04-05 17:17] gajus commented on #30
@kevlened Do you mind if I use https://github.com/gajus/pragmatist to enforce ES6 code style? Style rules can be viewed here https://github.com/gajus/canonical.

[2016-04-05 18:35] gajus commented on #30
I have created a branch that demonstrates use of pragmatist, https://github.com/kevlened/copy-webpack-plugin/tree/pragmatist. If you are happy with the changes, I will merge them to master.

[2016-04-06 09:27] iilei commented on #18
:+1: same here

[2016-04-06 09:29] zdila opened #31 "Add option to fail if source file doesn't exist"
Please add an option to fail if source file doesn't exist.

[2016-04-06 09:32] zdila opened #32 "Add support for filename patterns"
Please add support for filename patterns. I'd like to copy file to [name][hash].[ext]. Plugin should add the file to the webpack stats so that it would be possible to generate filename mapping file.

[2016-04-07 08:09] mdudek commented on #29
Fix from @yntelectual works, could you do a PR please?

[2016-04-07 08:12] af7 commented on #29
@Foxandxss I just saw your comment, my OS is indeed Windows 10.
@yntelectual Thanks for the fix!

[2016-04-08 09:10] gajus commented on #30
@kevlened I am assuming you are busy. I will proceed with this unless I hear otherwise within 7 days.

[2016-04-09 19:47] kevlened commented on #30
This makes sense, and it's a huge change, thanks! I converted the 4 spaces to 2, but everything else looks fine.

[2016-04-10 09:11] pavankumarkatakam opened #34 "Support for alias"
in webpack config there is alias thing which im using when requiring the files.

[code]

and using that as `require('bower/jquery/dist/jquery.min.js')` . I want this to support for this plugin also.

[2016-04-10 09:37] gajus commented on #30
There is no way to add exceptions to Canonical rules, i.e. 2 spaces will make the linting validation fail throughout the codebase.

The only way to achieve that would be to branch Canonical package and customise it, but that defeats the purpose of standardisation.

Switching between 2 and 4 lines is trivial in the IDE. I don't think it should make difference whats the style that code on repository

[2016-04-10 21:56] kevlened commented on #16
This seems related to #15

[2016-04-11 05:41] kevlened commented on #18
This is a bug in that the files should be copied to `dist/app/src/**/**.png` instead of `dist/src/**/**.png`. However, using the base of the glob as the base for all copied files is an enhancement.

[2016-04-13 15:35] mo-lon commented on #28
Its intermittently happening for me. @jmlopez-rod I tried your solution but it did not work for me.

[2016-04-13 15:50] PierBover commented on #28
I ended up using Gulp for copying stuff and other duties

[2016-04-14 06:23] rexgnu commented on #29
I'd also love to see this issue resolved! :smiley:
Awesome fix @yntelectual

[2016-04-14 09:53] gajus commented on #30
@kevlened and feedback regarding this?

[code]

[2016-04-14 12:37] yntelectual commented on #29
@kevlened what is your opinion on the proposed fix? Could it make into a minor release `1.1.2` so that folks who need it do not need to wait for more robust/architectural solution?

[2016-04-14 14:52] iamakulov commented on #15
Seems like this works now.

[2016-04-15 05:31] kevlened commented on #29
@yntelectual Windows compatibility and webpack-dev-server functionality is fixed in v2.0.1! In order to use webpack-dev-server, remember to add `devServer.options.outputPath` to your webpack config, as shown in the README.md

[2016-04-15 05:34] kevlened commented on #1
webpack-dev-server is supported in v2.0.1

However, you still have to refresh the page manually if the HTML file changes

[2016-04-15 05:36] kevlened commented on #18
The bug portion of this issue is resolved in v2.0.1

[2016-04-15 05:38] kevlened commented on #26
Absolute `to` paths were broken, but this should work in v2.0.1 now

[2016-04-15 05:43] kevlened commented on #28
This is happening because the file you're trying to copy (the webpack bundle) isn't completely built yet. The ability to copy files after everything has been built isn't currently supported, but it's a nice feature

[2016-04-15 05:45] kevlened commented on #30
The linting errors are fixed now

[2016-04-15 05:48] kevlened commented on #34
I'm not sure I understand your request. What's an example of how you'd like to use the plugin with aliases?

[2016-04-15 13:43] yntelectual commented on #29
Cool, thanks & happy hacking

[2016-04-16 20:43] kevlened commented on #17
Try this in the latest version:

    var nodeModules = path.resolve(__dirname, '../node_modules');
    new CopyWebpackPlugin([{
      context: nodeModules + '/angular-i18n',
      from: 'angular-locale*.js',
      to: 'angular/i18n'
    }]);

[2016-04-16 20:48] kevlened commented on #18
So, it's now possible (in v2.1.0) to change the base of the blob for a pattern by using a pattern-specific context.

    new CopyWebpackPlugin([{
      context: 'src/app',
      from: '**/*.png',
      to: 'app'
    }]);

That will copy all the `.png` files in src/app to app

[2016-04-16 20:48] #18 closed

[2016-04-16 20:49] #17 closed

[2016-04-16 20:51] #29 closed

[2016-04-16 20:52] #26 closed

[2016-04-16 21:13] #24 closed

[2016-04-16 21:16] #30 closed

[2016-04-19 17:26] jskrzypek opened #35 "Plugin is not copying file modes with execute permissions"
We have cordova hooks in our source folder (see the cordova hooks guide for more info: https://cordova.apache.org/docs/en/dev/guide/appdev/hooks/) that need to be copied into our destination folder and need to preserve the executable bit on their file mode (i.e. `ls -l` should print `-rwxr-xr-x` for these files).

Currently this doesn't happen, but it seems like it should be easy to do by passing

[2016-04-19 17:31] jskrzypek commented on #35
I'm trying to implement this on my fork, but it doesn't seem to be working.

I'm happy to make the PR but I need a bit of guidance.

[2016-04-19 18:23] Auha opened #36 "ERROR in undefined is not a function"
I am trying to copy an assets folder to my `build` directory. When I am running any type of webpack build commands I get an `ERROR in undefined is not a function`. It is working the way I am expecting it, but it does give me that message. I am one of those people that don't like error messages, so I was wondering if there was something I am not seeing here. I have all of the basic requirements to

[2016-04-23 20:11] kevlened commented on #36
I don't see anything wrong with the config (at least for the copy-webpack-plugin side). Do you have a stacktrace for that error?

[2016-04-28 05:24] kevlened commented on #35
The difficulty is in how we copy the files. By default, we add the files by adding them to `compilation.assets` and letting webpack take care of writing the files. The only time we write files with `fs.writeFileAsync()` is when a `devServer` is used (due to limitations of the server).

It's possible that this feature could piggyback on the additions needed for #15. That feature also requires `fs.w

[2016-04-28 11:21] Itagiba opened #38 "Plugin failing"
I have the following webpack.config file:

[code]

But for some reason the script is failing:

[code]

All I want is to copy the files from my `images` directory into `public/img` at `npm run development` but I am not getting how webpack is handling this with this plugin.

[2016-04-28 17:29] OnionCoder opened #39 "not copy the files in node v 6.0.0"
This is my plugin configuration:

[code]

It works fine with node v 5.8.1 but it does not copy any file with node v 6.0.0.

Webpack shows 'ERROR in Path must be a string. Received undefined' in the console.

[2016-04-29 03:09] kevlened commented on #38
`{ from: '/images/', to: '/public/img/' }` should be `{ from: 'images/', to: 'public/img/' }` unless you're trying to load them from your root directory.

If you want to use the `devServer` you have to add the following:

    devServer: {
        // This is required for webpack-dev-server. The path should
        // be an absolute path to your build destination.
        outputPath: path.join(__dir

[2016-04-29 14:29] OnionCoder commented on #39
Hi, I used 1.1 version before. I just tested with the newest version 2.1.3, still get the same problem.

[2016-04-30 08:26] Itagiba commented on #38
Hey it stopped failing when I added:

[code]

To my webpack, however the contents of images/ are not being exported to public/img/. Any ideas?

[2016-05-01 15:07] Itagiba commented on #38
I have fixed it with:

[code]

[2016-05-01 20:42] kevlened commented on #38
Glad you got it working!

[2016-05-01 20:42] #38 closed

[2016-05-01 21:30] kevlened commented on #39
This is because we use gulp to build underneath, which has an underlying issue: https://github.com/gulpjs/gulp/issues/1571

[2016-05-04 14:19] jseminck opened #41 "permission denied, mkdir"
After upgrading from version 1.1.1 to 2.0.0 I get the following error... no other configuration has changed.

[code]

Is this a known issue? Do you have any idea what might be going on? I looked around but couldn't find anything.
Downgrading back to 1.1.1 works as before, which is pretty weird given the error is related to permission denied.

[2016-05-04 15:54] kevlened commented on #41
It looks like it's trying to create `_karma_webpack_` in your system's root directory (which would require sudo permissions). This looks like a bug, but I'll need to see your CopyWebpackPlugin config to reproduce it.

[2016-05-04 18:08] jseminck commented on #41
Hmm. Ok. Our configuration is nothing special, just a bunch of from/to objects:

[code]

Looks like it only happens when executing tests. so there is some combination of plugins messing up somewhere. I'll dig around a bit and let you know if I figure out some more information (as I don't have anything else right now).

[2016-05-07 01:34] billwing opened #42 "Output filename not configured. make: *** [copy] Error 255"
Why that, please?

[2016-05-07 15:05] kevlened commented on #42
This is an issue with your webpack configuration, not the CopyWebpackPlugin

http://stackoverflow.com/questions/34157313/output-filename-not-configured-error-in-webpack

[2016-05-07 15:05] #42 closed

[2016-05-09 04:50] amgohan opened #44 "devServer.outputPath must be defined in the webpack config"
copy-webpack-plugin fails when configuring webpack as :

[code]

instead of :
[code]

[2016-05-09 10:19] Krisa commented on #39
I guess in the meantime it would be good to warn people in the readme of this issue (that the plugin is not compatible with node v6) - and/or additionally providing a meaningful error message in the webpack output (e.g. "CopyWebpackPlugin is not yet compatible with Node v6"). Nailing down the issue of why my relatively complex webpack build was failing due to this plugin was really not a quick one

[2016-05-10 04:25] jseminck commented on #41
Somehow the issue solved itself. No idea why/how. Closing this.

[2016-05-10 11:30] nene commented on #41
Looks like the issue is still present. (I'm a team-mate of @jseminck )

The problem appeared when upgrading from copy-webpack-plugin 1.1.1 to 2.0.0 (same issue with latest 2.1.3).

Solved it by disabling the plugin for Karma (we don't really need copy-files for our unit-tests anyway).

[2016-05-10 21:37] amgohan commented on #39
any news with this bug?

[2016-05-11 02:01] bergr01 commented on #36
How does one even get a stack trace from webpack? I've got a similar useless message when I try to build my project at the moment...

[2016-05-11 04:21] bergr01 commented on #36
After doing some more local debugging looks like this error is due to

var union = function union(set1, set2) {
    return new Set([].concat(_toConsumableArray(set1), _toConsumableArray(set2)));
};

function _toConsumableArray(arr) { if (Array.isArray(arr)) { for (var i = 0, arr2 = Array(arr.length); i < arr.length; i++) { arr2[i] = arr[i]; } return arr2; } else { return Array.from(arr); } }
(or,

[2016-05-12 01:33] bergr01 commented on #36
Upgrading my Node version to 4.4.4 and rebuilding my node_modules seems to have made the issue go away, hopefully that helps someone out there!

[2016-05-12 16:02] landed1 commented on #36
I have this error here too :( but it appears to have worked..though doesn't give me full confidence.

[2016-05-12 16:09] landed1 commented on #36
I ran the node updater here and now version is 6.0.0 and no error. Thanks berg for the tip and Auha for the initial issue raise. BUT more than this thanks for a sane way (gulp spoilt brat here) to simply copy files and folders ....file-loader - pah !

[2016-05-13 06:37] kevlened commented on #39
This should be resolved in v2.1.4

[2016-05-13 06:40] kevlened commented on #44
Right now, it's necessary to have both defined if you're using the devServer. When webpack uses the devServer, the `output.path` value is empty, so I have to use `devServer.outputPath`. This is a known issue: https://github.com/webpack/webpack-dev-server/issues/337

[2016-05-13 06:40] #44 closed

[2016-05-13 08:13] landed1 commented on #39
I am using node v 6.0.0 and not getting major issues. I have not fully got what I needed fixed with an error like Cannot read property 'glob' of undefined but this isnt all the time...

[2016-05-13 08:14] landed1 commented on #34
I would love to know what alias is used for in webpack.

[2016-05-13 08:15] landed1 opened #45 "Problems while using ignore : ERROR in Cannot read property 'glob' of undefined"
plugins: [
    new CopyWebpackPlugin([
      {ignore: [
                '/app',
              ]},
      { from: path.resolve(__dirname, 'src'), to: path.resolve(__dirname, 'build') }
    ])
  ]

[2016-05-13 08:25] jmbarbier opened #46 "2.1.4 broke something"
Using AngularClass/angular2-webpack-starter with 2.1.4 (with node 5.10.1) raises an error

    new CopyWebpackPlugin([{from: 'src/assets', to: 'assets'}]),
    TypeError: CopyWebpackPlugin is not a function

reverting to 2.1.3 is OK. Something changed in your build process that makes the package fails with my setup. I'm on hurry, so i cannot investigate more for now, sorry.

[2016-05-13 08:25] schirrmacher opened #47 "Error: CopyWebpackPlugin is not a function"
I'm getting the following error when using Version 2.1.4:

2.1.3 runs without problems.

[2016-05-13 08:48] kd35a commented on #41
We are also experiencing this issue. We've tried `rm -rf node_modules && npm install`, but that didn't help. Downgraded to 1.1.1 until this issue is resolved.

Can this issue please be re-opened, as it seems like we are multiple people experiencing it?

[2016-05-13 10:45] pavankumarkatakam commented on #34
See this is one of my webpack config .. . .. .

[code]

By this config, i use the support and common folder when ever i require the files in that folder regarding the where the file is it will automatically resolve.

[2016-05-13 11:21] IGZangelsanchez commented on #47
2.1.4 is broken :(

[2016-05-13 11:30] jantimon commented on #46
Same here

[2016-05-13 14:06] lamo2k123 commented on #47
use CopyWebpackPlugin.default

[2016-05-13 15:36] t0rrro commented on #47
using CopyWebpackPlugin.default resolved this for me.

[2016-05-13 15:36] kevlened commented on #46
Reverting the changes. Will investigate this weekend

[2016-05-13 15:38] kevlened commented on #47
I'm reverting the changes and pushing a new version, so this shouldn't be necessary. I'll investigate further this weekend

[2016-05-13 15:40] kevlened commented on #47
Installing 2.1.5 should resolve this

[2016-05-13 15:40] kevlened commented on #46
2.1.5 has been published

[2016-05-13 15:41] kevlened commented on #45
I reverted the changes made yesterday. 2.1.5 may resolve this

[2016-05-13 15:52] Luchillo commented on #47
@kevlened It does, however my error was about the plugin not being a constructor?

[2016-05-13 15:56] kevlened commented on #47
I understand. I don't have time to investigate right now, so instead of blocking people on this issue, I pushed a fixed version.

[2016-05-13 16:42] Luchillo commented on #47
It's ok, actually people only needed to revert to previous version instead of you pushing a revert but i guess that works too.

[2016-05-14 03:38] kevlened commented on #45
Sorry, 2.1.5 won't fix your issue, because the config is incorrect. Try this:

    plugins: [
        new CopyWebpackPlugin([{
            from: path.resolve(__dirname, 'src'),
            to: path.resolve(__dirname, 'build')
        }],
        {
            ignore: [
                '/app',
            ]
        })
    ]

[2016-05-14 03:38] #45 closed

[2016-05-14 19:06] jmbarbier commented on #46
2.1.5 and 2.1.6 are OK, closing this and related

[2016-05-14 19:06] #46 closed

[2016-05-14 19:07] kevlened commented on #47
2.1.6 is now published and should fix the issue

[2016-05-15 00:37] kevlened commented on #41
I never write directly to the filesystem in v3.0.0, so please try with that version.

[2016-05-15 00:40] kevlened commented on #36
@Auha does the latest version resolve your issue?

[2016-05-15 05:43] jseminck commented on #41
3.0.0 seems to work for us, although we already used another workaround which we will probably keep (disable plugins for our tests).

[2016-05-16 12:53] landed1 commented on #36
in my case yes.

[2016-05-16 12:55] landed1 commented on #45
I'm sorry this is the same config as far as I can see.

[2016-05-16 17:53] amgohan opened #50 "is there a debug mod?"
is there a debug mode to be able to see what files are copied.
because I added the right configuration but nothing copied and my service started without any problem. But I have missing files in my public folder.

[2016-05-17 03:48] kevlened commented on #50
There's not currently a debug mode for this plugin. If you're running a dev server, webpack doesn't write any files to the filesystem. All the files will be [stored in memory](https://webpack.github.io/docs/webpack-dev-server.html#content-base).

[2016-05-17 04:02] kevlened commented on #45
I imagine you intend to ignore everything in that directory, so you probably want it to be `/app/**/*` and you probably want to ignore files that start with a `.` too.

    plugins: [
        new CopyWebpackPlugin([{
            from: path.resolve(__dirname, 'src'),
            to: path.resolve(__dirname, 'build')
        }],
        {
            ignore: [{
                glob: '/app/**/*',

[2016-05-17 09:04] landed1 commented on #45
Thanks this is now working for me :)

[2016-05-17 12:19] runn1ng opened #51 "Copy files from a directory to a different directory"
I want to copy files of a given file from one directory to a different directory in the result.

What I have now is

[code]

I want the files, that are in `app/images/homescreens`, to be in `dist/homescreens/` where `dist/` is the output directory. However, whenever I use globs like that, the `to` is ignored and the files are copied into `dist/app/images/homescreens/`. What should I do?

[2016-05-17 12:24] runn1ng commented on #51
This works, but it copies everything in the folder, which I don't want.

[code]

[2016-05-17 12:31] runn1ng commented on #51
OK, this seems to work!

new CopyWebpackPlugin([{
    context: `${__dirname}/app/images/homescreens`,
    from: `*.png`,
    to: `homescreens/`
}])

[2016-05-17 12:31] #51 closed

[2016-05-17 15:40] DenisIzmaylov commented on #32
Any news?

[2016-05-19 02:30] #39 closed

[2016-05-19 02:31] #41 closed

[2016-05-19 02:31] #47 closed

[2016-05-23 09:37] aanavaneeth commented on #39
I am using node 0.12 & I am having this issue

[2016-05-23 14:48] alexprice91 opened #52 "Doesn't Work Node 6.1"
It doesn't appear to be working for Node 6.1. I am getting this error:

`ERROR in EISDIR: illegal operation on a directory, read`

[2016-05-24 14:45] luisherranz commented on #52
I see the same error but my node is v4.3.1.

[2016-05-24 14:58] luisherranz commented on #52
In my case the problem was with the glob.

[2016-05-24 19:49] Naquaduh commented on #52
I have the same issue and am using a glob like so.
`from: { glob: '**/*' }`

What did you do to fix it?

[2016-05-29 17:13] smajl commented on #52
Same problem here on 6.2.0. The error basically means that it tries to read something as a file, but it is actually a directory. It fails, when your glob patterns contains subdirectories. It works when reading a directory without subdirectories.

Definitely needs fixing.

[2016-05-30 05:03] kevlened commented on #52
This should be resolved in 3.0.1. Thanks for reporting!

[2016-05-31 07:42] aanavaneeth opened #54 "ignore is not working"
I am trying to move all files from my current folder to dist folder. `node_modules` is also present in current folder. I was trying to ignore `node_modules` folder whiile copying. I have used the following snippet:
`new CopyWebpackPlugin( [  {  from: '.'  } ], { ignore: [ 'node_modules' ] } )`

And this is not at all working

[2016-05-31 09:52] aanavaneeth commented on #54
Got the issue. My configuration was wrong. the correct configuration is:
`new CopyWebpackPlugin( [ { from: '.' } ], { ignore: [ 'node_modules/*' ] } )`

Please close the issue!

[2016-05-31 11:49] aanavaneeth commented on #54
it worked but, it is keeping  folders. it is avoiding only files. Is there a way to avoid everything include the `node_modules` folder itself?

[2016-06-01 15:50] kevlened commented on #54
So, you're almost there. To get it to work today, try:
`new CopyWebpackPlugin( [ { from: '.' } ], { ignore: [ 'node_modules/**/*' ] } )`

I guess it could be made a bit cleaner. Most of the time, if someone passes something that looks like a directory, they want to exclude everything in that directory, so in the future, you could use something like this:
`new CopyWebpackPlugin( [ { from: '.' } ],

[2016-06-01 15:51] #52 closed

[2016-06-01 15:52] #36 closed

[2016-06-01 15:58] aanavaneeth commented on #54
@kevlened nope. This is still keeping folders :(
I dont want the 'node_modules' folder at all...

[2016-06-02 06:20] kevlened commented on #54
Make sure to clean your build directory. Webpack doesn't clean it before copying things to it, so you may see old folders. Another possibility is some of the folders have files that start with dots. We'll ignore those too:

    new CopyWebpackPlugin([{ from: '.' }], {
        ignore: [{
            dots: true,
            glob: 'node_modules/**/*'
        }]
    })

I should make this easier, or a

[2016-06-06 06:28] aanavaneeth commented on #54
Hurray It worked! but a minor correction! it should be `dot: true` not `dots: true`

But, lets have the enhancement! that helps! :)

[2016-06-12 04:39] craigcosmo opened #56 "not working, no error, no files were copy"
my folder structure
[code]

my config

[code]

[2016-06-14 12:00] aanavaneeth commented on #56
hi probably because of your context. your context is `app` but `image` folder is there in `project` folder

[2016-06-14 23:57] AlexKvazos opened #57 "It doesn't work with webpack-dev-server"
I have nearly the same config for building and for watching, but when using watch, no output folder gets created and no error is shown in the console.

[code]

[code]

[2016-06-14 23:58] AlexKvazos commented on #56
Having the same issue #57

[2016-06-15 00:09] AlexKvazos commented on #57
So I just checked that 3.0.0 removes writing to the FS, but doesn't that mean that the files should be available from memory?

[2016-06-15 00:11] #57 closed

[2016-06-15 00:11] AlexKvazos commented on #57
Sorry ._.

[2016-06-15 01:45] craigcosmo commented on #56
@aanavaneeth  you are right. I remove the context app, it works now.

[2016-06-15 01:45] #56 closed

[2016-06-15 04:34] kevlened commented on #57
No worries! The files (as well as your bundle) are available from memory on the dev-server. This is true for all dev-server assets. If you really want to write the assets to the filesystem when running a dev-server, use the [write-file-webpack-plugin](https://github.com/gajus/write-file-webpack-plugin).

[Reference](https://webpack.github.io/docs/webpack-dev-server.html#content-base)

[2016-06-15 04:34] kevlened commented on #56
Thanks @aanavaneeth!

[2016-06-15 08:41] aanavaneeth commented on #56
I usually maintain like the below: (I am not enforcing you)

project (simple site. non-angular. for angular, better follow component based folders)
  |src
    | img
    | scss
    |JS
  |package.json
  | webpack.config.js

[2016-06-17 22:30] KingScooty opened #58 "[Feature] Support `context` globs"
I have a series of react components in folders that all have their own `images` folder. I'd really like to be able to glob the context and then copy the images and folders inside that context to a destination.

Is this ^^ possible? I've tried the following, but it doesn't seem to work:

[code]

And doing:

[code]

Has the annoying consequence of copying all the parent folders to `images`.

e.g: `.

[2016-06-19 00:25] kevlened commented on #58
Globs in contexts aren't supported. It's an interesting use case though.

[2016-06-21 01:30] TimNZ opened #59 ""Error: EMFILE: too many open files, open.." on Windows"
That's pretty much the issue.
Works fine on OS X

Have googled and can't find any way to increase Windows open file limit.
Is now also happening on OS X 'ENFILE: file table overflow'

As far as I can tell this module always works down to an individual file level in async.

I've worked around this by changing the app structure (it will be the ~8000 files in node_modules) and doing a shell cp instea

[2016-06-24 02:12] qiaolb commented on #59
I have a same problem.

[2016-06-25 18:35] kevlened commented on #59
This is tricky, because [node-glob no longer uses graceful-fs](https://github.com/isaacs/node-glob/issues/71) and just including it before node-glob won't work because [graceful-fs has stopped monkey-patching fs](https://github.com/isaacs/node-graceful-fs#v4). The [graceful-fs docs say not to patch fs in a library](https://github.com/isaacs/node-graceful-fs#global-patching) (like this one), so it'

[2016-06-25 22:05] TimNZ commented on #59
The irony of me suggesting graceful-fs based on comments I real elsewhere for different issues and then never looking at the module myself and seeing that it would help :)

[2016-06-26 01:15] kevlened commented on #59
No worries! Others had the same issue, so I'm glad it's in the docs now.

[2016-06-27 16:30] igor-ribeiro opened #61 "Update on remove"
Is there a way to remove 'removed' files?

[2016-07-05 07:54] keyiis commented on #59
@kevlened i have same issues,i already monkey-patch fs,below is my code:
[code]
error msg:
[code]

[2016-07-05 17:44] lcxfs1991 opened #63 "I am writing a new feature for copy-webpack-plugin"
how can I build index.js?

[2016-07-21 21:11] boxxxie commented on #50
i think i'm having a similar problem. i expect my files to be moved, but they are not moved and there is no logging to tell me if things are working or not.

when i use the plugin to move one file, with absolute path, to another absolute path, and use force/copyUnmodifed... i can't access the file from the frontend.

when i use express.use(path, express.static(path)); then i can get my static file

[2016-07-22 19:10] jbender commented on #41
I'm having this issue on `v3.0.1`, so I would guess that @jseminck's problem was solved by disabling the plugin rather than the version bump

[2016-07-27 12:41] kb3eua commented on #59
@kevlened I'm seeing the same issue that @keyiis is reporting.  Even after applying this patch, the error still occurs when trying to copy the "ckeditor" folder.

[2016-07-29 16:16] jgrosso commented on #59
+1

[2016-07-30 04:17] youngwind opened #64 "watch file not working in watch mode"
As readme says:

But it's not working in my project. Here is the webpack.config.js

[code]

PS: the index.html copied to the dist directory successfully, but can not watch the index.html.
Any suggestion will be helpful.

[2016-07-30 05:45] keyiis commented on #59
@kb3eua I use gulp to copy file.

[2016-08-01 16:30] kb3eua commented on #59
@keyiis I didn't want to introduce another task runner.  I was able to get it working by upgrading to the latest version of this plugin and using the following configuration to ignore certain files:

[code]

[2016-08-03 11:30] patriciussanctus opened #65 "webpack-dev-middleware support"
i use serve webpack-dev-middleware, how i can use copy-webpack-plugin?

[2016-08-04 19:12] aj0strow opened #66 "Plugin should fail when file not found"
Would you accept a PR to fail the build when the `from` file or directory is not found?

Here's what happened this morning. Netlify allows static routing, but I need to copy `_redirects` into the output folder.

[code]

Let's say someone (me, last night) changes the `from` field to:

[code]

Now the file is not found (it's an absolute path) and is not copied to the output folder. Every page on the

[2016-08-04 19:58] aj0strow commented on #61
I use https://github.com/johnagan/clean-webpack-plugin to avoid stale files.

[2016-08-04 20:07] aj0strow commented on #34
@pavankumarkatakam it sounds like want to require local modules easily. Use [webpack `resolve.root`](https://webpack.github.io/docs/configuration.html#resolve-root) to for local imports.

Example:

[code]

Then if you have a module `$project/common/myModule` you can import it without prefix.

[code]

None of this relates to copying static files however, which is what `copy-webpack-plugin` does.

[2016-08-11 19:37] mikeerickson opened #67 "Skip if already exists"
Is there a switch to skip the copy process if the destination file already exists?
- And check if the destination is the same as source

I have my copy workflow moving bootstrap fonts to destination directory? Not sure if it is work the effort, but if I also perform task for images, etc. it would surely optimize the process.

[2016-08-12 16:56] sgentile commented on #2
Doesn't work on OSX   I have

[code]
it should be copying all the files from the assets folder to the root of src folder, but instead it's copying all the files into src/assets

[2016-08-12 17:01] sgentile commented on #2
I should also add that even trying to do this isn't working as workaround:

[code]

[2016-08-17 18:44] mikeerickson commented on #67
@kevlened ping ;-)

[2016-08-29 08:29] jstougaard commented on #6
Could the plugin provide the possibility to define a transform method as part of the options, which would be called with the contents of each copied file?

You still wouldn't be able to use the webpack loaders this way, but you would be able to use the underlying modules to do the transformation, e.g.  uglify-js.

Made a basic proof-of-concept here: https://github.com/jstougaard/copy-webpack-plugi

[2016-08-31 13:57] don-bluelinegrid commented on #41
Also having same issue:

[code]

[2016-08-31 15:12] guatedude2 opened #68 "Preserve file permissions"
Looks like copy-webpack-plugin isn't preserving the permissions of the source, I'm copying "electron-prebuilt/dist/Electron.app" folder to "build/My App.app". Looks like all files get copied but the app doesn't work because the "Electron.app/Contents/MacOS/Electron" file doesn't have the right permissions.

I'm using this as part of the release process not for development

[2016-09-01 04:24] DarrenHou1993 opened #69 "keep the directory structure"
form：bower_components/ammap/dist/ammap/images;
to : webpack_src/assets/img/theme/vendor;

I hope the result that my directory structure is 'webpack_src/assets/img/theme/vendor/ammap/dist/ammap/images'
but now my directory structure is  ' webpack_src/assets/img/theme/vendor/allfile'。
sometime i also hope the result that my directory structure is  webpack_src/assets/img/theme/vendor/dist/ammap/image

[2016-09-01 06:05] Bruce-Jcw commented on #41
+1, anyone fix it ? "version": "3.0.1"

[2016-09-01 06:10] Bruce-Jcw commented on #41
fix it. DO NOT add slash at front.
{ from: path.join(__dirname, '../src/_locales'), to: '/_locales' }  ====> wrong, error permission denied
{ from: path.join(__dirname, '../src/_locales'), to: '_locales' }  ====> right

[2016-09-01 10:20] maxmumford commented on #50
I was also using this plugin to move static files into a public directory and it took me a good half hour to discover this "in memory" functionality as the actual cause.

+1 for an info message in the console, and ideally a switch to disable this functionality, as (for me at least) it's not useful in a dev environment.

[2016-09-05 02:31] TheLarkInn opened #70 "What are _the right_ use cases for this plugin."
My self, and other webpack team members we're wondering what the _right_ usecases for this plugin are?

I was finding myself, struggling between telling people to _not_ use it or use the plugin if they simply want to have their assets _not_ bundled and emitted to the dist folder etc. However that would be an anti-pattern for what webpack is trying to accomplish (managing all assets in a project).

[2016-09-05 09:19] asabil commented on #70
I just stumbled upon this plugin, and the use case is config management. Basically the app is built using webpack, but it needs to load a JSON config file at runtime.

[2016-09-05 14:03] TheLarkInn commented on #70
That's a good case! Only playing devil's advocate: how would that differ if you instead used json-loader and assign to a variable or service etc.

[2016-09-05 14:17] asabil commented on #70
I ended up using plain webpack (file-loader + xhr request on app load). Couldn't get this plugin to work properly with webpack-dev-server.

If I create a separate chunk using json-loader, that chunk is no longer a json file once processed with webpack. This makes it pretty much unusable when configuring your SPA at deployment time.

[2016-09-15 03:01] Alex-Krautmann commented on #70
Like @asabil, I am looking into the best way to handle this situation. I am currently trying out [Astrum](http://astrum.nodividestudio.com/) to generate a styleguide for an angular component library.

The output of the build is the component library as a chunk and the styleguide app as a chunk. The styleguide app is mostly generated using Astrum. When the styleguide/astrum app starts, it makes a r

[2016-09-15 06:51] szubtsovskiy commented on #29
Hey guys! This functionality seems to be broken in 3.0.1. Does not work for me with webpack-dev-server even under OS X with a very simple setup and an example from README.md. Works well with just webpack though.

This is my webpack.config.js:
[code]

Images are not copied to "build" directory. It is not even created when starting webpack-dev-server.

I have just tested with version 2.1.6 and confi

[2016-09-15 14:50] kevlened commented on #68
Merging this into #35

[2016-09-15 14:50] #68 closed

[2016-09-17 15:49] Franky47 commented on #70
I have a use case, but I'm not sure yet if there's a better / more elegant solution.

I'm deploying my build folder to both Firebase Hosting and Surge.sh (for redundancy in case either service goes down). Firebase uses `index.html` as the entry point, and handles routing (the app is a SPA with router) by defining redirects. Surge uses a single `200.html` entry point to handle routing.

So I want t

[2016-09-18 11:15] jasan-s commented on #6
any update on minifying the copied files at build ?

[2016-09-18 13:50] gajus commented on #6
Yes, thats possible. PR is welcome.

[2016-09-20 21:40] tallaxes commented on #59
Having the same error on Windows with many files. graceful-fs does not help, most likely because it does not patch readFileSync/openSync codepath. Webpack's Compiler emitFiles uses [unconstrained async.ForEach](https://github.com/webpack/webpack/blob/master/lib/Compiler.js#L300) over assets, hitting the Node limit on open files (2048 on Windows, due to use of CRT).

`require("async").forEach(Objec

[2016-09-21 15:07] id0Sch commented on #59
having this issue on OSX (patch applied and all)

[2016-10-04 16:49] acanimal commented on #65
+1

I'm in the same situation. I have a universal app where pages are served by my own express app though the use of webpack-dev-middleware and the plugin is not executed.

[2016-10-06 08:36] refaelos opened #72 "Why make the destination relative?"
If the source is absolute path you're making the dest path relative... why?

[code]

When I put a source and destination path absolute I want them to stay absolute ... right?

This is my code:
`new CopyWebpackPlugin([{from: path.join(__dirname, root, 'assets/**/*'), to: path.join(__dirname, 'public/assets')}])`

[2016-10-06 14:35] foxbunny commented on #66
Or at least emit a warning. I got caught by this as well, and was scratching my head for quite a while.

[2016-10-07 13:28] filipesilva opened #73 "Glob copy broken for single files/folder"
Having `src/assets/file.txt`:
- `{ context: 'src/', from: { glob: 'assets/*.txt' }}` copies to `dist/assets/file.txt`
- `{ context: 'src/', from: { glob: 'assets/file.txt' }}` copies to `dist/file.txt` (no `assets/` dir)

Having specified `from` with `glob`, I would expect both patterns to behave similarly since both are valid globs that return the same file when used with `glob`:

[code]

[2016-10-12 11:11] kopax opened #75 "Can't install with npm"
$ npm version
     { 'react-boilerplate': '3.2.1',
       npm: '3.10.9',
       ares: '1.10.1-DEV',
       http_parser: '2.7.0',
       icu: '57.1',
       modules: '48',
       node: '6.5.0',
       openssl: '1.0.2h',
       uv: '1.9.1',
       v8: '5.1.281.81',
       zlib: '1.2.8' }
    $ npm --version
    3.10.9
    $ node --version
    v6.5.0

I am trying to add this project as dev dependenci

[2016-10-12 11:17] schnittstabil commented on #75
Maybe:
[code]

[2016-10-12 11:20] kopax commented on #75
@schnittstabil : Sorry it was my terminal that destroy the formatting.

I confirm the command is the same as `npm install --save-dev copy-webpack-plugin` and I have edited the original question.

[2016-10-12 11:34] schnittstabil commented on #75
@kopax Aww, I should read more carefully, I've also updated my answer.
AFAIK, `cheerio` has had some installing issues the other day.
Maybe you should remove `copy-webpack-plugin` in your `package.json` and try:
[code]

[2016-10-12 12:09] kopax commented on #75
The plugin is now installed, but the error remain. I will just ignore it. Thanks @schnittstabil !

[2016-10-12 12:09] #75 closed

[2016-10-18 09:33] duivvv commented on #70
3 use cases I use this plugin for

- json files that get loaded with fetch
- responsive image assets (srcset)
- fonts that get loaded by WebFontLoader

Is there a way to avoid using copy-webpack-plugin for those @TheLarkInn ?

[2016-10-18 11:01] ukupat commented on #6
When is this feature published to npm?

[2016-10-19 16:39] McPo commented on #59
This is still very much an issue, the monkey patch does not work.
Can we get this issue reopened for visibility @kevlened.

Ive looked into it, but am still clueless as to fix.

[2016-10-19 17:35] McPo commented on #59
@tallaxes path does work, although I needed a much lower limit (100). Patching WebPack itself also isn't ideal.

The file that needs to be patched is ./node_modules/webpack/lib/Compiler.js.
Make sure not to forget the closing bracket.

Thanks @tallaxes, Im still looking for a more elegant solution though. I doubt Webpack themselves will accept a PR when the number is variable.

[2016-10-19 18:02] tallaxes commented on #59
@McPo Webpack: It is still worth bringing it to their attention, I think. And there could be ways of coming up with a reasonable number, or just making it configurable.

100 seems unreasonably low; wonder what would limit it like that... For OSX/Linux: did you check OS-level file descriptor limits (i.e. `ulimit -n`)?

[2016-10-19 18:57] McPo commented on #59
@tallaxes done.
https://github.com/webpack/webpack/issues/3164

Ive bumped it back up to 1000 it works fine. I supposed my machine is not under heavy load, having said that, lowering it to 100 had no adverse effect on build time.

[2016-10-20 00:38] keyiis commented on #59
My issues looks like the floder has symlink,resulting in a circular dependency,but I'm not sure.

[2016-10-20 09:36] jakub2 opened #79 "Unable to ignore directory completely"
Hi, I have a directory in src/assets/css, and I want this directory to be excluded from copying. My code below excludes all files from that directory, but I want to ignore the whole directory. I don't want to have an empty directory in the destination. How can I do that please?

Here's my code from config\webpack.common.js:
[code]

[2016-10-20 14:49] McPo commented on #59
Ive created a PR. for those suffering from this issue you can use it right away by setting your package.json to

"webpack": "McPo/webpack#1.13.2-file-limit"

Ive limited to 1000, but perhaps 500 is more reasonable.
You can to set it to a user defined value using the environment variable WEBPACK_FILE_LIMIT

https://github.com/webpack/webpack/pull/3166

[2016-10-20 15:38] kevlened commented on #59
The upcoming version of copy-webpack-plugin (currently in master) avoids `fs.readFileSync`, which is the main source of the issue, because it isn't patched by graceful-fs. That should allow graceful-fs to be a proper solution.

For additional control, I've added a concurrency option that will allow changing how many files the plugin attempts to read at once (currently set to a default of 1000, but

[2016-10-20 18:05] mikevaleriano commented on #64
+1

[2016-10-20 21:03] hankthewhale commented on #29
I'm running into issues with this as well. Have tried the latest and `2.1.6` as @szubtsovskiy suggested with no luck.

Here's the gist

[code]

Both of those paths are correct. `BUILD_DIR` is being used in other parts of the webpack config just fine.

Here's the dev server section
[code]

I've tried with and without the outputPath.

I can't get this plugin to work with the dev server or my product

[2016-10-22 18:52] guzgarcia commented on #28
Is still not implemented this functionality?

[2016-10-23 19:52] kevlened commented on #6
The transform feature is included in v4.0.0, which is now pushed to npm.

[2016-10-23 19:52] #6 closed

[2016-10-23 19:55] kevlened commented on #11
Debugging is a plugin option in v4.0.0. The plugin doesn't respect webpack's global debug option, because that feature is removed in webpack 2.

[2016-10-23 19:55] #11 closed

[2016-10-23 20:01] kevlened commented on #28
@guzgarcia It isn't, and there's no timeline for when it will. The plugin isn't currently designed to copy files after webpack is finished. Doing that would actually require writing directly to the filesystem (while we only write to webpack's compilation.assets, and let webpack ultimately write to the filesystem).

Perhaps it just makes sense for another plugin (or tool, like grunt or gulp) to cop

[2016-10-23 20:03] kevlened commented on #31
We now add a warning if the source file doesn't exist. If you'd like this to fail the build, also include the [NoErrorsPlugin](https://github.com/webpack/docs/wiki/list-of-plugins#noerrorsplugin).

[2016-10-23 20:03] #31 closed

[2016-10-23 20:04] kevlened commented on #32
Filename patterns are now supported in v4.0.0

[2016-10-23 20:04] #32 closed

[2016-10-23 20:05] kevlened commented on #34
Thanks @aj0strow

[2016-10-23 20:05] #34 closed

[2016-10-23 20:10] kevlened commented on #50
v4.0.0 includes a debug mode with 3 levels of debugging: `warning`, `info` and `debug`

@maxmumford @boxxxie If you're using webpack-dev-server, the plugin should work with absolute file paths now. If you're using an older version of webpack-dev-server, you may need to define `devServer.outputPath`. An error is thrown if that's necessary, otherwise, it should work.

[2016-10-23 20:10] #50 closed

[2016-10-23 20:11] kevlened commented on #54
This is now the default in v4.0.0. Thanks for filing the issue!

[2016-10-23 20:11] #54 closed

[2016-10-23 20:17] kevlened commented on #59
This should be fixed in the latest version (v4.0.0). We avoid `fs.readFileSync`, so graceful-fs can now patch the issue, but there are also extra measures to ensure we don't read too many files at once (a `concurrency` option, which defaults to 100). I'm closing this for now, but if you encounter the error after upgrading to v4.0.0, I'll reopen.

[2016-10-23 20:17] #59 closed

[2016-10-23 20:18] kevlened commented on #61
The [clean-webpack-plugin](https://github.com/johnagan/clean-webpack-plugin) is a good recommendation. Thanks again @aj0strow !

[2016-10-23 20:18] #61 closed

[2016-10-23 20:20] kevlened commented on #63
`npm install && npm run build`

Thanks for contributing!

[2016-10-23 20:20] #63 closed

[2016-10-23 20:23] kevlened commented on #64
I'd enable debugging (`info` level) with the latest version of the plugin (v4.0.0). Are you using webpack-dev-server or `--watch`?

[2016-10-23 20:28] kevlened commented on #65
If you're writing to an absolute path, there was an issue prior to v4.0.0. If upgrading to the latest version doesn't fix your problem, enable debugging (info level) to investigate.

[2016-10-23 20:30] kevlened commented on #66
v4.0.0 now emits a warning on missing source files (or directories). If you'd like this to fail the build, also include [NoErrorsPlugin](https://github.com/webpack/docs/wiki/list-of-plugins#noerrorsplugin).

[2016-10-23 20:30] #66 closed

[2016-10-23 20:32] kevlened commented on #67
I'm not sure if this would actually speed up the build, because in order to check for changes, you'd have to read every file.

The feature is possible to build though.

[2016-10-23 20:38] kevlened commented on #69
There are a few ways to do what you want, but it depends if you want the entire directory, or just the image files.

Entire directory:
[code]

Just image files:
[code]

I'm curious you're trying to copy to webpack_src before your webpack build, during, or after?

[2016-10-23 20:43] kevlened commented on #72
We don't write files directly to the filesystem (using `fs`). Instead, we write files to `compilation.assets` (webpack's asset management), then webpack writes the results. The keys in `compilation.assets` are file paths that are relative to the output directory, so we have to convert absolute paths to relative ones.

If you're having trouble figuring out where the plugin is writing your files, th

[2016-10-23 20:43] #72 closed

[2016-10-23 20:50] kevlened commented on #73
We treat globs different than file or directory paths. With file or directory paths, we can automatically figure out a context, where a glob is more difficult.

I could make them function the same way, but it'd be kind of a hack (figuring out the context based on the first wildcard in the glob).

[2016-10-23 20:55] kevlened commented on #79
I'm guessing there are dot files left in the directories. See #54 for details. v4.0.0 has more reasonable defaults, so an update will probably fix your issue.

[2016-10-23 20:55] #79 closed

[2016-10-23 21:12] aj0strow commented on #66
@kevlened thanks, upgrading!

[2016-10-23 21:31] kevlened commented on #70
@TheLarkInn I originally wrote the plugin to make it easier to build a Chrome extension with webpack.

Chrome extensions have several additional files (images, a manifest file, etc), that required the [file-loader](https://github.com/webpack/file-loader). I found the file-loader syntax cumbersome, so I wrote a cleaner interface (inspired by [transfer-webpack-plugin](https://github.com/molforp/tran

[2016-10-23 22:39] filipesilva commented on #73
In my case, we just needed it to work exactly like a glob. We ended up writing a simpler plugin that just copied globs as is (https://github.com/angular/angular-cli/blob/master/packages/angular-cli/plugins/glob-copy-webpack-plugin.ts).

I understand this issue might be out of scope for `copy-webpack-plugin`.

[2016-10-24 16:32] jmlopez-rod commented on #28
@kevlened , that's what my PR was supposed to do. It is probably outdated, but the main thing was this:

[code]

First we check if the file we are trying to copy is help by webpack. If it is then we just make a copy to another asset with the name of your copy. That way webpack will output the copy when it is time to emit. If it is not in the webpack domain then we just create another asset for web

[2016-10-26 08:01] aanavaneeth commented on #54
That's great, @kevlened  :)

[2016-10-26 12:16] padinko opened #84 "copy folders in Windows"
I am using Windows 7,
I have folder with subfolder which i want copy

problem is with subfolder and dev-server: this plugin return assets with backslash and dev-server don't find this files

example:
`assets\lang\en.json` from plugins
`assets/lang/en.json` from browser request

[2016-10-28 12:51] urbanhusky commented on #58
Why aren't they? I mean, I just wasted a good part of the day trying to get something similar to work.
In our case, we have `app/assets` which contain all kinds of images, fonts etc. Most of them are not correctly picked up by webpack (partially because we have a lot of 3rd party bootstrap code that uses strings to reference assets).

Therefore we want to copy everything from `app/assets/**/*` to

[2016-10-30 02:33] jmlopez-rod commented on #15
@tobinibot thanks for the link, I'll be using that one for sure.

[2016-10-31 14:50] larsthorup commented on #84
I have the same problem (win10, node@7, copy-webpack-plugin@4.0.0).

Running the tests with `npm run build && npm run build:tests && mocha compiled_tests/` gives 30 failing tests, all involving mismatched slashes and backslashes, like e.g.

    1) apply function with glob in from can use a glob to move multiple files to the root directory:

      AssertionError: expected { Object (binextension.bin

[2016-10-31 16:21] larsthorup commented on #84
I will see if I can figure out a fix for this...

[2016-11-04 03:04] QWp6t opened #86 "[Feature] Event Hooks"
In my particular use case, I'm wanting to take the initial file name and output file name (in my case, hashed), and then use those to write to a manifests file. Having events in this plugin into which I could hook to get the file names would be awesome. There might be other use cases for events in other places as well, which is why I wasn't super specific with my issue title.

So if nothing else,

[2016-11-04 03:05] QWp6t commented on #86
I can submit a PR with the event I suggested, if you'd be receptive to it.

[2016-11-04 14:58] monolithed opened #87 "ERROR in Path must be a string."
[code]

[code]

[code]

[2016-11-04 15:02] monolithed opened #88 "Allow braced sections"
### Actual

[code]

### Expected

[code]

The current error:

[code]

I've already tried the glob option, but it does not work as well https://github.com/kevlened/copy-webpack-plugin/issues/87

[2016-11-04 15:12] monolithed opened #89 "Сopy the directory itself"
### Actual

[code]

### Expected

[code]

Output: `folder/files`

[2016-11-05 21:05] odiumediae commented on #29
I'm having the same problem, but I haven't found a satisfying solution, yet, apart from the usual hacky stuff I don't want to use in my otherwise well-configured project.

Copying files from a source assets directory over to the build directory works perfectly fine with Webpack, but doesn't work at all with webpack-dev-server. The (write-file-webpack-plugin)[https://github.com/gajus/write-file-web

[2016-11-05 23:15] szubtsovskiy commented on #29
Did you try the solution they described in the docs? I remember there
was something added about usage of webpack's internal file system and how
to deal with it.

On Saturday, 5 November 2016, letmecode <notifications@github.com> wrote:

--
Sergey Zubtsovskiy
sergey.zubtsovskiy@gmail.com
Skype: szubtsovskiy

[2016-11-06 09:23] odiumediae commented on #29
Which docs are you referring to, *webpack-dev-server*, *copy-webpack-plugin* or *write-file-webpack-plugin*? I've waded through all of them, tried several devServer configs, but no dice. I remeber havingvreadvsometgingvabout the internal file system of *webpack-dev-server*, but I cannot find it anymore.

I would appreciate it, if you could point me there. Thanks for replying, by tge way!

[2016-11-06 11:33] szubtsovskiy commented on #29
This is what I was referring to: https://github.com/kevlened/copy-webpack-plugin/pull/71/files

I see now that they are suggesting using write-webpack-plugin which does not work for you. I assume that using older version of the plugin does not work either, is it correct?

This is my webpack config from the project I was referring to previously:
[code]

Dependencies:
[code]

It works both with webp

[2016-11-07 11:52] odiumediae commented on #29
Thank you very much, I appreciate your help.

As you expected correctly, my problem was that I had the current stable version `copy-webpack-plugin@4.0.0` installed. After reverting to `copy-webpack-plugin@2.1.6`, which is the latest version prior to `3.0.0` everything worked as it does with `webpack`.

So, I'm running Node.js `v7.0.0` with these dependencies:

[code]

However, using an outdated ve

[2016-11-07 12:23] szubtsovskiy commented on #29
Great that it helped!

@hankthewhale could you also try this set up if your problem still persists?

[2016-11-08 01:31] allanmclemore commented on #29
I was broken on "4.0.0", so I rolled back to "2.1.6".

copy-webpack-plugin "2.1.6" works with webpack-dev-server:
css assets are now copied to my /dist folder when I use webpack-dev-server with "copy-webpack-plugin".

Suggestion:

Maybe the fix that was added in 2.1.6 got removed, because someone didn't know why it was needed, so diff "2.1.6" and "4.0.0" and see what changed.

[2016-11-08 01:43] odiumediae commented on #29
I've removed the `copy-webpack-plugin` from my project completely and used a basic shell script inside the package.json. I made a new Phoenix starter project with it (Phoenix, Webpack, Stylus, React and Hot Module Replacement): [Webpacker](https://github.com/odiumediae/webpacker). Works nicely.

I can't believe I wasted so much time with something a small shell script can do.

[@szubtsovskiy](http

[2016-11-09 01:23] didymu5 commented on #87
any resolve with this? I got the same error with the same version

[2016-11-10 21:26] deiga opened #90 "[Feature] Persisting between full webpack builds"
You do have `copyUnmodified` set to `false` as default, but that cache is never stored anywhere and thus fails to actually cache anything

[2016-11-11 15:26] letoss opened #92 "transform not working... or... transform example in the doc?"
Hello guys (and ladies).

I'm trying to copy my index.html and I need to transform a path inside it.

Something like this:
[code]

I need to change pathToChange to '/'.

My plugin config is:
[code]

The path is not changing. Also I tried returning just 'test' to see if the hole content is overwritten to 'test', but that is not even working.

Am I doing something wrong, guys?

Thanks.

[2016-11-11 15:50] kevlened commented on #92
Check your version. This feature wasn't added until 4.0.0 (the latest release).

[2016-11-11 15:53] kevlened commented on #90
We do cache, but only between `webpack --watch` and `webpack-dev-server` runs. Persisting between full webpack builds is a good idea though. I'll check out your PR

[2016-11-11 16:00] kevlened commented on #89
We also have to support the use-case of copying the folder contents to the build directory. That's what currently happens when you omit `to`. In your suggestion, the only way to achieve copying folder contents to the build directory is with a blob.

[code]

This may be more reasonable, but would be a pretty big breaking change.

[2016-11-11 16:02] kevlened commented on #88
This is a bug. Here's a workaround:

[code]

[2016-11-11 16:04] kevlened commented on #87
It's not resolved yet. Looks like there's a gap in our test coverage.

[2016-11-11 16:07] kevlened commented on #73
I'm not closing this, because it's a compelling usability story. It'd be a breaking change, and involve some magic, so I'm going to push investigating this until the next major release.

[2016-11-11 16:09] filipesilva commented on #73
It could be hidden behind a flag, e.g. `strictGlob`.

[2016-11-11 16:10] letoss commented on #92
Thanks for the quick answer @kevlened. Now it's working. I had 1.1.1 version.

Now I have an error `ERROR in content.replace is not a function`. What type is content?

[2016-11-11 16:14] kevlened commented on #84
@larsthorup Saw your PR; I'll get that in soon. This is definitely a gap in our test coverage. I think I can add tests around this without spinning up a cross-platform CI.

[2016-11-11 16:20] kevlened commented on #86
I wonder if there's a way to integrate with [webpack-manifest-plugin](https://github.com/danethurber/webpack-manifest-plugin) or [webpack-assets-manifest](https://www.npmjs.com/package/webpack-assets-manifest) instead of adding an extra event. This needs more investigation.

[2016-11-11 16:26] kevlened commented on #92
Glad it worked! It's a Buffer. A `.toString()` should convert it for you.

[2016-11-11 17:32] letoss commented on #92
Thank you very much!

I suggest to add the version thing and a little example about transform into the doc.

[2016-11-11 17:32] #92 closed

[2016-11-11 17:53] QWp6t commented on #86
Yes, that's definitely possible. I do it in a [similar plugin that I wrote that's based on yours](https://github.com/roots/sage/blob/alpha4/assets/build/webpack.plugin.copyglobs.js#L72) (I assign the value to the manifest on [L94](https://github.com/roots/sage/blob/alpha4/assets/build/webpack.plugin.copyglobs.js#L94). I made a point to use the same property names as you so that it would be easy to

[2016-11-12 02:19] colepatrickturner opened #93 "[Feature] Ignore files in entry point?"
Hello!

I'm wondering if it's possible to ignore files that are included in the entry point, or were included by the entries?

Cheers!

[2016-11-13 21:32] kevlened commented on #93
There's both a global and pattern-level ignore that accepts globs.

[2016-11-13 22:36] #84 closed

[2016-11-14 00:42] #87 closed

[2016-11-14 00:42] #88 closed

[2016-11-15 14:03] daniloprates commented on #87
Any workaround for this bug?

[2016-11-15 14:07] monolithed commented on #87
It seems has been [fixed](https://github.com/kevlened/copy-webpack-plugin/commit/7c2e14657c1e7f8c7d8d61c77ff35b05a3c29ede) already

[2016-11-16 02:29] choongmanee opened #97 "unable to install 4.0.1"
Hi guys,

I was able to install 4.0.0 but had some errors with 4.0.1. The error message is below. Looks like is-glob is out of range in 4.0.1 under "dependencies":
npm ERR! node v4.4.4
npm ERR! npm  v2.15.1
npm ERR! code ETARGET

npm ERR! notarget No compatible version found: is-glob@'>=3.1.0 <4.0.0'
npm ERR! notarget Valid install targets:
npm ERR! notarget ["0.1.0","0.2.0","0.3.0","1.0.0","1.1.0

[2016-11-18 09:18] andreicek opened #98 "[Feature] Passing throw loaders"
Hi,

is it possible for the files to go thru the loaders? This way we can get fingerprinting of files, and etc.

Thanks

[2016-11-21 14:38] evilebottnawi commented on #10
@kevlened i have same error, but only if i copied file or files from directory placed in `node_modules` (in other places all works fine).
Example:
[code]
I am try to debug and find what files pushed in `compilation.fileDependencies`, maybe related to `webpack`?

[2016-11-21 14:42] evilebottnawi commented on #10
Do not just copy a work out when files are changed, but if I change a file and then change any entry, the changed file is copied as needed

[2016-11-21 14:55] evilebottnawi commented on #10
@kevlened The problem was in the file manager for some reason he refused to write to that directory) sorry for taken away time :smile:

[2016-11-22 16:29] jdeniau opened #99 "[Bug] Copy multiple time the same file does one input only"
I tried to do something like this:
[code]

When doing that, only one output file is created.
I had to do this to make it work:
[code]

[2016-11-24 01:20] photonstorm commented on #15
@tobinibot thanks, I too hit this exact problem, and am now using the shell plugin instead.

[2016-11-24 15:35] evilebottnawi opened #100 "Use `indexOf` instead `_.includes`."
Why? It is faster and increases performance (if you have many files) :smile:
/cc @kevlened

[2016-11-26 18:51] jpsear commented on #99
Yup — I have exactly the same problem

[2016-11-30 10:54] richmeij opened #101 "Copy empty folders"
Hi,

Thanks for this plugin 👍
I have a static folder I want to copy to the dist folder. This folder contains three folders, like so:
- static
   - assets
   - script
   - style

I want to copy these folders, regardless if they have content. Is that possible?
I currently have the following setup, and it only creates the folders in dist when they contain files:

    new CopyWebpackPlugin([
        {

[2016-12-02 19:17] jayrmotta commented on #22
@alex88 I'm probably making the same stupid mistake, can you tell what you found about it please?

[2016-12-02 19:20] alex88 commented on #22
@jayrmotta I don't remember actually, I don't have that code in any repo either, maybe the ignore key is wrong, I really don't know sorry

[2016-12-07 09:52] valscion commented on #70
I'm trying to use this to output my sourcemap files to different folder than the rest of my assets, as I don't want my sourcemaps to be accidentally publicly accessible. I haven't figured out how to do that via normal webpack means, and I'd rather not just append another command after webpack builds as if that would fail, the sourcemap files might not be moved away from the bundle directory when t

[2016-12-08 01:21] Alex-Krautmann commented on #70
@valscion

Off the top of my head a couple things to try

1) Filter out .map files at the server level
2) In the webpack config, do something different for dev vs. production and have npm scripts run one configuration or the other
    a) do something conditional based on NODE_ENV in webpack config `devtool: (NODE_ENV === 'dev) ? 'source-map' : '' `
    b) Preferred method is to have 3 webpack conf

[2016-12-08 08:46] valscion commented on #70
Thanks! I indeed wanted my sourcemaps to be available in _production_, so I need to come up with an option that:

a. never puts the sourcemaps in a directory that might be accessible without authentication
b. allows me to put the sourcemaps in the directory of my choosing

I eventually figured out that this plugin isn't what I should use, so I have one solution in mind that is more like the "filte

[2016-12-11 05:01] MatthewKosloski commented on #24
Same!

My file structure:
[code]

My plugin:

[code]

With this Webpack output path:

[code]

Results in:

[code]

[2016-12-12 12:43] DenisVuyka commented on #58
The latest version does not seem to work with Glob correctly, at least with something more complex than `**/*`. The following pattern works with `glob` perfect but fails with `copy-webpack-plugin`:

[code]

[2016-12-14 09:47] evilebottnawi opened #102 "Added `oldPath` and `newPath` to `transform` option."
I am use in `to` option `[name].[hash].[ext]` and i would like to be able to get and the old path (now i can get this) and the new path (now i can't get this) :+1:

[2016-12-14 21:34] JeffreyWay commented on #99
Me too. Are we doing something wrong?

[2016-12-14 23:56] jpsear commented on #99
That's exactly what I ended up doing. I'm assuming it's wrong!

[2016-12-20 10:52] #102 closed

[2016-12-20 10:56] evilebottnawi opened #104 "[Feature] Support manifest file"
Why?
In some projects, I use external library (example `jquery`) and for the implamentation of this, I use this plugin (just copy files from another directory to other). The plugin supports the use of `hash`, but do not know original file path and resulting file path (include `hash` and other stuff). There is no manifest file :sob:

[2016-12-20 13:30] ilyazub commented on #70
I have several files that should be required for specific domains. Configuration file looks like this:
[code]
This configuration and webpack-generated mapping **shouldn't be added** to the bundle. That's why I'm **not using** `require.context`.
[code]

Such requirement contradicts with webpack purpose. That's why I'm trying to use that plugin.
Yes, I know, this can be done with fairly simple Node.

[2016-12-21 10:10] liqueflies opened #105 "Manifest for copied assets"
Hi,
what about manifest for hash copied assets?
There are some plugins that work with copy-webpack?

Thank you.

[2016-12-29 21:09] pinkstrings commented on #105
I found a hacky way around this using the `transform` option and the `md5-file` module:

[code]

[2017-01-04 07:16] Milewski opened #106 "Flatten deep nested matches?"
is there anyway to flatten the copied files to a single folder?? for example

i might have a bunch of nested folders and grab only the files i want by using this glob ```assets/**/*.{jpg,png} ``` and i want to output them to ```dist``` however it keeps the folder structure... would it be possible to copy all deep nested matches to a single flattened folder... ??

[2017-01-11 08:41] Anima-t3d commented on #15
@tobinibot How did you manage to copy files using the webpack-shell-plugin? I tried `cp path/from path/to` which works when I run it in terminal, but gives an error during shell execution.

[2017-01-11 12:15] photonstorm commented on #15
@Anima-t3d don't know if it's any use to you, but this is the script I use (obviously the paths are specific to my project):

In my webpack.config:

[code]

And this is my `copy-to-examples` file:

[code]

[2017-01-11 19:08] jmlopez-rod commented on #15
@Anima-t3d I have a similar thing as @photonstorm but I use `onBuildExit`:

[code]

`cp`: http://man7.org/linux/man-pages/man1/cp.1.html

[2017-01-12 15:03] patkec opened #107 "[Feature] Manually modify output path"
Hi!

It would be great if something like this would be supported:

[code]
Basically, we want to get all localization files and output them under a single i18n folder, preserving folder structure but without i18n.

I can also try adding this via PR during next days, if anyone else is interested.

[2017-01-13 06:06] Anima-t3d commented on #15
@jmlopez-rod due to copying to a relative path in the parent of where I run webpack I ended up using something more similar to what @photonstorm described:
[code]
I did not manage to get the path right when using the cp command.

[2017-01-16 00:14] jschroed91 commented on #98
+1 on this - I have the same question. I'll post if I find a solution

[2017-01-17 03:01] niksmac opened #108 "Error: Output filename not configured"
Here is my `webpack.config.js`

[code]

Returns nothing but `Output filename not configured.`

Running on Mac `10.12.2`

[2017-01-17 04:27] QWp6t commented on #108
User error. Read the docs.

[2017-01-17 17:03] bebraw opened #109 "npm is missing documentation"
I'm not sure if you have noticed, but the [npm page](https://www.npmjs.com/package/copy-webpack-plugin) of this plugin is missing the readme.

I didn't see anything obviously wrong in the package setup, but maybe the readme is getting ignored for some reason. If I install the package, it's missing the readme.

[2017-01-18 17:08] DevanB opened #110 "Error: Cannot find module 'copy-webpack-plugin'"
I'm not well versed in Webpack, yet, but I'm having some issues getting the plugin to run. After running `npm i -D copy-webpack-plugin` and setting up the plugin by doing the below, I get some errors. I've doubled checked my spelling and capitalization, but still no luck. As a side note, I don't actually see a `copy-webpack-plugin` folder in my `node_modules` also, odd.

[code]
and

[code]
when I

[2017-01-18 18:02] DevanB commented on #110
Derp, I forgot I shrinkwrapped this project. Problem resolved itself after fixing that.

[2017-01-18 18:02] #110 closed

[2017-01-19 08:10] Bnaya commented on #64
I have the same issue here

[2017-01-21 13:55] denizdogan commented on #64
@Bnaya Thank you very much, I didn't realize that! Someone™ should add Something™ to the documentation about this :)

[2017-01-21 21:55] kevlened commented on #97
This is unrelated to the changes in 4.0.1. It may have been an issue with the npm registry.

[2017-01-21 21:55] #97 closed

[2017-01-21 21:59] kevlened commented on #101
Unfortunately, this is a limitation with webpack. It can't create empty folders. Only files, not directories, can be added to `compilation.assets`, which is how we use webpack to write the files. You could, in theory, add a '.empty' file to each directory to ensure they appear.

[2017-01-21 21:59] #101 closed

[2017-01-21 22:03] kevlened commented on #98
Maybe? This needs some investigation, but for now, you can perform file content modifications using the `transform` option.

[2017-01-21 22:06] kevlened commented on #106
There's a command called `flatten` in the README that should work.

[2017-01-21 22:06] #106 closed

[2017-01-21 22:08] kevlened commented on #107
I like the idea of a `to` function!

[2017-01-21 22:10] kevlened commented on #108
This is an issue with your webpack configuration, not the CopyWebpackPlugin

http://stackoverflow.com/questions/34157313/output-filename-not-configured-error-in-webpack

[2017-01-21 22:10] #108 closed

[2017-01-21 22:12] kevlened commented on #109
Oh wow, that's new. It existed for a while. I'll have to investigate.

[2017-01-23 03:05] thejohnfreeman opened #112 "[Bug] Behaves as if `flatten === true` if `from` is not a glob"
With `output.path` as `build`:

[code]

[code]

I think these two configurations should behave the same, and the first behavior should only happen if I also pass `flatten: true`.

[2017-01-25 20:12] RPDeshaies opened #113 "Is it possible to tell copy-webpack-plugin to be less verbose ?"
Because if I copy 2000 files, its going to `console.log` them all in the assets table of webpack.

[2017-01-30 16:23] panchalkalpesh commented on #54
@kevlened You saved us a lot of trouble. Thanks!

[2017-01-31 22:54] jessica-pixvana commented on #68
I'm also trying to preserve the file permissions during a copy. Whats the status of this?

[2017-02-01 14:22] claudiuconstantin commented on #109
Still an issue

![image](https://cloud.githubusercontent.com/assets/1537573/22510431/a3011918-e89a-11e6-9d37-14c25273296f.png)

[2017-02-01 14:25] bebraw commented on #109
Could this be a problem on npm's side? I know they've been doing some CDN related work and fixing bits. Perhaps that broke something for this particular package.

[2017-02-01 19:41] imerr commented on #105
I'm running into the same issue here trying to use laravel mix (which is a wrapper around webpack to simplify common things)
They use webpack-stats-plugin to write out a manifest file
Which seems to do something like this https://github.com/FormidableLabs/webpack-stats-plugin/issues/3 :
[code]

I can't for the live of me figure out what the critera for files to show up in stats is
Could someone mo

[2017-02-02 17:05] tony-gutierrez commented on #29
So I am still not able to make this work with webpack-dev-server using 2.0.6.

The assets end up being available at /src/assets/xxx instead of /assets/xxx

Using webpack alone is fine. Any suggestions?

[2017-02-02 17:12] kevlened commented on #29
This isn't a bug, as explained [in the FAQ](https://github.com/kevlened/copy-webpack-plugin#this-doesnt-copy-my-files-with-webpack-dev-server). You must include the [write-file-webpack-plugin](https://github.com/gajus/write-file-webpack-plugin) to write files use webpack-dev-server.

[2017-02-02 17:16] tony-gutierrez commented on #29
So, I dont care if the files are written to the file system (sole purpsose of write-file-plugin). I just want the images available to dev server at the correct url. The thought is that the copy plugin would do that (only in memory as opposed to fs) when executed under wp-dev-server. Apparently it used to in an older version.

[2017-02-02 17:20] kevlened commented on #29
Try enabling `debug` to see where the latest version is putting the files in `compilation.assets`.

    new CopyWebpackPlugin([/* patterns */], {
        debug: true
    })

[2017-02-02 17:24] tony-gutierrez commented on #29
Thanks for the help, but I get the strategy now...use copy-wpp to copy, and write to dump, and then dev server to serve from the fs. It works, just negates all the speed benefits that led me down this path in the first place. Thanks again for helping.

[2017-02-02 17:27] kevlened commented on #29
Hmm, dev server should still serve from memory, not the fs (like all webpack assets). I just wonder if the plugin writes the files to the correct path in `compilation.assets` (where all the webpack assets end up).

[2017-02-02 17:48] tony-gutierrez commented on #29
So, correct. The issue was that webpack dev server was starting from node (not cli), and options have to be passed in defferently. So my devServer block was being ignored. 2.1.6 working.

[2017-02-07 09:58] baihuibo opened #114 "Plugin is easy to use, but does not support the `HtmlWebpackPlugin' plugin automatically import function"
https://github.com/jantimon/html-webpack-plugin#configuration

[2017-02-17 17:24] ivogallego commented on #107
Actually I'd include as parameters of the function all the available parameters in the template patterns, but I love the idea and actually need it!!

[2017-02-18 05:16] AvraamMavridis commented on #29
Broken for me as well in 4.0.1 with dev-server. Rolling back to 2.1.6 fixes the issue.

[2017-02-19 12:27] SebastianS90 commented on #104
Assuming you name your destination files `[name].[hash:10].[ext]`, try out this plugin:
[code]
Isn't that something you can work with?

[2017-02-19 12:31] SebastianS90 commented on #105
If you know the hash length, then you can use `StatsWriterPlugin` and extract hashes from the `stats.asset.name` field as presented in https://github.com/kevlened/copy-webpack-plugin/issues/104#issuecomment-280915911

[2017-02-27 06:27] raymanoz opened #116 "[Refactor] a debug level to show only files that have been copied"
The current behaviour of debug: 'info' is to report on everyfile being copied or not, when any file has changed, so you see a lot of this:
[code]

The actual file that is being copied out gets drowned out in a sea of these messages.

It would be nice to have a debug level that does not report on files that are not being copied. Another option is to move this excessive debug message to the debug le

[2017-02-27 08:16] SenHeng commented on #22
In case @jayrmotta or anyone else is still facing this problem, this is how I solved it. By adding a `./` in front of the `to:` path. Before that, it either put it in a .htaccess (`root/.htaccess/.htaccess`) directory, or didn't do anything at all.

`{ from: 'app/.htaccess', to: './.htaccess'}`

[2017-02-28 16:53] steven-haddix commented on #44
@kevlened It looks like this option is now removed in Webpack 2. Is this option still needed?

[2017-03-01 10:12] cheeaun opened #117 "[Refactor] Fix deprecation warning from loader-utils"
Been getting this:

[code]

Reference: https://github.com/webpack/loader-utils/issues/56

[2017-03-07 17:47] zonika commented on #98
@kevlened how would that work?
For example, i want to compile a less file and then copy it into the build directory. (not using ExtractTextPlugin as I need to keep the files separate from one another and will link them in the html header using react-helmet only after a response from the server)

[2017-03-09 17:10] JeffreyWay commented on #15
@kevlened Is there any chance of this being added?

I'd love to be able to copy a generated file that is only created after webpack finishes its build. Right now, I can't with your plugin.

[2017-03-10 22:19] klaszlo opened #118 "[Bug] Possible race condition with `url/file-loader`"
The relevant part of webpack.config:

    ...
    loaders: [
      {
        test: /\.(png|jpg)$/,
        use: 'file-loader?name=[path][name].[ext]'
      },
     {
        // HTML LOADER
        // Reference: https://github.com/webpack/raw-loader
        // Allow loading html through js
        test: /\.html$/,
        use: 'html-loader?exportAsEs6Default'
      }
    ...
    plugins: [
    new

[2017-03-11 12:28] klaszlo commented on #118
In the meantime I solved it with the following webpack snippet:

     new WebpackShellPlugin({ safe: true,
         onBuildEnd:[ 'pwd; echo \\"cp -R ' + PATH.uploads + ' ' + PATH.build + '\\"; cp -R ' + PATH.uploads + ' ' + PATH.build ]
     }),

[2017-03-18 15:16] irjigeiler commented on #59
still get this error on 4.0.1

[2017-03-23 16:26] admosity commented on #99
I think i figured it out. Ran into the same issue with having to dupe across. It appears that in watch mode, when a file is encountered once, it is placed into a cache. I had to enable `copyUnmodified` in order to make it work:

[code]

[2017-04-03 10:33] EvilAvenger opened #120 "copy-webpack-plugin fails after building prod"
Hello,

Trying to copy web.config file from root to dist directory using the plugin.
It actually copies the file to the target directory, but fails in the end.

npm-debug.log is in attach : [npm-debug.txt](https://github.com/kevlened/copy-webpack-plugin/files/889704/npm-debug.txt)
Configuration as follows:
[code]

![screenshot 2017-04-03 13 31 04](https://cloud.githubusercontent.com/assets/7008739

[2017-04-03 15:58] REEMERGEMEDIA commented on #93
@kevlened  I'd like to follow up here on this. I have an /assets and /assets/inline folder. I've tried specifying in both the pattern and global ignores to ignore the inline folder but to no avail. Here's where things currently stand

new CopyWebpackPlugin([{ from: 'assets/' }], { ignore: ['assets/inline/**/*'] })

Thanks in advance

[2017-04-06 13:47] stephan-v opened #121 "Chaining another loader?"
Is there a way to chain a loader when copying over files?

Let's say I want to copy over some SVG files, is it possible to directly apply something like `svgo-loader` to them while they are being copied over to a new directory?

Thanks for reading, cheers.

[2017-04-06 14:57] alerkesi commented on #113
Guys, is there some answer please?

[2017-04-06 18:11] Stanback commented on #113
@alerkesi You could add `stats: { assets: false }` to your webpack configuration to silence the list of files. The downside is it will hide *all* assets rather than just the ones copied by this plugin.

If you want to selectively log assets, it seems like that would have to be a new feature added to webpack itself. You could also get tricky and use the webpack node API to run webpack, grab the sta

[2017-04-12 14:01] evilebottnawi opened #122 "Reduce package size"
Package contains unnecessary file - `appveyor.yml`. I can do PR if your accept this issue.

[2017-04-12 17:37] carpogoryanin commented on #10
Don't work for me too.

[2017-04-24 23:29] somombo opened #123 "[Refactor] make `from` optional when `transform` is used"
I'd like to propose that the `from` property of a `pattern object, be optional whenever it's used with a transform function (... or perhaps idempotently always optional). Here is a possible application of this:

[code]

Note (as can be shown if you turn on `debug`), that when one uses `from: ''` empty string the plugin tries to copy **every** single thing in the current path. Rather than **not** c

[2017-04-29 18:49] eejdoowad opened #124 "Naming output files based on path"
I have the following files

[code]

I want to output them as

[code]

I haven't had any luck. The closest I've got

[code]
outputs

[code]

Any ideas?

Also, is this project dead? No commits in 6 months.

[2017-05-03 02:27] yargalot commented on #118
This also happens with url-loader

[2017-05-04 16:15] PlayMa256 opened #126 "Ignore file that does not exist"
Hello, is there a way to ignore the files that does not exist instead of throwing errors?

[2017-05-08 08:46] hellivan commented on #126
As far as I remember, webpack 1.x version of copy-webpack-plugin ignored non-existing files, didn't it? Anyways, having a flag for such a behavior would be great.

[2017-05-08 12:06] PlayMa256 commented on #126
@hellivan i'm using 2.x so i'm not aware of that. Indeed, a flag to not throw errors and stop the bundling would be really nice!

[2017-05-09 08:48] davidanaya commented on #29
@tony-gutierrez is this working for you then? I have a similar configuration and can´t make it work, would you care to paste your working webpack configuration?

[2017-05-09 10:33] davidanaya commented on #29
Ok I manage to have this working with 2.1.6 but I have a problem. It seems that the files are copied only after webpack processes all resources. So, in my styles.scss webpack detects a a font like ```./fonts/Open-Sans-300/Open-Sans-300.eot``` and when trying to retrieve that it's still not there, so it fails. If I stop and start webpack-dev-server again then it finds the font (copied in the previo

[2017-05-16 14:20] singuerinc commented on #126
@PlayMa256 If you use the `context` property you don't get any error if the folder/file doesn't exist.

[code]

[2017-05-17 10:47] thw0rted commented on #124
I'm looking at [the interpolation docs](https://github.com/webpack/loader-utils#interpolatename) and I don't see any easy way to get the path without the trailing slash, unless `[folder]` does that. Maybe upvote #107 ?

[2017-05-17 14:26] eejdoowad commented on #124
Thanks so much. [folder] is exactly what I needed.

[2017-05-18 04:46] #124 closed

[2017-05-24 16:58] dragfire opened #127 "File not serving properly when using react-router with path variable."
The component I'm using is `https://github.com/superRaytin/react-monaco-editor#using-with-webpack`

I'm using `react-router` and `CopyWebpackPlugin`, it's working for normal paths like

`<Route path="/editor" component={Editor} /> // this one is working fine`

The problem is with this one with an path variable `editorId`, it can be any random id:

`<Route path="/editor/:editorId" component={Editor

[2017-05-30 10:36] jyane commented on #64
:+1:
This bug is still remaining

[2017-05-30 10:45] jyane commented on #64
sorry, it was already fixed. It seems working.

[2017-05-30 13:06] valichek opened #128 "[Chore] Recent update of node-dir breaks copy-webpack-plugin"
Please, check `4.x.x`  for same issue. https://github.com/fshost/node-dir/issues/50

[2017-05-31 17:44] sag1v commented on #98
@zonika i'm searching for the same thing (i think). copy `less` files but transform them to css while keeping the same structure. have you found a solution?

[2017-06-06 07:00] V-Tom commented on #39
any news with this issue?
same on node v8.0

[2017-06-12 20:39] megamindbrian commented on #110
What is shrinkwrap?

[2017-06-18 16:18] TheLarkInn opened #131 "Can the webpack team help out? webpack-contrib"
Hey there @kevlened, first off: thank you for maintaining and creating this webpack plugin. I'm one of the maintainers of webpack, and on behalf of the  team, we'd like to know if you would consider allowing our team to help maintain this plugin?

We have a new GitHub organization called [webpack-contrib](github.com/webpack-contrib) which hosts a majority of our popular plugins and loaders!

A lot

[2017-06-19 14:12] kevlened commented on #131
I gladly welcome the team to help maintain this plugin! What's the process?

[2017-06-19 16:58] GabrielGil commented on #121
I am also on the same situation. Wanted to process a JS file first and then copy the result. Is it possible?

[2017-06-20 16:49] davidmpaz commented on #105
@SebastianS90 how can I make it work with directories. Let say I am copying like this:
[code]

Curently I dont see a way to overcome with this.

It would be very nice if this is added to this plugin.

[2017-06-23 18:08] kovart opened #132 "[Bug] Plugin copy files only to the local disk where webpack is running"
When I copy files to another disk the plugin is freezed on "finishing emit":
[code]

[2017-06-23 21:57] danchristian commented on #15
@kevlened This feature would be great, currently my production build fails due to this plug-in looking in an empty 'dist' folder as the HtmlWebpackPlugin hasn't finished building the files. Having the ability to copy a generated file post build would be ideal.

[2017-06-24 07:33] SebastianS90 commented on #105
@davidmpaz I also don't see an easy way to get a manifest for a mapping from source file to output file.
You can have a look at the [example stats object](https://raw.githubusercontent.com/webpack/analyse/master/app/pages/upload/example.json) and there you see the `assets` property. It does not contain the source of each asset.

What my solution does is to take the output file path, remove the has

[2017-06-25 09:34] davidmpaz commented on #105
Hi @SebastianS90 thanks for the hints. Actually I don't think the plugin it is too far from there. I have been looking into code and found some places where functionality could be hooked, based on some configuration option: `nameTemplate` or something for example. My problem for making a pull request is my lack of webpack knowledge. Maybe you could help out with some answers?

* [In this line](htt

[2017-06-25 10:07] SebastianS90 commented on #105
@davidmpaz

**First question:**
The way to store assets is more or less the right way. Usually you would use a `Source` object from [`webpack-sources`](https://github.com/webpack/webpack-sources), but this plugin fits the [required interface](https://github.com/webpack/webpack-sources/blob/master/lib/Source.js) for `compilation.assets`.
I think that this is the right place to do the renaming (i.e.

[2017-06-26 12:59] danchristian opened #133 "Build order for HtmlWebpackPlugin module?"
## Description

The `/dist` folder is in `.gitignore` so therefore empty,  the build is then failing in production as `CopyWebpackPlugin` is looking in `/dist` for files to copy elsewhere but it errors with:

[code]

I would expect `HtmlWebpackPlugin` to build these files first before the `CopyWebpackPlugin` starts to look for them? [Asking in the HtmlWebpackPlugin repo](https://github.com/jantimo

[2017-06-27 08:13] davidmpaz commented on #105
Hi @SebastianS90 ,

many thanks for all the hints :+1: . Just as a follow up. I have gone through the code again and I think we are closer as we though. I hope that from discussion danethurber/webpack-manifest-plugin#45 we will be able to get a valuable outcome to find a solution for this issue.

Reason is that the assets are already included in Webpack compilation by this plugin. There is no need

[2017-07-04 05:58] choosenvictim commented on #87
I faced the same issue. Upgrading to v4.0.1 fixed it. Thanks

[2017-07-04 14:43] d3viant0ne opened #135 "Transfer copy-webpack-plugin to @webpack-contrib"
@kevlened - Quick introduction. I'm Josh, I run @webpack-contrib ( Webpacks loader & plugin ecosystem ). copy-webpack-plugin is still heavily downloaded and at least from appearances, it looks like you could use some help with the maintenance.

The process is simple enough assuming the above is true and depending on if / or how much you want to be involved going forward shouldn't take more then 15

[2017-07-05 04:04] d3viant0ne commented on #131
@kevlened - There are a few steps, all reasonably simple.

1.) You need to commit the following to the `LICENSE`.  Do not change the license filed in the `package.json`
2.) NPM Owner access needs to be granted to @bebraw & @d3viant0ne

[code]

Webapck & Webpack-Contrib are a part of the JavaScript Foundation, hence the license.

3.) Transfer this repository to me (d3viant0ne). Only an Admin or Own

[2017-07-23 12:50] a-pandey commented on #41
[code]

If I remove `/` from the path, webpack-dev-server throws an error,
`The provided value "build" is not an absolute path`

Any help?

[2017-07-27 17:49] jbolotin commented on #41
Per the [webpack docs](https://webpack.github.io/docs/configuration.html#output-filename) , changing output.path to __dirname + "/your-export-directory" should resolve this

[2017-08-01 08:10] julianxhokaxhiu commented on #107
Please consider solving this issue, either accepting the PR or implementing it yourself. This is a must in my opinion.

[2017-08-04 19:40] garrensweet commented on #133
@danchristian  Did you ever find a solution to this? I forked that repository and tried many, many things. I could not, however, get it to wait for the generated file to be completed before attempting the copy, however. I did try the `after-compile` tip that was suggested, to no avail.

[2017-08-04 19:58] danchristian commented on #133
@garrensweet Unfortunately not. I ended up taking the module out of our build process as it couldn't deliver what we needed.

[2017-08-10 22:08] mikesherov commented on #131
@kevlened any progress here?

[2017-08-17 14:02] infoeon opened #137 "[Bug] DOT files are always treated as directories"
DOT files are always treated as directories.

{from: path.resolve(__dirname, 'application/admin/.htaccess'), to: 'admin/.htaccess', toType: 'file'}

will result in a folder /admin/.htaccess/ being created when a file /admin/.htaccess should be created. If the "to" is changed to something like 'admin/zzz.htaccess' then it creates it as a file. It appears that the "toType" is ignored if it has a lea

[2017-08-19 11:45] Predjo commented on #113
With the new version of webpack you can filter the log by doing something like this:

[code]

More info in the [docs](https://webpack.js.org/configuration/stats/).

[2017-08-21 08:40] krbaio3 opened #139 "Pattern copy-webpack-plugin 'FROM'"
Hi!,

I have a question about the plugin. I'm using your plugin, and in my case, I need to load the files using a regex. I have been reviewing the documentation and it is not clear to me. I am not able to make it work because it gives me an error that 'the pattern must be an array'. I attach my code and error that gives me

Webpack:
[code]

Error

[code]

Thanks!!

[2017-08-29 23:39] jf990 commented on #59
I upgraded to Node 8 and the EMFILE error went away.

[2017-08-30 09:21] djflex68 commented on #128
Having the same issue

[2017-09-02 14:26] gregnb commented on #15
I also needed a feature like this and created plugin that could copy,delete, and move files/directories when a build starts or when a build finishes.  https://www.npmjs.com/package/filemanager-webpack-plugin if you're interested

[2017-09-04 13:56] derekdon commented on #126
I don't suppose it's possible to do this when you're not using globs?
[code]
I'd like to just get a warning when a specific "from" file doesn't exist, not break the build.

[2017-09-05 10:57] filipesilva commented on #73
Heya, just wanted to mention that this seems to be fixed in the latest versions. Cheers!

[2017-09-05 10:57] #73 closed

[2017-09-08 23:06] JamesNimlos commented on #139
@krbaio3 not sure if you solved this, but check out the example. `[patterns]` is in brackets because it needs to be an array of objects, not because it's optional. Change your code to:
[code]
I agree, the error potentially ambiguous since I ran into the same thing, but I ended up finding the answer in the example.

[2017-09-09 16:32] danielo515 opened #140 "Ignore for specific path not working"
According to documentation you can specify an array of glob patterns for certain path to be ignored. In practice, this does not work. I tried both with plain strings of glob patterns and with objects with a glob property.
This same patterns works if I include them in the options ignore array, so they should be right.
Here is my config:

[code]

[2017-09-09 16:40] danielo515 commented on #140
Sorry, it was my bad, bad glob

[2017-09-09 16:40] #140 closed

[2017-09-12 14:40] zemzela commented on #126
I'm looking into this as a workaround for [https://github.com/webpack/webpack/issues/5360](url)

[2017-09-14 05:43] seotory commented on #133
I'm gat same issue.
any updates?

[2017-09-14 13:40] valeriob commented on #108
Hi, i have the same problem, probably i'm using this plugin wrong.
How did you solve it ?

[2017-09-15 20:21] nickenchev opened #141 "[Bug] Plugin patterns copy parents"
[code]

this ends up creating "dist/assets/src/assets" instead of copying all sub-dirs/files from src/assets into assets/

Why would I end up with assets/src/assets if the glob pattern is all subdirectories/files inside src/assets?

Thanks

[2017-09-20 19:54] buddyackerman opened #142 "'to' template not working"
I probably have something setup wrong but when I use the following I literally get a file named "[hash].[name].[ext]".  I'm using the WebpackMd5Hash plugin also.

`{ from: path.resolve('./node_modules/somemodule/somefile.min.js'), to: resolveDist('/lib/somemodule/') + '/[hash].[name].[ext]', toType: 'template' },`

`resolveDist` is a local function that resolves the output path plus the provided r

[2017-09-21 11:04] xybin1990 opened #143 "[Question] How to add the file hash value？"
I want to copy the file after the hash value

[code]

[2017-09-25 19:16] Andrei- opened #144 "[Bug] Moving entire directory only works on second run?"
I have the following setup:

[code]

My intention:

- first 4 commands are gathering all assets to a folder called dist/assets
- last command is supposed to take everything from dist/assets and copy to an external folder website/assets. So it depends upon the first 4 being finished.

However this does not work. Not when dist/assets has been cleared. It works when I run it the second time without c

[2017-09-27 19:38] cletusw commented on #135
@d3viant0ne @kevlened Was there any progress on this? Thanks.

[2017-09-27 19:39] cletusw commented on #135
Also, dupe of #131 ?

[2017-09-27 19:40] cletusw commented on #121
@stephan-v Not entirely clear on the use case, but wouldn't you just use [file-loader](https://github.com/webpack-contrib/file-loader) for this?

[2017-09-27 19:42] cletusw commented on #121
Dupe of #98 ?

[2017-09-27 22:01] gusdaud opened #145 "[Bug] webpack --watch --progress with copy-webpack-plugin keeps spinning"
Hi,

When I run `webpack --watch --progress` using copy-webpack-plugin it builds the bundle but keeps doing some kind of processing (it shows x% compiling, x% hasing, x% emitting in the console terminal in an eternal loop).

I'm adding the plugin to my webpack.config.js using this code
[code]

[2017-09-27 22:52] d3viant0ne commented on #135
Dupe, no. I'm the person to talk to in regards to webpack-contrib

[2017-09-28 08:15] stephan-v commented on #121
Does the file-loader 'kick in' when the files are being copied over though? I guess it is similar to #98

[2017-09-28 15:28] cletusw commented on #121
Yeah, I was kinda thinking file-loader *instead of* this plugin, but I guess that doesn't always work.

[2017-09-29 14:54] #131 closed

[2017-09-29 14:54] #135 closed

[2017-09-29 15:38] mikesherov commented on #131
Hooray!

[2017-09-29 15:58] mikesherov commented on #100
This is addressed by the use of `Set`, and can now be closed since https://github.com/webpack-contrib/copy-webpack-plugin/pull/130 landed.

[2017-09-29 16:00] evilebottnawi commented on #100
@mikesherov :+1:

[2017-09-29 16:00] #100 closed

[2017-10-02 06:57] moisesdeguia opened #147 "Compress images with image-webpack-loader"
For me this plugin can be interesting to proccess all my images and compress for production. Some way to do that with image-webpack-loader?

[2017-10-04 20:44] cletusw opened #148 "[Feature] Provide default `context` option"
Currently, `context` defaults to `compiler.options.context` from webpack. However, I'd like all my copy patterns to use `./src` as the default context, even though I can't change my webpack context to that for other reasons.

Could we add a fallback to the plugin options? The overall context fallback logic would be:

`context` property on pattern object -> `context` property in plugin options -> `

[2017-10-04 21:20] cletusw commented on #113
@Predjo 's solution worked for me. This issue should be closed as Resolved.

[2017-10-05 05:20] #113 closed

[2017-10-05 05:28] michael-ciniawsky commented on #148
The pattern.context isn't sufficient enough for you I guess?

[code]

Feel free to open a PR if you want to tackle this of course 😛

[2017-10-05 05:56] cletusw commented on #148
Right, all of my patterns are going to repeat the same context, so it'd be nice to just have it once (while allowing overrides, of course)

[2017-10-05 07:28] thw0rted commented on #113
It's in the docs, but if anybody else here failed to click through initially and was disappointed that this "didn't work", be aware that `devServer` gets its own copy of this config item.  If you want to thin out your console output in dev mode, you'll need `stats: { ... }` there too.

[2017-10-05 16:34] cletusw commented on #148
@michael-ciniawsky Created #149 to add this option.

[2017-10-05 16:41] cletusw opened #150 "[Feature] support `{String}` patterns"
Feature request: Could the patterns array support plain old strings, where
[code]

is equivalent to
[code]

?

This would reduce boilerplate when many of the copy patterns are simple.

If this is okay, I can implement the PR.

[2017-10-05 19:24] #1 closed

[2017-10-05 19:28] michael-ciniawsky commented on #109
Seem to be working now https://www.npmjs.com/package/copy-webpack-plugin 👍  :)

[2017-10-05 19:28] #109 closed

[2017-10-05 19:33] #120 closed

[2017-10-05 19:35] michael-ciniawsky commented on #117
Are you sure it comes from `copy-webpack-plugin` in a quick search I could find it being used here :) ?

[2017-10-05 19:38] #122 closed

[2017-10-05 19:40] michael-ciniawsky commented on #105
Duplicate of #104

[2017-10-05 19:40] #105 closed

[2017-10-05 21:28] michael-ciniawsky commented on #150
Always feel free to send a PR as it is even easier to triage feature implementations that way :) There is no guarantee if it lands as it always requires sign-off from 2+ maintainers at minimum. The proposal seems reasonable enough through (from a first glance)

[2017-10-05 21:31] cletusw commented on #150
@michael-ciniawsky Will do! Some projects have explicit rules against submitting PRs that haven't been raised as an issue first, so I just wanted to be sure. Thanks!

[2017-10-05 21:35] #114 closed

[2017-10-05 21:38] michael-ciniawsky commented on #121
Duplicate of #98

[2017-10-05 21:38] #121 closed

[2017-10-05 22:04] michael-ciniawsky commented on #147
Duplicate of #98 (Tracking Issue)

[2017-10-05 22:04] #147 closed

[2017-10-05 22:15] michael-ciniawsky commented on #145
@gusdaud Does this problem still persists? If could you please provide more info about your setup and `webpack/copy-webpack-plugin` version in use ?

[2017-10-05 22:16] #139 closed

[2017-10-05 22:18] #69 closed

[2017-10-05 22:19] michael-ciniawsky commented on #28
Duplicate of #15

[2017-10-05 22:19] #28 closed

[2017-10-05 22:22] #70 closed

[2017-10-05 22:24] michael-ciniawsky commented on #137
This is more related to the missing file extension I guess, but nevertheless buggy

[2017-10-05 22:25] #89 closed

[2017-10-05 22:30] michael-ciniawsky commented on #86
Whats is the status here ? Still any need/interest in resolving this ? :)

[2017-10-05 22:34] #142 closed

[2017-10-05 22:36] michael-ciniawsky commented on #132
Maybe related to #119

[2017-10-05 22:39] #127 closed

[2017-10-05 22:42] michael-ciniawsky commented on #133
Duplicate of #15

[2017-10-05 22:42] #133 closed

[2017-10-05 22:45] michael-ciniawsky commented on #67
For watch mode see #91, but to check the `dist` folder before a new run is likely not worth the effort as `@kevlened` already mentioned

[2017-10-05 22:45] #67 closed

[2017-10-05 22:47] michael-ciniawsky commented on #65
If still any regressions in `>= v4.0.0` feel free to reopen 😛

[2017-10-05 22:47] #65 closed

[2017-10-05 22:48] #64 closed

[2017-10-05 22:48] michael-ciniawsky commented on #64
Reopen if still regressions

[2017-10-05 22:51] michael-ciniawsky commented on #148
@cletusw Any idea on this one #58 :) ?

[2017-10-05 23:00] cletusw commented on #148
@michael-ciniawsky Just added a comment. Not sure what the expected behavior is.

[2017-10-06 11:06] kpalatzky opened #154 "[Feature] Append/Merge Files"
Currently, there is only one option to overwrite the contents of a file, but none to merge the contents.  Here it would make sense to offer a `append` option. If this is set to `true`, the files should be merged.

Here is an example of the expected result:

[code]

[code]

The result should be following (`./dist/phrases.txt`):

[code]

This feature has already been implemented by myself. You can f

[2017-10-06 11:13] michael-ciniawsky commented on #154
Could you keep an eye on https://github.com/webpack-contrib/copy-webpack-plugin/pull/103 which proposes a `merge` option for patterns ? Needs a rebase first though :). Feel free to open a PR yourself of course

[2017-10-07 22:55] DanielRuf commented on #98
Still relevant.

[2017-10-07 22:57] DanielRuf commented on #98
See https://github.com/Klathmon/imagemin-webpack-plugin#example-usage

[2017-10-10 00:29] Mr-Binary commented on #6
I saw the `transform` property there:

[code]

Does it mean that I need to call `new webpack.optimize.UglifyJsPlugin()` here in order to get the file uglified?

This is my current settings
And how to uglify that content here easily?
Couldn't get it work.
Or do I need to use a separate a lib to do this, and invoke them here?
Seems can't use `UglifyJsPlugin()`, because it doesn't take a single `file

[2017-10-12 05:04] jcardoz commented on #141
I have the same issue. Attaching my code below.
`new CopyWebpackPlugin([{
      "from": "src/assets/**/*.*",
      "to": "assets",
      "toType": "dir"
    }], {
      "ignore": [
        ".gitkeep"
      ],
      "debug": "warning"
    })`

[2017-10-12 05:11] jcardoz commented on #141
@nickenchev : The following configuration seemed to resolve the issue for me. This may help in your case as well:
`{
          "context": './src/assets/',
          "from": '**/*',
          "to": './assets/'
      },`

[2017-10-12 17:23] #145 closed

[2017-10-16 15:30] Levdbas commented on #86
Would love to know the status of this feature as well :)

[2017-10-16 15:34] evilebottnawi commented on #86
@Levdbas can you describe use case for this?

[2017-10-16 15:39] Levdbas commented on #86
@evilebottnawi , hashing the files for cache busting, adding them to the manifest file and refer to the manifest in my php for the hashed filename.

[2017-10-16 15:54] evilebottnawi commented on #86
@Levdbas hashing already supported, maybe manifest is good idea

[2017-10-18 11:31] lmxdk opened #156 "[Bug] Copying same file to multiple targets requires `copyUnmodified`"
When i try to copy the same file to multiple locations, it is only copied to the first target.
I need to copyUnmodified to get the file copied.
[copy-webpack-plugin] skipping 'print.css', because it hasn't changed

Configuration like:
[{from: "print.css", to: "first/print.css"},
{from: "print.css", to: "second/print.css"}]

[2017-10-18 20:13] sebacruz commented on #143
You can use `[name].[hash].[ext]` on the `to` property of the `patterns` argument:

[code]

[2017-10-19 03:14] michael-ciniawsky commented on #143
@sebacruz 👍  Thx

Feel free to reopen if still regressions :)

[2017-10-19 03:14] #143 closed

[2017-10-19 08:14] #150 closed

[2017-10-19 16:17] #148 closed

[2017-10-20 01:39] markwoon commented on #154
I'd love to see this feature.

@michael-ciniawsky Is this dependent on #103?  Or can this proceed regardless?  It looks like such a simple change...

[2017-10-20 13:52] redaxmedia commented on #15
The `FileManagerPlugin` replaced `CleanWebpackPlugin` and `CopyWebpackPlugin` for me! Go for it...

[2017-10-20 14:16] michael-ciniawsky commented on #154
@markwoon Nope it doesn't, feel always free to open a PR

[2017-10-20 19:44] markwoon commented on #154
@kpalatzky Can you submit a PR, or would you be OK with me creating a PR based on your changes?

[2017-10-21 13:11] evilebottnawi commented on #154
@markwoon PR welcome

[2017-10-23 05:55] wbern opened #157 "Cannot find module 'bluebird'"
[code]

My project is using `whatwg-fetch`, not `bluebird`.

[2017-10-23 06:23] michael-ciniawsky commented on #157
Could you clean the npm cache, delete lockfile and install afresh and verify if this still happens  ?

[2017-10-23 06:29] wbern commented on #157
Hi @michael-ciniawsky.

This did it for me. `rm -r -f .cache-loader package-lock.json node_modules/.cache`

I don't have a package-lock.json file so it must had been one of the cache sources (cache-loader and babel-loader's `cacheDirectory` option)

[2017-10-23 06:29] #157 closed

[2017-10-25 12:26] kpalatzky commented on #154
@markwoon It would be great if you can create the PR, because i have currently no time for it. If you dont want do it, i can do it within the next weeks.

[2017-10-27 06:30] ausminternet opened #158 "[Feature] Possibility to copy symbolic links"
Hey there,

I would like to have the possibility to copy symbolic links, which you can do on terminal with the `-L` option (`cp -L`). Is this already possible, or can it be implemented?

[2017-10-30 05:40] brutalcrozt opened #159 "Proposal change badge section to use html tag"
Intent to fix the codecov badge, i found that the badge section isn't centered. Personally it break the harmony since the webpack logo is centered.
![image](https://user-images.githubusercontent.com/3001652/32156183-644e6b40-bd6e-11e7-974c-375f6c63ae4f.png)

I already do some work, but finding a [problem](https://stackoverflow.com/questions/47008620/how-to-use-reference-style-link-along-with-html-

[2017-11-02 04:59] kkennis commented on #154
Is anybody actively working on this? I've found I have a need for this feature as well.

If not, I am happy to construct and submit the PR. I've tried @kpalatzky's fork, and I could bring in that logic and write some tests.

[2017-11-02 05:20] d3viant0ne commented on #154
This loaders intent isn't to merge file contents, it copies files from point A to point B & loaders for the most part should do one thing.

If someone wants to create a loader, technically another one as there are already a few feel free. If someone want to create one within contrib, feel free to contact me.

In either case, merging / appending / stitching / truncating of file contents doesn't bel

[2017-11-02 08:14] kpalatzky commented on #154
@d3viant0ne I think that if you often have the same from path you need more than one way to deal with it.
Most files are also copied, but files with the same name have to be merged here.

In our case we have multible plugins with the same file (`core.css`):
`plugin1/css/core.css`
`plugin1/css/theme.css`
`plugin2/css/core.css`
`plugin3/css/core.css`

And  we are building one project out of these pl

[2017-11-02 09:25] rendaw opened #160 "[Docs] Async transform"
Thanks for this plugin, it's helped me greatly so far!  I noticed that `transform` can return a Promise but only after I had forked and started going through tests. It may save others some time to have this documented prominently.

[2017-11-02 10:22] Levdbas commented on #104
The guys from webpack-manifest-plugin have included a hook in their latest RC release which other plugins can use to give before and after filenames and locations. Maybe this can be used to solve the hashing issue in a more convienient way? I am by no means capable of guessing if this can work but its merely a suggestion.

https://github.com/danethurber/webpack-manifest-plugin/pull/76

[2017-11-02 21:28] michael-ciniawsky commented on #159
That's in sync with the org README boilerplate, it's acts like  `<head>` (metadata). They could be centered under the Plugin Name, but tat would require changes to all README's and even the first standards track isn't finished yet 😅  I'm closing this for now

[2017-11-02 21:28] #159 closed

[2017-11-02 22:02] brutalcrozt commented on #159
@michael-ciniawsky where is the org README boilerplate?

can i have better explanation for that? i am not quite understand.
where i can chat with you? via email doesn't look handy, anyway thanks for the response :smile: .

[2017-11-02 22:26] brutalcrozt opened #161 "[Test] Coverage"
As you can see the coverage badge are broken, giving the coverage unknown.
I got free a couple of hours, so i will work on it.

[2017-11-02 22:29] brutalcrozt commented on #161
No coverage found, see [here](https://travis-ci.org/brutalcrozt/copy-webpack-plugin/jobs/296511293)

[2017-11-02 22:41] brutalcrozt opened #162 "Docs, node badge are broken"
As you can see our node badge yell not specified instead giving node version.
Related to org [issue](https://github.com/webpack-contrib/organization/issues/7), I just guessing if we specify engines on package.json, the badge will fix. So correct me if i am wrong.

[2017-11-03 00:30] michael-ciniawsky commented on #161
This is to be expected since the tests aren't migrated yet and therefore no coverage report is collected atm. It needs #146 applied and a tests refactor to work

[2017-11-03 00:35] michael-ciniawsky commented on #162
#146

[2017-11-03 00:35] #162 closed

[2017-11-03 01:01] brutalcrozt commented on #161
@michael-ciniawsky  Thanks for the response :smile: , i really hope can chat with you. There is alternative instead of email? twitter, gitter, slack or something?

[2017-11-08 23:16] adamvleggett commented on #29
Does anyone fix bugs in here or do people just talk about them?

[2017-11-14 11:45] evilebottnawi commented on #144
@Andrei- why don't copy first 4 commands `website/assets` instead copy to intermediate directory?

[2017-11-14 12:06] evilebottnawi commented on #141
@nickenchev @jcardoz plugin works as expected by default `context` (`compiler.options.context` - example `/path/to/src`), `glob` with default `cwd` options (`compiler.options.context`) return `src/assets/file.txt`.
Output directory `/path/to/dist`, `to` interpreted as `/path/to/dist/assets/` + `src/assets/file.txt`. For resolve this issue see comment above. In short - use `context` option. Thank y

[2017-11-14 12:06] #141 closed

[2017-11-14 12:16] evilebottnawi commented on #132
@kovart can you create minimum reproducible test repo?

[2017-11-14 12:30] evilebottnawi commented on #112
@thejohnfreeman breaking changes :disappointed:
@michael-ciniawsky what do you think about this? Should we interpreted all from `content` and include intermediate directory?

[2017-11-14 12:42] evilebottnawi commented on #16
@jmlopez-rod don't reproducible, seems you have something who change files and fire rebuild in watch mode. Please update to latest version (`webpack`, `loader` and `plugins`) and try again. Feel free to reopen if you still have issue, also please create minimum reproducible test repo. Thank you!

[2017-11-14 12:42] #16 closed

[2017-11-14 12:50] evilebottnawi commented on #123
@somombo for you use case better create separate plugin, also webpack have build-in `BannerPlugin` https://webpack.js.org/plugins/banner-plugin/. `CopyWebpackPlugin` using only for copying files. Thank you!

[2017-11-14 12:50] #123 closed

[2017-11-14 12:50] evilebottnawi commented on #93
@REEMERGEMEDIA problem still exists?

[2017-11-14 12:52] evilebottnawi commented on #126
@michael-ciniawsky what do you think about this option?

[2017-11-14 12:58] evilebottnawi commented on #86
Seems now it is duplicate `https://github.com/webpack-contrib/copy-webpack-plugin/issues/104`. Feel free to reopen if you think differently.

[2017-11-14 12:58] #86 closed

[2017-11-14 13:26] michael-ciniawsky commented on #112
Yep, I agree that the behavior should be consistent and ideally aligns with how `glob`  handles it by default

[2017-11-14 13:32] michael-ciniawsky commented on #118
If the file is loaded by `file-loader` && `copy-webpack-plugin` chance a high this leads to subtile bugs, you need to `ignore`  files in `copy-webpack-plugin` if you want to load them via `file-loader`

[2017-11-14 13:32] #118 closed

[2017-11-14 13:49] michael-ciniawsky commented on #126
hmm... imho it's simply an `{Error}` (`ENOENT`) 😛. But if this is common in build chains (CI) to sneak in for some reason we can consider to relax it into a warning. But e.g sole 'misconfiguration' (adding patterns for non-existent files) isn't enough to justify changing the current behavior tbh.

[2017-11-15 03:05] guotie opened #166 "file did not copy when changed"
log is:
[code]

Even i delete css/main.css, it still did not copy

[2017-11-15 03:11] #166 closed

[2017-11-15 18:44] HauntedSmores commented on #10
Everything is working except if you delete a file, that file is not removed from the output directory. So addition and changes to a source file will trigger that addition or change to output but not deletion.

[2017-11-15 20:00] HauntedSmores opened #167 "Plugin does not delete files or rename files"
Is it posibble to have the plugin delete files in the `to` directory that have been deleted in the `from` directory? It would be really nice during development to not have to worry about the dist and src folders getting out of sync.

[2017-11-16 08:58] michael-ciniawsky commented on #167
That's out of scope for this plugin imho. Use e.g the `clean-webpack-plugin` in tandem with `copy-webpack-plugin` instead please

[2017-11-16 08:58] #167 closed

[2017-11-16 15:02] HauntedSmores commented on #167
@michael-ciniawsky Thanks for the suggestion. Totally get your position - unfortunately the `clean-webpack-plugin` doesnt work for deletions either, the build never triggers - looks like a core webpack thing to me.

[2017-11-17 08:16] kpalatzky commented on #154
@d3viant0ne @kkennis @markwoon Are there any updates on this?

[2017-11-17 13:11] #156 closed

[2017-11-19 00:51] jrmcdona opened #168 "Hot module reload w/o refreshing the page"
Hello,
Plugin is working great.   I copy some LESS files to the Dist folder.  The watch feature is working well.

Has anyone solved the issue where you don't have to refresh the page to see the changes?

Thanks

[2017-11-19 00:55] jrmcdona commented on #168
Or maybe I just need to figure out how to get Less in the bundles to achieve this.   I need Less in the bundles as Less and not CSS  (because I have themes which update the Less variable when the user wants), which is which I have seen so far things are compiling Less into CSS.

[2017-11-19 01:29] michael-ciniawsky commented on #168
How do you serve Less files to the client without transpiling them ? HMR won't work with this plugin. Use the `modifyVars`  option of `less-loader` or CSS Custom Properties directly (modern browsers only) so the variables can be accessed and changed via JS or a separate `theme-${name}.css` file containing only the custom props

[2017-11-19 01:29] #168 closed

[2017-11-19 01:46] jrmcdona commented on #168
@michael-ciniawsky If you compile LESS to CSS via Webpack using less-loader and then try to use modifyVars.  It will not work, becasue at that point its just plain jane CSS.  I just went down that path.

Less is serving fine this:
    <link rel="stylesheet" type="text/less" href="~/dist/variables.less" />
      <link rel="stylesheet" type="text/less" href="~/dist/bootstrap-overrides.less" />

[2017-11-19 01:50] jrmcdona commented on #168
Actually, I was using modifyVars from Less.js, I didn't see modifyVars as a loader option on less-loader.  Will look more into that.

[2017-11-21 06:37] httpeace opened #169 "[Feature] copy files only on first run"
is there any special config settings so the folders are only copied on the first build only? did I miss anything on the documentation

[2017-11-21 18:43] michael-ciniawsky commented on #169
By first build you mean when running `webpack` multiple times (without watch mode) ? Files are watched for changes in watch mode, but not between multiple runs atm. Maybe an existence check could be added, but this needs triage first

[2017-11-22 11:24] evilebottnawi commented on #137
Close this issue, because it is will be fixed after update `loader-utils` and we already issue about this https://github.com/webpack-contrib/copy-webpack-plugin/issues/117

[2017-11-22 11:24] #137 closed

[2017-11-22 11:44] evilebottnawi commented on #99
Fixex in https://github.com/webpack-contrib/copy-webpack-plugin/pull/165, please update to latest version. Also feel free to reopen issue if you still have problem.

[2017-11-22 11:44] #99 closed

[2017-11-22 12:33] evilebottnawi commented on #128
Closed, because latest version don't use this package, just remove unnecessary packages from `package.json` (see https://github.com/webpack-contrib/copy-webpack-plugin/pull/171)

[2017-11-22 12:33] #128 closed

[2017-11-23 09:58] cyrilletuzi opened #172 "4.4.2 completely broken : dist deleted !"
`dist` folder is missing in 4.4.2 release, so it breaks every tools depending on this module !

@d3viant0ne

[2017-11-23 09:59] ocombe commented on #172
I was gonna open an issue with this, please release a fix asap because it breaks @angular/cli :(

[2017-11-23 10:00] stas-kh commented on #172
Guys, we need this fix asap, please

[2017-11-23 10:01] khdevnet commented on #172
We have same problem, can you fix this?

[2017-11-23 10:01] bubkoo commented on #172
Online waiting...

[2017-11-23 10:02] ocombe commented on #172
In the mean time `npm install -D copy-webpack-plugin@4.2.1` will fix the problem

[2017-11-23 10:03] oleksandrstarov commented on #172
Please fix this asap, it is killing the deadline

[2017-11-23 10:04] sokra commented on #172
Chill down. It has been reported 5 minutes ago...

[2017-11-23 10:04] evilebottnawi commented on #172
Don't flood please, we will work on this

[2017-11-23 10:05] didilinkin commented on #110
What is shrinkwrap? @DevanB

[2017-11-23 10:10] Golodnyi commented on #172
guys, version 4.2.2, not 4.4.2

[2017-11-23 10:11] d3viant0ne commented on #172
I know what he meant, fixed in `4.2.3`

[2017-11-23 10:11] #172 closed

[2017-11-23 10:16] d3viant0ne commented on #172
For all of you less the CLI group who has a legitimate gripe, you can simply pin a dependency if something like this happens and be less dramatic.

It's 04:00
It was broken for all of 9 minutes
If your deadline is being killed, there was a issue long before `v4.2.2`

Before you start spamming maintainers, bare in mind you can't even get a 10 minute turn around at a fast food restaurant. Be less sp

[2017-11-23 10:18] ocombe commented on #172
And don't forget that pinning dependencies (manually, or with yarn) is the safest bet ;-)

[2017-11-23 10:27] didilinkin commented on #110
[code]

[2017-11-23 10:28] filipesilva commented on #172
@sokra @evilebottnawi @d3viant0ne thanks for the quick fix on this!

Wasn't expecting so many people to be affected in such a short period of time but if this affected you please remember that **without using package-lock.json or yarn.lock you will will never ensure that your dependencies are the same between installs**.

Bugs and bad releases unfortunately happen but there is nothing library main

[2017-11-23 10:49] sgb-io opened #173 "Version 4.2.2 - No dist exported?"
Possibly a bad release? I can see that you published this very recently, but installing this module currently seems to not give us the `dist` folder and the module cannot be found when attempting to require it.

v4.2.1 seems to work correctly.

[2017-11-23 11:17] evilebottnawi commented on #173
@sgb-io Already fixed in `4.2.3`, duplicate https://github.com/webpack-contrib/copy-webpack-plugin/issues/172

[2017-11-23 11:17] #173 closed

[2017-11-23 13:57] DevanB commented on #110
`npm sheinkwrap` is a command that creates a lock file (what yarn does by default), and won’t let you add/change/remove dependencies without removing the shrinkwrap. There is no reason to use it if you use Yarn :)

[2017-11-23 17:20] evilebottnawi opened #175 "[Feature] `writeWhenEmit` option"
If set to `true` will emit to build folder and memory in combination with `webpack-dev-server`. Why? Some files should be written to disk not memory-fs (example i have `php` project with `apache` and coping `.htaccess` using this plugin and i need write `.htaccess` to disk no memory-fs).

ping @michael-ciniawsky @d3viant0ne

[2017-11-23 17:58] michael-ciniawsky commented on #175
- Why do you need the `.htaccess` when running `webpack-dev-server` or is this just an example ?  - Since `copy-webpack-plugin` relies on `compiler.outputFileSystem` is there an option to set certain assets to `emit/write` or will this require additional  'fs' logic within `copy-webpack-plugin` itself ?
- Will this be a pattern option or plugin option ?

[2017-11-23 20:38] d3viant0ne commented on #175
`.htaccess ` would be a production build only action for the most part.

[2017-11-24 01:23] didilinkin commented on #110
@DevanB thanks

[2017-11-24 10:19] evilebottnawi commented on #175
@michael-ciniawsky
* I am use proxy option, on front i have nginx + apache, many php projects works using this stack
* `fs` logic better, this is just couple lines of code
* pattern option

@d3viant0ne disagree i have difference `php_flag` and `php_value` values for dev and production env.
Another example generate configuration for application, example `wp-config.php` and other configuration files

[2017-11-24 12:25] d3viant0ne commented on #175
I wasn't disagreeing with you not the concept for this feature, just saying that in most cases you don't need to write an `.htaccess` file for local development.

I personally write my configurations, `nginx` in my case as a part of my CI process as opposed to my bundling process but I certainly don't see any harm in adding it.

[2017-11-24 12:54] evilebottnawi commented on #175
@d3viant0ne i do PR in near future, it is allow to remove many dirty hack in some projects in webpack config :+1:

[2017-11-28 14:02] davepuchyr commented on #35
@evilebottnawi This issue is a bug on linux and macOS, ie 2 out of 3 major operating systems.  It would be nice if you recognized @michael-ciniawsky 's tags and this issue's importance.  Node can't spawn()/exec()/etc a copied file while this bug exists.

[2017-11-28 14:22] evilebottnawi commented on #35
@davepuchyr it is require to do PR in `webpack-sources`, by default webpack can not works with permissions

[2017-11-28 16:10] davepuchyr commented on #35
Thanks for enlightening me and for the plugin.

[2017-11-28 21:08] michael-ciniawsky commented on #35
Maybe something in the direction of https://github.com/webpack-contrib/copy-webpack-plugin/pull/119 would be sufficient enough/in the meantime

[2017-11-29 13:24] jiangtao opened #180 "support inherit webpack options and make the copied files with hash and publicPath"
hi author! I found that `copy-webpack-plugin` can not sopport the cases below:

1. When copy the files, files can be copied and renamed by [name][hash][ext]
2. When copy the files, files can be appended by webpack options `publicPath`

The cases can help us to copy the files smartly in the team work.

[2017-11-29 23:29] sfletche commented on #29
I had the same problem with v4.0.1 (files not copied to output folder).

After seeing the [Breaking Change](https://github.com/webpack-contrib/copy-webpack-plugin/releases/tag/v3.0.0) described at v3, I was able to fix the problem by adding the [`WriteFileWebpackPlugin`](https://www.npmjs.com/package/write-file-webpack-plugin) to my webpack config

[code]

[2017-12-01 08:16] damian-lewkowicz opened #181 "[Bug] Not modified files are copied on watch mode with copyUnmodified set to true (default)"
Webpack copies all files, regardless of modification when using watch option on every watch check

Version: 4.2.3
Sample configuration:

[code]

[2017-12-01 09:26] evilebottnawi commented on #181
@damian-lewkowicz thanks for issue!

[2017-12-05 12:30] evilebottnawi commented on #180
@jiangtao what do you mean? we support `[name][hash][ext]` and respect outputPath `webpack`.

[2017-12-05 12:38] evilebottnawi commented on #132
Confirmed, but we can not do anything here :disappointed: , seems problem in https://github.com/paulmillr/chokidar which uses https://github.com/webpack/watchpack which uses webpack. Please create issue in `chokidar`.

[2017-12-05 12:38] #132 closed

[2017-12-05 13:43] socialcode-rob1 commented on #35
To work around the issue, I've implemented this plugin https://github.com/GeKorm/webpack-permissions-plugin

It executes during the 'done' phase in the webpack lifecycle.

[2017-12-05 21:10] IAMtheIAM commented on #98
This is still needed. Because using a loader doesnt work if you don't `require()` or `import` the file anywhere into the app.

[2017-12-05 21:41] IAMtheIAM commented on #104
Here's a slightly modified version that works with any length hash as long as it is inbetween two `.` characters

[code]

[2017-12-06 06:20] jiangtao commented on #180
how to configure in the copy-webpack-plugin opts?

[2017-12-06 06:48] michael-ciniawsky commented on #180
```{ from: src/*, to: dist/[name].[hash].[ext] }```

See the README for pattern options for more :)

[2017-12-06 06:48] #180 closed

[2017-12-06 13:02] evilebottnawi commented on #175
Close in favor `write-file-webpack-plugin`

[2017-12-06 13:02] #175 closed

[2017-12-06 13:04] evilebottnawi commented on #158
@ausminternet what do you mean? copy symbolic link or copy files/file content by symbolic link?

[2017-12-07 09:10] ausminternet commented on #158
copy the symbolic link without resolving it.

[2017-12-07 21:04] DmitryGonchar commented on #180
@michael-ciniawsky Is [path] supported?

`{ from: '../node_modules/jquery/dist/jquery.min.js', to: '[path][name].[ext]' }`, copies file to the root of "out" folder, without preserving path. At least for dev server

[2017-12-07 21:28] #93 closed

[2017-12-10 00:17] Oliboy50 commented on #139
@JamesNimlos I can't use a RegExp like you do in your `from` example

I end up with this error message:
[code]

[2017-12-10 19:39] simonjoom opened #184 "bug fixed with web pack 4"
in index.js

i made these change to pass the compilation with success:
compilation.contextDependencies and compilation.fileDependencies are already object Set with webpack4

[code]

just use it for webpack4

[2017-12-11 10:11] taven-liu opened #185 "stoped at 95% emitting"
the build progress will stoped at 95% emitting when i use absolute path.
[code]

[2017-12-11 12:25] michael-ciniawsky commented on #185
I don't think `d:/download` is a valid path, could you try with `{ to: '/download'}` or ```{ to: `${os.homedir()}/download}` ```

[2017-12-12 01:04] atav32 commented on #108
I think the example in the Readme is confusing cause the module doesn't have an entry or output.

[2017-12-12 01:15] taven-liu commented on #185
It's running in Windows 7, and I tried to use `${os.homedir()}/download}`, but it doesn't work for me, also stoped at 95% emitting.

[2017-12-12 01:16] taven-liu commented on #185
the plugin doesn't support window os?

[2017-12-12 02:50] michael-ciniawsky commented on #185
Are you copying files from e.g `c:` to `d:` ? Since this can be a problem with file permissions then

[2017-12-12 03:17] taven-liu commented on #185
I want to copy files  from build dir to `wamp` dir, they are also in `d:`

[2017-12-14 20:09] bobum opened #188 "4.3 causes UglifyJs failure"
Been using this for over a year now since 4.0.1 and 4.3.0 has caused the UglifyJs process to fail with the following:

![microsoftteams-image](https://user-images.githubusercontent.com/1641348/34012096-735ccb32-e0e0-11e7-8ff6-5ee2b160eb8b.png)

Pinning this plugin to 4.2.3 fixes the problem - is there something at which I should be looking to get 4.3 to work?

[2017-12-14 21:05] d3viant0ne commented on #188
@bobum - Thats likely on our end.

//cc @evilebottnawi - Take a look at this if you can, if not i'll try & get to it after work

[2017-12-15 09:45] evilebottnawi commented on #188
@d3viant0ne my issue :+1:
@bobum can you create minimum reproducible test repo?

[2017-12-15 09:56] pravi opened #189 "is-glob changed behaviour of '?'"
See https://github.com/micromatch/glob-base/pull/5

Should copy-webpack-plugin stick to is-glob 2.0 behaviour or should we update to latest?

[2017-12-15 11:37] evilebottnawi commented on #189
@pravi can you provide more information what works unexpected or broken? We can migrate from micromatch to minimatch or other implementation if something broken or doesn't work.

[2017-12-15 12:21] bobum commented on #188
@evilebottnawi try this one https://github.com/bobum/testRepo

[2017-12-15 14:14] bobum commented on #188
Ok - Thanks for the tip - I'll check out webpack 3 for sure!

But I'm a little lost - I am pretty sure the copy plugin isn't being included in any bundle here...would you have a second to point to me in the webpack config where I am including this package in the bundle?

I thought the bundle contents were defined here:

[code]
And then 'app': './src/main',
That would give us 4 bundles - aurelia, a

[2017-12-15 14:39] pravi commented on #189
@evilebottnawi I'm worried about possible conflict here. See https://github.com/webpack-contrib/copy-webpack-plugin/blob/master/package-lock.json#L1951 which needs is-glob 2.0.1 where as you need https://github.com/webpack-contrib/copy-webpack-plugin/blob/master/package.json#L22 those two will give two different results if a filename has '?'. We need to fix the conflict here by deciding if a singl

[2017-12-15 14:43] evilebottnawi commented on #188
@bobum i try to find who include `copy-webpack-plugin`,but at first glance did not find, seems need more deeply investigate, sorry i don't have time for this. You can open `dist/scripts/app.bundle.js` and search `copy-webpack-plugin` and you find.

Pinning not solve you problem, because need identify who include this unnecessary stuff. Also you can have other problem in future if you not solve thi

[2017-12-15 14:50] evilebottnawi commented on #189
@pravi yep, problem may happens, i think `glob-base` should update `is-glob`, we can't track dependencies of dependencies to ensure conflicts. But maybe we can migrate to more popular solution `https://www.npmjs.com/package/minimatch`, need investigate. In near future i will do this.

[2017-12-15 15:48] evilebottnawi commented on #184
@simonjoom We already have PR for this, you can take part in the discussion here(https://github.com/webpack-contrib/copy-webpack-plugin/pull/182). Thanks for issue!

[2017-12-15 15:48] #184 closed

[2017-12-15 15:50] evilebottnawi commented on #185
@taven-liu can you create minimum reproducible test repo? I test all on windows

[2017-12-15 20:57] axtn opened #192 "Using glob throws error in enoent"
Hello
Either using glob, or trying to copy directories throws an error.
Using this:
[code]

throws:

`ERROR in ENOENT: no such file or directory, stat 'C:\projects\MyProject\src\app\test\**\*'`

I get the same issues if I try to use `**/*` on `from: `.

If i try to copy one file over, ittl work fine, for example:
[code]

Any ideas?

[2017-12-16 11:09] vollyimnetz opened #193 "'output.filename' is required, either in config file or as --output-filename"
Whenever i use your plugin i get the following error message.
[code]
If i delete copy-webpack-plugin from the config it runs properly. Do you have any solution for this problem?

**Running**
- webpack 3.10.0
- npm 5.6.0
- node 6.5.0
- copy-webpack-plugin 4.3.0 (also testet with 4.2.3)
- windows 10

**The config i used:**
[code]

[2017-12-16 11:38] vollyimnetz commented on #193
Sorry,
i found my failure. I has not imported your plugin.
[code]
was missing.

[2017-12-16 11:38] #193 closed

[2017-12-18 08:18] simevo opened #194 "extra slashes"
Hi, while running tests on our systems (debian sid amd64) we get two failing tests:
[code]

if I resort the arrays, there is nothing different between `compilation.assets` and `expectedAssetKeys` except for the extra slashes:

[code]
and since the filesystem eats the duplicate slashes:
[code]
I think the tests should pass !

How can I find out whence these extra slashes are coming ?

Thanks

[2017-12-18 09:07] evilebottnawi commented on #194
@simevo thank for issue, can you create minimum reproducible test repo?

[2017-12-18 10:05] simevo commented on #194
1. get a clean debian sid amd64 VM
2. install prerequisites:
[code]
3. clone repo and roll back to version 4.2.4:
[code]
4. transpile tests and src:
[code]
5. launch tests:
[code]

[2017-12-18 14:59] light24bulbs opened #195 "Is there a way to make the copy happen before webpack loads the entry points?"
My entry point is inside the directory that has been copied.  This plugin seems to use the webpack file emit at the end to output the files.  Is there a way to do this sooner?  Or to somehow target an entrypoint inside the copied directory?

[2017-12-18 15:39] michael-ciniawsky commented on #195
[code]

Sry, this plugin is an **integration** of `cp` for webpack **during** runs, there is no way to start/use a `webpack` plugin without actually starting `webpack`

[2017-12-18 15:53] light24bulbs commented on #195
Right, but you could hook into the compilation process before entrypoints are resolved. I ended up doing it like this:

[code]

[2017-12-18 15:57] michael-ciniawsky commented on #195
Sry, I overread `entrypoints` :), (maybe) possible, but not supported atm

[2017-12-18 23:26] axtn commented on #192
Forgot to mention, If it makes a difference, I run this on a windows machine

[2017-12-19 09:52] evilebottnawi commented on #192
@axtn can you create minimum reproducible test repo?

[2017-12-21 22:39] axtn commented on #192
I'm back, after hours of suffering.
Running:
`npm install copy-webpack-plugin@4.3.0` (specifically stating the [latest version](https://www.npmjs.com/package/copy-webpack-plugin) available at the time) forced the package to update its' dependencies. Now it runs just fine.

Check out the attached image to see the before and after of running the version specific `npm install`.
![capture](https://use

[2017-12-21 22:39] #192 closed

[2017-12-23 18:19] florianflock opened #197 "Copy process on build behind"
I want to use this plugin for copying all assets from webpack output to my wp theme in another folder.

It seems to be, that copy process is constantly on build behind webpack build.

Does anybody know the issue?

Here is my webpack.config.json

[code]

[2017-12-23 21:37] florianflock commented on #197
Update after 3h research: problem only appears execute `webpack --watch` in a docker container with mounted volumes. The issue is the osx file system, see here: https://docs.docker.com/docker-for-mac/osxfs-caching/

If you define docker container as master with the keyword `delegated` appended to the volume mount, everything works fine.

Merry Christmas.

[2017-12-23 22:29] michael-ciniawsky commented on #197
👍 Merry Christmas 🎄 :)

[2017-12-23 22:29] #197 closed

[2017-12-24 14:06] pravi commented on #194
@evilebottnawi I can provide you ssh access to a debian sid test machine if you like.

[2017-12-26 08:38] evilebottnawi commented on #194
@pravi it would be great

[2017-12-26 09:08] pravi commented on #194
@evilebottnawi I have added your ssh key (https://github.com/evilebottnawi.keys) to the test machine.

Add to ~/.ssh/config

[code]

[code]

[2017-12-26 10:02] evilebottnawi commented on #194
@pravi thanks in near future i investigate this

[2017-12-26 17:41] Levdbas opened #199 "[help needed] Copy-webpack-plugin ain't running when file is added during --watch"
Hi,

I have a small webpack build sporting the latest versions of browsersync, browser-sync-webpack-plugin and copy-webpack-plugin.

When I run my dev command, copy-webpack-plugin does the job and copies all the files. Same goes for --watch. It runs once on the startup. Once running with --watch, it doesn't handle new/modified/deleted assets anymore. I though this was the normal behaviour but it d

[2017-12-29 06:48] antiantian opened #201 "How to move a file to a number of folders"
new CopyWebpackPlugin([
      {
        from: path.resolve(__dirname, '../static'),
        to: path.resolve(__dirname, '../dist'),
        ignore: ['.*']
      },{
        from: path.resolve(__dirname, '../static'),
       to: path.resolve(__dirname, '../tests'),
        ignore: ['.*']
      }
    ])

The contents of the static folder can only be moved to the dist

[2017-12-29 09:24] evilebottnawi commented on #201
@antiantian what do you mean "number of folders"? Can you provide use case?

[2018-01-03 06:50] antiantian commented on #201
How do the same files move to different paths？   The contents of the static folder can only be moved to the dist  folder， cannot move to the tests folder

[2018-01-03 23:38] itssumitrai commented on #143
Hi,
I had the same problem, the `hash` is the hash value for the file contents, but I need the `chunkhash` and not the `hash` value as stated in the original issue. The `file-loader` doesn't seem to support `chunkhash` it seems.

[2018-01-04 15:51] rosea1 commented on #145
I also have the same issue, for some reason when you run webpack with the --watch option, it starts watching the files BEFORE it has finished building. Therefore when you copy a file, presumably to a file with the same name (so it overwrites contents of the file), webpack sees that as a "change" then runs the build again where the copy command is happening again and it is getting stuck in a loop.

[2018-01-09 06:07] coder77 commented on #29
Thanks @sfletche , WriteFileWebpackPlugin safe my life.

[2018-01-09 13:36] alekam opened #202 "Created and modified dates of copied files are changing"
This set up current date and time on each file that be copied! It's wrong, I think. This plugin does not change file content and must save its original date and time. Also this helpful for production builds - you can check files' time and copy only new files only for speed up deploy process.

Cheers!

[2018-01-10 13:30] rubenspgcavalcante opened #203 "Files emitted by the plugin don't change the compilation hash"
Hello there,
I developed a **plugin for webpack** and it does some actions when the compilation hash changes. But some users noticed that the actions weren't triggered after changes on files under the CopyWebpackPlugin, even after webpack trigger the compilation.
After some tests, I've noticed that any changes made on files tracked by the plugin emits a new compilation, but don't change the compil

[2018-01-11 09:27] evilebottnawi commented on #203
@rubenspgcavalcante can you create minimum reproducible test repo?

[2018-01-11 09:31] evilebottnawi commented on #202
@alekam don't related to `copy-webpack-plugin`, we use `compilation.assets` (https://github.com/webpack-contrib/copy-webpack-plugin/blob/master/src/writeFile.js#L125), i.e. we don't write files to file system, it is do `webpack`, please create issue in `webpack` repo. Thanks!

[2018-01-11 09:31] #202 closed

[2018-01-11 09:32] evilebottnawi commented on #202
@alekam also you can create plugin that save created and modified date of files.

[2018-01-11 10:01] rubenspgcavalcante commented on #203
For instance:
[code]
The console.log always will log the **same compilation hash when changing files tracked by the CopyWebpackPlugin**. This means that the plugin don't alter the compilation hash in the end.
The problem is I can't find in the docs how to track the files hashes individually, if is possible.

[2018-01-11 10:05] evilebottnawi commented on #203
@rubenspgcavalcante why copy plugin should change `hash` of compilation, we just emit files, don't modify modules/chunks or another stuff. Can you describe use case?

[2018-01-11 10:30] rubenspgcavalcante commented on #203
My plugin does hot reload of extensions, but in Chrome if you do to much auto-reload of the extension you're developing, it blocks it. So to not do auto-reloads without necessity (the compilation is the same as before) I always check the compilation hash and if it's equal, it simply does nothing.
The problem is when dealing with files emitted by the CWP, it triggers a new compilation, but with no

[2018-01-11 10:42] evilebottnawi commented on #203
@rubenspgcavalcante we don't add any assets if they already in assets (https://github.com/webpack-contrib/copy-webpack-plugin/blob/master/src/writeFile.js#L104). You can just get hash of `assets` to determinate something changes. Or use webpack `stats`, we use standard webpack api, other plugin(s) also can add/modify/delete files from `assets`.

[2018-01-11 10:43] rubenspgcavalcante commented on #203
Ok @evilebottnawi , thanks for your help! I'll try it out! :)

[2018-01-11 10:44] #203 closed

[2018-01-11 11:21] evilebottnawi commented on #199
@Levdbas can you create minimum reproducible test repo?

[2018-01-15 13:31] Meberem opened #204 "Is it possible to use something like compiler.inputFileSystem over fs?"
Would it be possible to pass the `compiler.inputFileSystem` or `compilation.inputFileSystem` or similar to the functions that need it as opposed to taking a hard dependency on the fs module?

It would make testing webpack with a memoryfs a bit easier

[2018-01-15 14:08] evilebottnawi commented on #204
@Meberem look https://github.com/webpack/webpack/issues/1562#issuecomment-165506401, you can write simple script

[2018-01-15 15:28] Meberem commented on #204
Thanks for the pointer, I have been using that method however and am encountering issues such as `[copy-webpack-plugin] WARNING - unable to locate '/mock/src/a.css' at '/mock/src/a.css'`

I have distilled my issue into the following script:
[code]

From this it looks like the issue is occuring because `/src/writeFile.js` and `/src/preProcessPattern.js` uses `fs` over a webpack provided one. Althou

[2018-01-15 15:36] evilebottnawi commented on #204
@Meberem seems you are right, we should use `compiler.inputFileSystem` instead `fs` module. It try to send PR today.

[2018-01-15 15:41] Meberem commented on #204
Amazing, thank you so much

[2018-01-15 21:28] sk29110 commented on #185
I have the same problem set up my project in d drive and trying to copy compiled files to c drive. If just execute copy command in the terminal I don't have any problem. However when I try to use copywebpackplugin then it stops in the middle of compiling because it seems to fail copy from d to c

[2018-01-16 09:37] evilebottnawi commented on #185
@sk29110 can you create minimum reproducible test repo?

[2018-01-16 16:11] sk29110 commented on #185
So easy to reproduce the problem with this one.
new CopyWebpackPlugin([{ from: 'c:/testdir/', to: 'd:/anotherdir/'}], { ignore: ["*.map"] })

npm@5.3.0
node@v8.9.4
copy-webpack-plugin@2.0.1

[2018-01-16 16:57] sk29110 commented on #185
Ok no problem. I just have to map the drive to a folder in c: drive and use relative path to get around

Thanks.

[2018-01-17 00:04] pbrain19 commented on #6
Did you get your answer on this?

[2018-01-18 05:09] gh67uyyghj opened #206 "How do I copy a directory?"
Thanks for the great loader, however it seems it may need a genius to understand how it works, all I need to is just to copy a directory `a` from `/src/a` to `/dist` so I can have `/dist/a` including all its sub-directories and files. I wasted 3 hours already and still can't get this groundbreaking operation right. Can anyone help me with this?

[2018-01-18 05:51] 4cm4k1 commented on #206
Hey @gh67uyyghj, I also found the docs for this plugin to be rather opaque, but I got it to work for my use cases… Try something like this?
[code]

[2018-01-18 11:07] gh67uyyghj commented on #206
Thank you, I hope the authors add this example in the README.

[2018-01-18 11:07] #206 closed

[2018-01-18 11:24] evilebottnawi commented on #206
@gh67uyyghj PR welcome

[2018-01-18 16:18] yinshuxun opened #207 "how can i write file to disk from memory when use webpack-dev-server"
Thanks for the great loader, however some files should be written to disk not memory-fs when i use webpack-dev-server,what's the right way to do it？

[2018-01-18 16:34] evilebottnawi commented on #207
@yinshuxun please use `write-file-webpack-plugin`(https://github.com/gajus/write-file-webpack-plugin) plugin for this purpose. Example:
[code]
Thanks for issue.

[2018-01-18 16:34] #207 closed

[2018-01-18 17:10] yinshuxun commented on #207
@evilebottnawi i want write to another directory not the webpack output directory,which option can use

[2018-01-18 17:27] evilebottnawi commented on #207
@yinshuxun just write own script to move files from `webpack` directory and run his after `webpack` build

[2018-01-20 17:31] kind-n commented on #160
+1

[2018-01-25 16:39] gnihi opened #209 "Ignore pattern for folders"
I'm not quite sure if I am doing something wrong but it seems like there is a problem with ignoring a complete folder.

I've tried several ways but none of them seems to work:
[code]

[code]
What am I missing?

[2018-01-25 17:02] evilebottnawi commented on #209
@gnihi `ignore: ['directory/{**/*,*}']`, also try `ignore: ['directory']` ?

[2018-01-25 17:15] gnihi commented on #209
Thanks for the quick answer! I assume you mean `ignore: ['directory/{**/*.*}']`.
Sadly both ways don't work eihter.

[2018-01-25 17:18] evilebottnawi commented on #209
@gnihi seems you write invalid nested path, look at tests and examples https://github.com/webpack-contrib/copy-webpack-plugin/blob/master/tests/index.js#L1254

[2018-01-26 08:30] gnihi commented on #209
I've changed my folder structure, so this problem became obsolete.
But thank you very much for you quick help!

[2018-01-26 08:30] #209 closed

[2018-01-26 18:05] admosity opened #210 "[Feature] node_modules copy detection and monorepo (lerna) support"
We have a shared assets library shared between multiple frontends under a single monorepo and would like to be able automatically detect if node_modules is used in the path to allow the copy to search recursively upwards. Due to the hoisting nature of packages to the top level of the monorepo, this breaks node_modules relative copy paths.

[2018-01-28 19:59] jbruni opened #211 "Webpack 4 support"
This is the error I get trying to use this plugin with Webpack 4 beta:

[code]

[2018-01-29 09:20] evilebottnawi commented on #211
@jbruni thanks for issue, fix it in near future

[2018-01-29 09:40] evilebottnawi commented on #210
@admosity can you describe more verbosely you use case? Example repo will be great!

[2018-01-29 19:45] #204 closed

[2018-01-29 22:58] admosity commented on #210
### Use case

We have multiple frontends that rely on a shared assets repository that is distributed via npm packaging. These frontends have to be developed together. Using lerna with hoist, the packages get moved to the monorepo level and the copy configuration that originally relied on the relative path would break.

### Reproduction monorepo created at:
https://github.com/admosity/lerna-copy-we

[2018-01-30 09:53] evilebottnawi commented on #210
@admosity Thank you, this is very rare use case. Therefore, hardly anyone is implementing it except you, so PR welcome. Seems it is more bug then feature.

[2018-01-31 18:58] aholtkamp opened #213 "Taking the order of patterns into account when copying multiple directories"
This is not a bug report but more of a "am I missing a configuration option?" kind of issue.

We have several folders that contain assets which are copied using the copy-webpack-plugin to the same target folder. We don't make any assumptions about the contents of these folders but we want to make sure that if the same asset is found in multiple folders that the order in which the patterns are defi

[2018-01-31 19:04] evilebottnawi commented on #213
@aholtkamp can you describe use case?

[2018-02-01 10:46] aholtkamp commented on #213
Our use case is that we have different packages with templates that are processed by our web server (not via webpack). Packages can override templates of other packages. The override order is determined by the dependency hierarchy. We are using the copy-webpack-plugin to copy the templates of the packages and need to take the precedence into account.

[2018-02-01 10:49] evilebottnawi commented on #213
@aholtkamp right now copy is concurrence for decrease build time. Maybe copy plugin is not best solution for this?

[2018-02-01 10:57] aholtkamp commented on #213
Thanks for the quick answer. Any suggestions for a more suitable plugin? Basically it is just copying, but with a fixed order the different copy tasks are performed.

[2018-02-01 11:00] evilebottnawi commented on #213
@aholtkamp i think for this solution better use own plugin or use cli for copy using https://github.com/1337programming/webpack-shell-plugin or https://github.com/itgalaxy/execa-webpack-plugin

[2018-02-01 11:30] aholtkamp commented on #213
Hm...Ok, thanks for the suggestions! I think we'll stick with the workaround of using multiple instances of the CopyWebpackPlugin as this also guarantees execution order. Didn't see a bad performance impact for our use case.

[2018-02-01 11:32] #213 closed

[2018-02-01 11:33] evilebottnawi commented on #213
@aholtkamp I agree option is suitable solution. But is is very rare use case - add feature easy, maintenance is difficult, also it is increase complex. But if this issue collect many  :+1: and/or :heart: we will reopen issue and implement this feature. Thanks for issue.

[2018-02-03 13:10] DanieldeJong93 commented on #22
For people looking in the future, i was checking the directory with 'ls' instead of 'ls -a', so the file was actually being copied

`new CopyWebpackPlugin([
      {from: './public/.htaccess'}
    ])`

[2018-02-05 05:11] erquhart commented on #41
Yep, this should be closed based on @jbolotin's comment, worked for me.

[2018-02-05 17:07] pentatronix opened #214 "From and To should allow functions"
For tasks like file renaming it would be good to allow functions to transform names or contexts, especially on output.  This currently exists for the File-Loader project (see: [Function in Template example](https://github.com/webpack-contrib/file-loader#function)), and is a good example for what would need to be added for this.

Alternately you could do specific transforms for each of the template

[2018-02-05 17:31] evilebottnawi commented on #214
@pentatronix please describe use case

[2018-02-06 09:47] basz opened #215 "upload failure"
Hi,

I'm seeing upload failures that don't make sense. It happens only if a file does NOT exists on the remote. Once I manually upload and rerun the build command, everything works as expected.

[code]

[code]

[2018-02-06 11:15] evilebottnawi commented on #215
@basz thanks for issue, can you create minimum reproducible test repo?

[2018-02-06 12:33] basz commented on #215
Not really. I could give you access to my project though... so you could check that out.

[2018-02-06 12:47] evilebottnawi commented on #215
@basz Seems problem in DeployPlugin. Can you provide link to plugin, without code i can't do anything

[2018-02-06 14:06] basz commented on #215
could you send me an private message at `baskamer at gmail dit com`. Then I'll add your email address to our gitlab thingy

[2018-02-06 14:31] evilebottnawi commented on #215
@basz problem not in `webpack-copy-plugin` or `webpack`, problem inside `deploy-kit`, i don't have many time on deep debug this package, i recommend use better tool for deploy, we use https://github.com/ansistrano/deploy. Or you can debug current lib and search what is wrong, maybe don't have right to upload file or something wrong with configuration for this utils.

[2018-02-06 14:33] basz commented on #215
thanks anyway for the effort. It is an annoying issue, but can live with it for this project.

[2018-02-06 14:33] #215 closed

[2018-02-07 20:36] iliasbhal opened #216 "serverless-offline / webpack"
Hi,

I found out that it's not the function that is inside .webpack/service folder that gets triggered when using the serverless-offline plugin.
Instead, it's triggering the entry function.

Here is how to spot the issue:
- include ```fs``` module in your handler.ts
- log the surrounding files ```js fs.readdirSync('./') ```
- it will log all the files around the non-compiled handler.ts instead of

[2018-02-07 21:01] iliasbhal commented on #216
Sorry, I posted on the wrong repo ...

[2018-02-07 21:01] #216 closed

[2018-02-07 21:39] #211 closed

[2018-02-08 12:05] jmesa-sistel opened #217 "[Bug] after update to 4.4.0 TypeError: callbacks[i] is not a function"
Compiling an angular app generated with angular cli
I have updated to 4.4.0 and I get the next error:
[code]

[2018-02-08 12:21] andi1984 opened #218 "Multiple different instances for different webpack configs in same file"
Having multiple instances instantiated with `new CopyWebpackPlugin(…)` for different configurations is mixing the settings together in the end.

Can you please make sure that multiple instances are completely separated from each other?

[2018-02-08 12:25] skorunka commented on #217
As a reference see SO: https://stackoverflow.com/questions/48684276/angular-cli-gives-me-typeerror-callbacksi-is-not-a-function-when-i-ng-serv/48684727

[2018-02-08 12:37] evilebottnawi commented on #217
@jmesa-sistel somebody can create minimum reproducible test repo. Seems regression. Need fix asap, but i can't reproduce.

[2018-02-08 12:39] evilebottnawi commented on #218
@andi1984 Can you create minimum reproducible test repo?

[2018-02-08 12:45] jmesa-sistel commented on #217
@evilebottnawi
Just create an angular app using last angular cli (1.6.8)
Check [https://github.com/angular/angular-cli/issues/9550](https://github.com/angular/angular-cli/issues/9550)

[2018-02-08 12:47] evilebottnawi commented on #217
Investigate

[2018-02-08 12:48] dddent commented on #217
It's reproducible by creating and starting a new app using angular cli
`ng new testapp && cd testapp && ng serve`

[2018-02-08 12:54] rahuly1390 commented on #217
It is solved by installing the plugin
npm install copy-webpack-plugin@4.3.1

[2018-02-08 12:55] minan61 commented on #217
NOT solved with npm install copy-webpack-plugin@4.3.1 here

[2018-02-08 12:56] gajdot commented on #217
@minan61 If you use jenkins or docker you need to install it after cli, then it should work.

[2018-02-08 12:56] rahuly1390 commented on #217
If it's not working downgrade to
`npm install copy-webpack-plugin@4.3.0`

[2018-02-08 13:16] evilebottnawi commented on #217
https://github.com/angular/angular-cli/issues/9550#issuecomment-364107884

[2018-02-08 13:37] evilebottnawi commented on #217
Veru strange. Pify does not callback here https://github.com/webpack-contrib/copy-webpack-plugin/blob/master/src/writeFile.js#L12

[2018-02-08 14:30] filipesilva opened #220 "Cannot clone repo on windows"
When trying to clone this repository on windows I get the following error:

[code]

I think the real error is:
[code]

The special character `?` is not permitted in windows directories.

[2018-02-08 15:04] #217 closed

[2018-02-08 16:27] wlievens opened #224 "4.4.0 & 4.4.1 releases cause error in enhanded-resolve"
4.4.0 & 4.4.1 releases cause the following error somewhere in the enhanded-resolve libary, when I execute an `ng build`.

[code]

With 4.3.1, this error does not occur. Downgrading in `packages.json` is a functioning workaround.

[2018-02-08 16:28] evilebottnawi commented on #224
@wlievens please clean npm cache (`npm cache clear --force`) and install deps again. Thanks!

[2018-02-08 16:28] #224 closed

[2018-02-08 16:31] wlievens commented on #224
Thanks, works fine!

[2018-02-08 19:26] bfred-it opened #225 "DeprecationWarning: Tapable.plugin is deprecated. Use new API on `.hooks` instead"
I'm using with `copy-webpack-plugin 4.4.1` with `webpack 4.0.0-beta.0` and I get this warning (although it seems to work since #211)

[2018-02-08 19:39] michael-ciniawsky commented on #225
This is handled by the compat layer in `webpack` imho. A `option/flag` to disable the warnings would be awesome, but this should also happen in webapck/webpack instead

[2018-02-08 19:40] evilebottnawi commented on #225
@michael-ciniawsky `--ignore-deprecation` for webpack will be good

[2018-02-08 19:54] michael-ciniawsky commented on #225
Yep, something like that or a sledgehammers `--silent [...options]` mode, since `webpack` can be quite noisy in general sometimes (e.g loader warnings for each file) :)

[2018-02-12 21:52] andi1984 commented on #218
@evilebottnawi Sorry, unfortunately not completely. I tried to reproduce my bug inside https://github.com/andi1984/copy-webpack-bug, but I was not able to get the same bug there. But it was a similar setup but very simplified which might be the issue the bug does not exist there.

[2018-02-14 23:53] frigus02 opened #226 "Watching single files broken on Windows since 4.4.0 because of wrong path separator"
Since version 4.4.0 watching of single files (`from` is no glob and points to file) is broken on Windows. I tracked it down to [this change](https://github.com/webpack-contrib/copy-webpack-plugin/compare/v4.3.1...v4.4.0#diff-a796a48a9ecbc15f8f48dc347832123eR90). It changes the file path on Windows like this:

[code]

The path after the change is registered as a file dependency in webpack. But sinc

[2018-02-15 09:44] evilebottnawi commented on #226
@frigus02 can you create minimum reproducible test repo?

[2018-02-15 21:31] frigus02 commented on #226
Sure, here you go: https://github.com/frigus02/test-copy-webpack-plugin-path-separator

To reproduce, clone on Windows and do:

[code]

Then change the file `copy.txt`. Webpack will not notice any changes. Try the same on Linux and it works as expected.

[2018-02-17 12:05] hackgeeks commented on #41
yes I also faced this issue in latest version webpack, then I found that by removing the "/" from the beginning of the path`s, resolved the issue.
**firstly I have done this:**
let path = require('path'),
	HtmlWebpackPlugin = require('html-webpack-plugin');
module.exports = {
	entry: './index.js',
	output: {
		filename: '[name]-bundle-[hash].js',
		path: path.resolve(__dirname,'/public')
	},
	modu

[2018-02-17 13:07] evilebottnawi commented on #41
@jseminck please create separetly issue and use ````js` for code, Thanks!

[2018-02-17 13:30] jseminck commented on #41
I think you tagged the wrong person 😄

[2018-02-17 13:56] evilebottnawi commented on #41
@jseminck oh sorry :smile:

[2018-02-17 13:57] evilebottnawi commented on #41
@hackgeeks ping please see above posts

[2018-02-18 16:11] pamtbaau opened #229 "[Feature] Only copy file when origin is newer than target on first run"
Is there a way to only copy files when the `from` is newer than the `to`?

[2018-02-19 09:29] evilebottnawi commented on #229
@pamtbaau Thanks for issue, duplicate https://github.com/webpack-contrib/copy-webpack-plugin/issues/169 ?

[2018-02-19 09:54] pamtbaau commented on #229
@evilebottnawi Don't think this is a duplicate although they are close...

On each new fresh start of webpack (no watch), files are copied and the origin overwrites the target. I would like changes in the target to be preserved when target is newer then origin. In any case (fresh start of webpack, or a --watch run) I only want the origin to be copied when it is newer than target or target does not

[2018-02-19 10:04] evilebottnawi commented on #229
@pamtbaau

Not related to copy plugins, it should be done in `webpack` as persistent cache, we just use api webpack https://github.com/webpack-contrib/copy-webpack-plugin/blob/master/src/writeFile.js#L124, in theory webpack can have cached file and check need output file or not.

And yep duplicate https://github.com/webpack-contrib/copy-webpack-plugin/issues/169, we just don't close issue just for

[2018-02-19 10:31] evilebottnawi commented on #229
@pamtbaau only `webpack` have cached fs and contain original mtime, we can do this inside plugin, but it is overload and decrease perf

[2018-02-19 10:47] pamtbaau commented on #229
@evilebottnawi I was under the impression that simply comparing mtime of target and origin would be enough to fix the issue. As said, I don't know the ins and outs of webpack...

Thanks for your time.

[2018-02-19 10:49] evilebottnawi commented on #229
@pamtbaau let's left this open for other people, maybe somebody will find simple and good solution

[2018-02-21 05:23] vsDizzy commented on #226
Changed `from` to glob as a workaround.

[2018-02-21 17:08] yuhr commented on #98
Any update on this?

[2018-02-21 17:09] evilebottnawi commented on #98
@yuhr can you describe use case for this?

[2018-02-21 18:14] yuhr commented on #98
@evilebottnawi [`html-webpack-plugin` does some kind of this](https://github.com/jantimon/html-webpack-plugin/blob/master/docs/template-option.md#3-setting-a-loader-using-the-moduleloaders-syntax). I want to use the same loaders to perform transforming arbitrary files that are not `require`d by js as if they're `require`d. For example I have `src/*.md` and want them to be transformed into `dst/[na

[2018-02-22 10:36] evilebottnawi commented on #226
@frigus02 Thanks for issue. Confirm. WIP

[2018-02-22 12:06] evilebottnawi commented on #226
@frigus02 can you test branch https://github.com/webpack-contrib/copy-webpack-plugin/pull/230?

[2018-02-22 12:09] evilebottnawi commented on #181
@damian-lewkowicz can you create minimum reproducible test repo?

[2018-02-22 12:11] evilebottnawi commented on #15
Out of scope this plugin, please use `FileManagerPlugin` or just run npm task after build

[2018-02-22 12:11] #15 closed

[2018-02-22 12:13] evilebottnawi commented on #107
PR welcome :+1:

[2018-02-22 12:20] evilebottnawi commented on #189
@pravi don't worry `glob-base` and `glob-parent` (which use `is-glob@2`) is used by `chokidar` and don't install when you use `copy-webpack-plugin`

[2018-02-22 12:20] #189 closed

[2018-02-22 12:21] evilebottnawi commented on #194
@pravi please test with latest version. Feel free to feedback is problem still exists :+1:

[2018-02-22 12:21] #194 closed

[2018-02-22 12:22] evilebottnawi commented on #201
@antiantian can you create minimum reproducible test repo?

[2018-02-22 21:26] frigus02 commented on #226
Thanks @evilebottnawi. I tested the PR and can confirm that it solves the issue on Windows.

[2018-02-23 06:40] flawiddsouza opened #231 "Won't copy files when there are square brackets [ ] in the path"
A tiny repo to reproduce the issue:
https://github.com/flawiddsouza/Reproduce-bracket-bug-in-copy-webpack-plugin

Go to each folder & run:
npm install
npm start

The folder without brackets will copy the file "from" to "to" but the one with brackets will not.

[2018-02-23 19:30] #226 closed

[2018-02-25 21:25] julmot commented on #225
Webpack 4 is now available.

[2018-02-25 21:34] michael-ciniawsky commented on #225
Someone can send PR which feature detects `webpack >= v4.0.0` via

[code]

[2018-02-26 09:17] johannes-z opened #233 "CopyWebpackPlugin stops webpack --watch from building"
As soon as I add the `CopyWebpackPlugin` to my webpack config, the watch doesn't build my sources anymore. I can see, if I save a file with the plugin in my config, that it actually detects the change, but it's not building the sources. When I remove the `CopyWebpackPlugin` from my config, the sources are built again. The options passed to `CopyWebpackPlugin` look like this:

[code]

[2018-02-26 09:35] evilebottnawi commented on #231
@flawiddsouza Can you upgrade to latest version (`npm cache clear --force & npm install`)

[2018-02-26 14:54] flawiddsouza commented on #231
Updated. Still broken. The files aren't copied if the path contains square brackets.

[2018-02-27 10:41] pgilad commented on #137
This is still not working

[2018-02-27 10:49] evilebottnawi commented on #137
@pgilad it can be fixed only in major version :disappointed:

[2018-02-27 10:50] pgilad commented on #137
I understand, but this bug is from aug 2017, was closed 3 months ago and it wasn't fixed. So I recommend opening it (Because it's still relevant) and perhaps providing an alternative solution 😄

[2018-02-27 10:54] evilebottnawi commented on #137
@pgilad we already have issue https://github.com/webpack-contrib/copy-webpack-plugin/issues/117.

Too little time and a lot of work, if you wanna help feel free to PR:
1. We need upgrade `webpack-default` (https://github.com/webpack-contrib/copy-webpack-plugin/pull/146)
2. When fix and merge issue with milestone v5
3. :star: We release major version :+1:

[2018-02-28 16:28] harperj1029 commented on #233
we ran into a similar issue, whereby version 4.4.1 was causing a folder to be excluded from webpack's watch. Specifically we had code like this:
` new CopyWebpackPlugin([{
     from: "app/services/myModule.js"
}])`
And the result was that app/services was *excluded* from webpack's watch.

[2018-02-28 16:34] evilebottnawi commented on #233
@johannes-z @harperj1029 os? Today we fix issue with directories in `watchpack`, maybe related. Also if you can create minimum reproducible test repo, it is speedup to fix issue :+1:

[2018-03-01 15:35] laozhu commented on #225
Webpack 4 supported?

[2018-03-01 15:56] evilebottnawi commented on #225
Let's do it in next patch. WIP

[2018-03-01 16:20] evilebottnawi commented on #225
Done https://github.com/webpack-contrib/copy-webpack-plugin/pull/234

[2018-03-01 20:50] #225 closed

[2018-03-01 21:16] evilebottnawi commented on #117
Done in `4.4.3`.

[2018-03-01 21:16] #117 closed

[2018-03-01 21:19] michael-ciniawsky commented on #225
Released in [`v4.4.3`](https://github.com/webpack-contrib/copy-webpack-plugin/releases/tag/v4.4.3) 🎉

[2018-03-01 21:47] joepagan commented on #24
Not sure why this has closed, this just happened to me too on webpack4.

When using a glob pattern in the `from` path: `path/**/*` it copys the dir structure over to the` to` path.

It appears that just stating the directory as @MatthewKosloski has done, it will glob the files within anyway.

[2018-03-01 21:56] evilebottnawi commented on #24
@joepagan Can you create minimum reproducible test repo?

[2018-03-01 22:17] joepagan commented on #24
@evilebottnawi Of course!

This maybe because it's on `webpack-dev-server`? The others didn't say. [I have seen the large issue where some users want the files to exist when running dev server](https://github.com/webpack-contrib/copy-webpack-plugin/issues/29), though I am happy for these to be in the memory.

Here is the repo for you:
https://github.com/joepagan/webpack-copywebpackplugin-glob-issu

[2018-03-02 03:56] ignoreswing commented on #6
@Albert-Gao @pbrain19
I also have the same requirement. I use [jsonminify](https://www.npmjs.com/package/jsonminify)

[code]

[2018-03-03 19:42] deguif commented on #104
Hi,

For anyone wanting to use [danethurber/webpack-manifest-plugin](https://github.com/danethurber/webpack-manifest-plugin) and be able to generate asset manifest which were copied with this plugin, here's my solution:

In webpack.config.js
[code]

__This will only work with version 2.x of [danethurber/webpack-manifest-plugin](https://github.com/danethurber/webpack-manifest-plugin) currently in r

[2018-03-05 11:25] Levdbas commented on #104
I do thank you a lot for the  code that removes the hash from the file names. It works like a charm and simplifies my PHP function that includes the right asset a lot!

`map: (file) => {
                    if ('production' === env.NODE_ENV) {
                        // Remove hash in manifest key
                        file.name = file.name.replace(/(\.[a-f0-9]{32})(\..*)$/, '$2');

[2018-03-07 00:52] jayseeg commented on #118
Was this closed because a use case wasn't posted?

I've got a use case that hits this bug.

I'm using `file-loader` with `image-webpack-loader` to fingerprint & optimize images. Once optimized, I need to move this folder up the tree into a parent rails app's public folder using `CopyWebpackPlugin`. Unfortunately, it just copies over previous contents before finishing the image optimization.

[code

[2018-03-07 08:39] evilebottnawi commented on #118
@yargalot can you create new issue with reproducible test repo?

[2018-03-07 17:50] jayseeg commented on #118
@evilebottnawi—if I get the time,... I'm up against a tight deadline right now & just abandoned `copy-webpack-plugin` in favor of `webpack-shell-plugin` to take advantage of the `onBuildEnd` hook as @yargalot suggested.

I'll probably just stick with that since it's pretty easy to `cp` or `rsync`.

[2018-03-08 10:53] EmilNordling opened #236 "Patch cacache to 10.0.4 (patches ssri to ^5.2.4)"
There's no harm that the know security vulnerability could do, the author specifies it [here](https://github.com/zkat/cacache/issues/124).

But ever since it's been reviewed, https://nvd.nist.gov/vuln/detail/CVE-2018-7651, as an know security vulnerability all repos that depends on this dependency gets a varning. Angular-cli is one of the bigger one that uses this dependency, and it's also quite c

[2018-03-08 12:46] evilebottnawi commented on #236
@EmilNordling PR welcome

[2018-03-08 13:25] peteringram0 opened #237 "Hash wrong"
when using the [hash] option this seems to generate a unique hash rather then the hash that the rest of webpack uses. Is there a way of getting it to use the same hash as the rest of webpack?

[2018-03-09 12:54] evilebottnawi commented on #231
@flawiddsouza don't reproduce, what `os` you use?

[2018-03-09 13:02] #236 closed

[2018-03-09 13:21] evilebottnawi commented on #218
@andi1984 problem still exists? If yes, how we can reproduce?

[2018-03-09 17:11] flawiddsouza commented on #231
Windows 10 Version 1709

[2018-03-14 00:16] airtonix commented on #104
Why are you guys removing the hash in production? the whole point of the hash is for production use.

Instead you should be creating a function in your backend that reads the manifest and resolves a logical url `/static/vendor/jquery.min.js` to the hashed url `static/vendor/jquery.min-34mj34jh3k4h5.js`.

[2018-03-14 00:25] airtonix commented on #105
@michael-ciniawsky not really, #104 is about not using hashes in production. Where as this is simply that copied assets do not show up in webpack-manifest.

[2018-03-15 07:37] lewayjack opened #240 "How can I use a template to copy files and keep the directory structure"
I would like to know how to use a template to copy files and keep the file directory structure, thanks.
### The desired result

├───directory
│   ├───directoryA
│   │   └───a.js
│   │       └───b.js
│   ├───c.js

to

├───directory
│   ├───directoryA
│   │   └───a.hash.js
│   │       └───b.hash.js
│   ├───c.hash.js

### now after use toType:template i got
├───directory
│  └───a.hash.js
│  └───b.has

[2018-03-15 09:28] evilebottnawi commented on #240
@lewayjack don't use `toType:template`, just use `glob` and set `fromArgs` needed `root` directory

[2018-03-15 12:45] alberto2000 commented on #211
Any news on webpack 4 support?

[2018-03-15 12:51] lewayjack commented on #240
@evilebottnawi Sorry I may not express myself clearly.
i'd like to:
1. Copy files from directory A to directory B
2. Add hash value to file names
3. Keep origin folder structure
I do not quite understand how _fromArgs_ adds hash value to the file name
here is my code
[code]
now all files are in the lib folder, not their own subdirectory

[2018-03-15 12:59] evilebottnawi commented on #211
@alberto2000 we already support `webpack@4` just update you deps

[2018-03-15 13:00] evilebottnawi commented on #240
@lewayjack maybe related https://github.com/webpack-contrib/copy-webpack-plugin/issues/112 ?

[2018-03-15 14:58] evilebottnawi commented on #185
Closing due to inactivity. Please test with latest version and feel free to recreate issue if still regressions. Thanks!

[2018-03-15 14:58] #185 closed

[2018-03-15 14:59] evilebottnawi commented on #199
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-03-15 14:59] #199 closed

[2018-03-15 17:55] ioannisNoukakis commented on #240
@lewayjack try lib/[path][name].[hash].[ext]

[2018-03-16 01:20] lewayjack commented on #240
@ioannisNoukakis that works,THX

[2018-03-16 01:25] #240 closed

[2018-03-19 14:29] filippoitaliano commented on #211
I've the same problem, this plugin seems to NOT work with `webpack@4`. Is the plugin supposed to be used the same way as before?

[2018-03-19 14:41] filippoitaliano commented on #211
Sorry, the plugin has some issues with `webpack-dev-server@3.1.1`, not with `webpack@4`.

[2018-03-20 15:28] #160 closed

[2018-03-21 03:57] var-ram opened #243 "Logs console error : Could not find a matching event to end plugins Object/Compiler/after-emit"
Used the plugin to copy static images to the dist folder :

` new CopyWebpackPlugin([
        {
            from: "src/images/",
            to: "images/",
            cache: true
        }
    ])
`

Console logs the following message only during production build :

The following is the debug log:

[2018-03-21 09:02] evilebottnawi commented on #243
@var-ram can you create minimum reproducible test repo?

[2018-03-21 13:38] DevidCIC commented on #29
I am using:
- copy-webpack-plugin: "^4.5.1",
- write-file-webpack-plugin: "^4.2.0"
- webpack: "^3.11.0",
- webpack-dev-server: "~2.7.1",

I tried the solution from @sfletche and on my localhost under assets I see the monaco folder, but on dev-server the monaco folder is not there and therfore the monaco-editor is not loading.

This is my webpack.common configuration:

`new WriteFilePlugin(),
new C

[2018-03-22 11:22] stereokai commented on #195
@light24bulbs Thank you, your comment helped out a lot!

[2018-03-27 12:59] danshmidt77 opened #246 "Issue after upgrading to webpack 4"
Did someone came across the following issue after upgrading to webpack 4:

(node:15464) DeprecationWarning: Tapable.plugin is deprecated. Use new API on `.hooks` instead
    at Object.apply (C:\workspace\ProovFE_V2\node_modules\webpack-plugin-copy\dist\index.js:76:14)
    at webpack (C:\workspace\ProovFE_V2\node_modules\webpack\lib\webpack.js:37:12)
    at processOptions (C:\workspace\ProovFE_V2\n

[2018-03-27 13:03] evilebottnawi commented on #246
@danshmidt77 `webpack-plugin-copy` is other plugin, we are `copy-webpack-plugin`, please create issue in repo `webpack-plugin-copy` or migrate on official webpack plugin (on `copy-webpack-plugin`). Thanks!

[2018-03-27 13:03] #246 closed

[2018-03-27 13:28] danshmidt77 commented on #246
Sorry :)

[2018-03-28 14:01] pascaloliv commented on #92
+1 @letoss

Maybe we could add a real world example of `transform`
+ precising the type of `content` and `path`

[2018-03-29 21:35] peter-brennan commented on #145
I'm getting this issue also, did you guys find a solution?

[2018-03-31 07:51] 1rosehip opened #247 "webpack watch mode with CopyWebpackPlugin causes infinite loop"
Hello,
In webpack, CopyWebpackPlugin causes infinite loop when webpack is in watch mode. I tried to add watchOptions.ignored option but it doesn't seem to work. My webpack config is following:

    const config = {

        entry: {
            'res': './src/index.js'
        },
        output: {
            filename: '[name].min.js',
            path: path.resolve(__dirname, 'dist')
        },

[2018-03-31 11:47] evilebottnawi commented on #247
@1rosehip can you create minimum reproducible test repo?

[2018-03-31 15:02] christopherallanperry commented on #39
Same here on v8.10.0

[2018-03-31 15:16] evilebottnawi commented on #39
@christopherallanperry can you create new issue and create minimum reproducible test repo?

[2018-04-01 09:06] #247 closed

[2018-04-01 21:35] christopherallanperry commented on #39
@evilebottnawi in the process of creating the repo, I was able to resolve whatever was causing the problem, though I'm unsure how. Apologies for any inconvenience caused.

[2018-04-03 07:35] rosea1 commented on #145
@peter-brennan  I also opened another ticket for this, and someone did actually solve the problem, see https://github.com/webpack/webpack/issues/6241
It appears to be fixed now if you npm update to latest

[2018-04-06 19:19] Vitukr opened #250 "copy-webpack-plugin causes constant compilation when watch is running"
I use  webpack --watch in development proccess and need to copy output files to another folder. After including copy-webpack-plugin in configuration file it causes constant compilation, even when I do nothing with any file in project. I see that some css filesconstantly being updated without any my actions. When I delete copy-webpack-plugin from configuration, nothing is updated without my actions

[2018-04-12 14:26] k8w opened #252 "Not copy new file in watch mode"
I use
[code]
and
[code]

When watching, if I create a new file (like `res/test.txt`), it would not copy to the output path.
I must restart webpack.

[2018-04-12 20:38] goldenram commented on #231
this happens for me when using regex captures:

`            new CopyWebpackPlugin([
                { from: '../../../src/**/docs/*.md',
                    to: 'docs/[1][name].[ext]', toType: 'template',
                    test: /([^/]+)\/([a-z,0-9]*)\/(\/?$).md/,
                }
            ], {debug: 'debug'}),
`

I am expecting to get files outputted as "dirName-fileName.md" however I am g