[2018-04-13 03:49] k8w commented on #252
@evilebottnawi Here~
https://github.com/k8w/copy-webpack-plugin-issue-252

[2018-04-17 09:00] uvathreya commented on #17
[webpack.dev.js.txt](https://github.com/webpack-contrib/copy-webpack-plugin/files/1918931/webpack.dev.js.txt)
Hi,
I ran into a similar problem. I kow that what I'm doing might not be correct as I'm new to Front end development. I've attached webpack-config.js file here. Request you to have a look at it and help me.

Problem: I'm trying to copy all the locale files from /node_modules/angular-i18n t

[2018-04-17 09:11] evilebottnawi commented on #17
@uvathreya don't write your problem in old issue, please recreate new issue

[2018-04-19 11:27] evilebottnawi commented on #104
@jasonwilliams Should be fix it https://github.com/danethurber/webpack-manifest-plugin/issues/141

[2018-04-19 11:51] jasonwilliams commented on #104
@evilebottnawi for more info on the issue im having i created a ticket here:
https://github.com/danethurber/webpack-manifest-plugin/issues/144

[2018-04-20 22:59] darielnoel commented on #107
+1

[2018-04-26 15:54] krisscox commented on #29
@DevidCIC Did you manage to resolve the issue? It's not copying anything for me

[2018-04-30 23:21] shannonhochkins opened #255 "Only Copy file once (even if changes)"
There doesn't seem to be a way to do this through the configuration object.

I'm using your plugin (great btw) to copy assets from one directory to another during deployment, but there's absolutely no need (for this instance) to watch the files and process them again. However there are other files that do need to be watched, surely his would be a performance increase too not having to add them to

[2018-05-02 02:08] airtonix commented on #15
FileManagerPlugin is broken too.

[2018-05-02 11:37] evilebottnawi commented on #255
@shannonhochkins Please create new reproducible test repo

[2018-05-02 16:07] marcoqu commented on #231
I have the same issue with regular brackets in the path. I.e. `D:/User/Dropbox (My Company)/project/**/*`

Could it be related to [this issue](https://github.com/sindresorhus/globby/issues/81) in Globby?
See also [this very similar issue](https://github.com/paulmillr/chokidar/issues/300) with globbing and windows folders in Chokidar. They ended up adding a "disable globbing" option.

[2018-05-02 17:05] marcoqu commented on #231
Sorry. In my case this has nothing to do with the globbing.
The issue is with path escaping in [escape.js](https://github.com/webpack-contrib/copy-webpack-plugin/blob/6205f516f7dd027a93737bf533a3be36d57602d9/src/utils/escape.js#L11) which escapes characters (the parentheses) that are part actual parts of the path.
If I remove the parentheses pattern from the regular expression, everything works fi

[2018-05-08 17:33] evilebottnawi commented on #243
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-05-08 17:33] #243 closed

[2018-05-08 17:34] evilebottnawi commented on #250
@Vitukr sorry for delay, i.e. because we use `glob`,  we can't know what it added to you file system or not, it is require us run `glob` on every watch build.

[2018-05-08 18:49] mserajnik commented on #252
Any update on this?

I can confirm the issue (using `webpack@4.8.1` and `copy-webpack-plugin@4.5.1`). It also doesn't work when using [webpack-dev-server](https://webpack.js.org/configuration/dev-server/) instead of watch mode.

[2018-05-08 18:55] evilebottnawi commented on #252
When webpack in watch mode, he use `memory-fs` to increase perf and you can't see files in file system when you in watch mode, it is expected. I tomorrow update readme about this. Solution:
1. https://github.com/webpack/webpack-dev-middleware#writetodisk
2. write-file-webpack-plugin

[2018-05-09 11:55] SassNinja opened #257 "loglevel option"
I'm deleting my dist folder before every webpack build and use the copy-webpack-plugin to copy all images afterwards.
Since it's quite a lot images I'm also getting many logs in the terminal what is really annoying.

I haven't found an option to disable that.
Would be ok to add a new option for it? (e.g. `loglevel: 'silent'`)

[2018-05-09 12:04] evilebottnawi commented on #257
@SassNinja https://github.com/webpack-contrib/copy-webpack-plugin#debug

[2018-05-09 12:04] #257 closed

[2018-05-09 20:34] ianwalter commented on #247
@1rosehip How did you resolve this?

[2018-05-10 12:45] ianwalter commented on #247
@evilebottnawi Unfortunately that is out of our control since we use the `bundle-tracker-plugin`. I will explain in more detail on a PR I'm planning to submit today.

[2018-05-11 07:41] kumarranjansingh commented on #6
[code]

[2018-05-15 18:13] potench commented on #92
@pascaloliv here's an advanced example I was able to implement that might help you. I wanted to minify a JS file as part of my webpack build, but to not have webpack transform it at all.
[code]

[2018-05-16 09:40] igogo5yo opened #260 "Ignoring don't work with .app files on macOS"
.app files on macOS are something like container/directory, so ignoring don't work properly with them.

[2018-05-16 10:16] evilebottnawi commented on #260
@igogo5yo can you minimum reproducible test repo?

[2018-05-19 01:01] kevinzheng opened #261 "Conflict with clean-webpack-plugin?"
When I use `clean-webpack-plugin` with `copy-webpack-plugin`, I got `ERROR in [copy-webpack-plugin] unable to locate 'dist/manage.bundle.js' at '/Users/XXX/Workspace/project/dist/manage.bundle.js'`, but when I remove `clean-webpack-plugin`, it works fine, what the problem is?

[code]

[2018-05-19 14:17] evilebottnawi commented on #261
@kevinzheng because `CleanWebpackPlugin` remove `dist/manage.bundle.js`, it is expected

[2018-05-21 01:04] paulius005 commented on #243
@var-ram did you ever figure this out? We are not running into this in our docker environment

[2018-05-21 10:00] evilebottnawi commented on #261
@kevinzheng i don't understand your, you remove files and when want to copy this file?

[2018-05-22 16:31] SassNinja commented on #257
@evilebottnawi I'm afraid I don't understand that section or it's not working correctly.

How does the table work?

In the example code it's `{ debug: 'info' }` but in the table 'info', 'debug' and 'warning' are the values. How can they be the key name?
Would have to be `{ info: false, debug: false, warning: false }`.

However it doesn't work for me at all.
No matter what option I define I still s

[2018-05-22 16:32] evilebottnawi commented on #257
@SassNinja please send screenshot what you mean, i don't understand you

[2018-05-23 04:20] mherodev opened #263 "If webpack config is in a nested folder, files are copied to two destinations"
e.g. with `webpack/webpack.config.js`

[code]

I am seeing the `npm` folder generated within `<project-root>/app/assets` as expected, but I am also seeing `<project-root>/webpack/app/assets/npm` being generated erroneously.

This is fixed by moving `webpack.config.js` out of `<project-root>/webpack` and into the root, and changing the `path.resolve` calls to use `./` instead of `../`

Would be gre

[2018-05-23 07:12] SassNinja commented on #257
@evilebottnawi here's a screenshot

![webpack-copy-screen](https://user-images.githubusercontent.com/19912475/40408885-59237df4-5e69-11e8-8d82-0f1bf2d9cd7f.jpg)

May seem ridiculous with the three example images but in my project I've got abt 300 images and it's really annoying to see them all the time in the terminal.
An option to hide this output would be great.

[2018-05-23 10:41] evilebottnawi commented on #257
@SassNinja please read docs before post issue, it is not related to `copy-webpack-plugin`, in your screenshot stats after building, docs https://webpack.js.org/configuration/stats/.
`stats: { assets: false }`

[2018-05-23 10:52] evilebottnawi commented on #263
@mherodev please create minimum reproducible test repo?

[2018-05-23 11:40] SassNinja commented on #257
Thank you, that's exactly what I needed!

I'll check the docs next time twice before posting 😇

[2018-05-25 16:06] kevinzheng commented on #261
@evilebottnawi , I want to `clean-webpack-plugin` before the compiling, and `copy-webpack-plugin` after the compiling, ehh... I want to clean the `dist` dir before building, and  copy the building result to another dir.

[2018-05-25 16:10] evilebottnawi commented on #261
@kevinzheng out of scope `copy-webpack-plugin`, use any `copy` plugin to move something after build process.

[2018-05-26 18:43] wtorsi opened #265 "fromArgs cwd not working"
Hi, this kind of config does not work, at all. It does not copy anything.
[code]

But at the same time, this config is working, but not properly.
It copies all files with relative path from `context`.

[code]

Also this works the same.
[code]

Could anybody help with it, how to copy files with specified relative path?
Please add the answer to examples in the `README`.

[2018-05-26 18:59] wtorsi commented on #265
At this moment I've solved my problem as

[code]

[2018-05-28 01:58] loveky commented on #231
@goldenram If you are on Windows system. You should use `\` as path separator in your test regexp.

if you want it works on both Windows and Mac/Linux. You can leverage `path.sep`.  So you can try

[code]

[2018-05-28 12:22] #250 closed, assigned to nobody

[2018-06-01 23:10] #220 closed

[2018-06-01 23:10] #231 closed

[2018-06-06 05:43] xgqfrms commented on #54
# ignore  bug

![image](https://user-images.githubusercontent.com/7291672/41018812-500943fe-698e-11e8-9529-b42e87f88032.png)

![image](https://user-images.githubusercontent.com/7291672/41018832-6f770366-698e-11e8-9254-11d0ccc55b4d.png)

***

# copy-webpack-plugin ignore folder

https://github.com/webpack-contrib/copy-webpack-plugin/issues/54

# OK

[code]

[2018-06-15 09:29] igoralemasow opened #266 "Won't find files when there are round brackets () in the path"
Plugin can't find files when there are round brackets in the path: `C:\Program Files (x86)\Jenkins\workspace\ProjectName\STG\src\web`

More details:
Plugin version: 4.5.1
Config:
[code]

If project is located in `c:\temp\test (x86)\` folder, nothing is copied.
Logs:

[copy-webpack-plugin] processing from: '../config_app/web.config' to: ''
[copy-webpack-plugin] determined '' is a 'dir'
[copy-webpac

[2018-06-15 09:41] evilebottnawi commented on #266
@igoralemasow can you create minimum reproducible test repo?

[2018-06-15 10:28] evilebottnawi commented on #266
/cc @loveky regression? or bug?

[2018-06-15 10:34] loveky commented on #266
Got it. I'll check this issue this weekend.

[2018-06-17 02:33] loveky commented on #266
@evilebottnawi maybe it's time for a new release? :smiley:  The latest version 4.5.1 was released on Mar 9 so it doesn't contain my fix.

[2018-06-19 10:02] evilebottnawi commented on #266
@loveky i.e. you fix also fix this problem?

[2018-06-19 13:39] loveky commented on #266
@evilebottnawi  yes.

you can verify that by the following steps:

1. clone the reproduct repo and `npm install`

2. uninstall copy-webpack-plugin 4.5.1 by `npm uninstall --save-dev copy-webpack-plugin`

3. install the latest version from github repo by:

[code]

@igoralemasow you can also verify this in your production repo.

[2018-06-19 14:43] igoralemasow commented on #266
@loveky it workes, thank you! Will wait for a new release on npm.

[2018-06-26 02:38] gilcarvalhoTI opened #267 "Ignore files in a particular folder"
If you do as in the code below, it will ignore all files regardless of the directory it is in.

It would have the option to choose the specific file, as in the example below.

[2018-06-26 09:12] evilebottnawi commented on #267
@gilcarvalhoTI you can use glob in ignore (`ignore: ["**/*.js"]` - ignore all `js` files)

[2018-06-26 09:17] evilebottnawi commented on #265
Closing due to inactivity. Please test with latest version and feel free to reopen and create minimum reproducible test repo if you still have problem. Thanks!

[2018-06-26 09:17] #265 closed

[2018-06-26 09:18] evilebottnawi commented on #260
Closing due to inactivity. Please test with latest version and feel free to reopen and create minimum reproducible test repo if you still have problem. Thanks!

[2018-06-26 09:18] #260 closed

[2018-06-26 09:30] evilebottnawi commented on #266
Fixed in https://github.com/webpack-contrib/copy-webpack-plugin/releases/tag/v4.5.2, feel free to feedback

[2018-06-26 13:08] igoralemasow commented on #266
This issue can be still reproduced if the root folder consists round brackets in its name.
For example:
d:\Github\Reproduce-round-bracket-bug-in-copy-webpack-plugin\with (round brackets) - OK
d:\with (round brackets) - NOT OK

[2018-06-26 13:18] evilebottnawi commented on #266
/cc @loveky

[2018-07-02 11:19] ietabhi opened #268 "Import & Typescript support"
When i convert to typescript, below code not working:-

import * as CopyWebpackPlugin from 'copy-webpack-plugin';

const config = {
  plugins: [
    new CopyWebpackPlugin([ ...patterns ], options)
  ]
}

[2018-07-02 11:28] evilebottnawi commented on #268
@ietabhi how it is related to plugin, looks you don't know how to right way use typescript

[2018-07-02 14:54] ietabhi commented on #268
Getting error when compiling  : Only a void function can be called with the 'new' keyword

[2018-07-06 08:44] data-ux opened #270 "No automatic reload when using HMR"
When using Hot Module Replacement with `webpack-dev-server --hot`, any changes to assets copied by copy-webpack-plugin will result in new compilation, but the browser HMR code thinks it can succesfully apply a hot update and does not reload the page. Manual browser reload is needed to load the changed assets.

What would need to happen is a HMR update failure, after which webpack-dev-server reload

[2018-07-09 14:08] loveky commented on #266
Hi guys, sorry for the late reply.

I checked this issue today and seems it is a bug in [node-glob](https://github.com/isaacs/node-glob).

See same issue here: https://github.com/isaacs/node-glob/issues/290

I have created a PR for it https://github.com/isaacs/node-glob/pull/373

[2018-07-10 09:45] Jaans commented on #92
Thanks!
The ```content.toString()``` and the ```Buffer.from()``` bits is what I was missing. Be great if that could make it's way to the docs page.

[2018-07-10 13:33] OfficerHalf commented on #270
I have the same issue. For my project, we have our own code, but also consume another large library. While our code is bundled up and HMR handles it nicely, the 3rd party code (and the changes we make to that code) are not reloaded because they are copied and served, rather than bundled.

The changes are detected, but no reload occurs.

[2018-07-10 21:41] abhishekagg19 opened #271 "copy-webpack-plugin not executing"
In my webpack.config.js, I am using custom plugin which is working fine.
      new AEMClientlibWebpackPlugin(require('./clientlib.config.prod.js'))

If I add copy-webpack-plugin after above plugin, then copy operation is not working. if I remove the AEMClientlibWebpackPlugin, the copy operation work.

Could you help in resolving CopyWebpackPlugin execution issue?

Reference: https://www.npmjs.com/

[2018-07-11 10:24] evilebottnawi commented on #271
@abhishekagg19 please create issue in `AEMClientlibWebpackPlugin`, we use standard webpack api

[2018-07-11 10:24] #271 closed

[2018-07-13 16:44] msacchetti opened #272 "Copy images when adding a new file"
When i add a file to an images folder when using webpack watch, i get a message in the terminal "[Browsersync ]file event [change]: path/image.png" but the file does not get processed/copied to the public directory.

[code]

This is what runs
[code]

Is there a way to do this? Thanks

[2018-07-13 16:51] dyosick opened #273 "What versions of Webpack does the plugin support?"
Hi
With webpack version 4.15.1 I got a building error:
[code]

[2018-07-13 17:07] evilebottnawi commented on #272
@msacchetti not related to `copy-webpack-plugin`, when you use `watch` webpack use memoryFS (keep all in memory and write new assets also in memory) and don't write files to disk, use https://github.com/gajus/write-file-webpack-plugin when some files should be written on disk.

[2018-07-13 17:07] #272 closed

[2018-07-13 17:07] evilebottnawi commented on #273
@dyosick `webpack@3` and `webpack@4`

[2018-07-13 17:07] #273 closed

[2018-07-16 12:23] mreinhart opened #274 "Copying to Network location from Windows Machine"
I'm attempting to copy files from my local dist folder to a network location(I'm running windows 7).  I have a small example below to illustrate. Instead of copying the files to the desired network location, it creates the directory structure and files in my local dist/html folder.

new CopyWebpackPlugin([

            { from: './dist/html/*', to: '\\\\mynetwork.location.com\\html\\', flatten:true

[2018-07-19 15:59] ericdrobinson commented on #268
I'm encountering the same issue when using a `[jsconfig.json](https://code.visualstudio.com/docs/languages/jsconfig)` file to assist in type-checking the Webpack config files as JavaScript. This generates the following two errors:

The problem here is that the `CleanWebpackPlugin` is a function that [explicitly returns a new object](https://github.com/webpack-contrib/copy-webpack-plugin/blob/54748

[2018-07-19 16:01] evilebottnawi commented on #268
Looks bug :confused: Feel free to send PR

[2018-07-19 16:16] ericdrobinson commented on #268
@evilebottnawi This isn't a bug: it's a design choice. It's inconsistent with most Webpack plugins, of course, but it's not specifically "broken".

"Fixing" this would mean rearchitecting it such that it conformed to standard (classic) JavaScript "class" architecture. For a pretty straightforward example, check out the [CleanWebpackPlugin source](https://github.com/johnagan/clean-webpack-plugin/bl

[2018-07-24 09:12] hazratgs opened #275 "At each assembly there is a full copying of files, even if they have not been changed"
When assembling the production version of the project, the files are copied completely, even those that have not been modified, so rsync thinks that the files have changed and put them on the server, how can this be protected?

[2018-07-24 17:07] isergey opened #276 "No recompile / reloading when dev server use"
When CopyWebpackPlugin is enabled, dev server stops recompiling. Help please!

[2018-07-24 17:29] evilebottnawi commented on #276
@isergey What? Without configuration/reproducible test repo i can't help

[2018-07-24 18:11] isergey commented on #276
This is test repo https://github.com/isergey/cwp-test

v10.6.0

6.2.0

And try to chage src/index.ts

Thank you!

[2018-07-24 18:39] isergey commented on #276
Oh my godness. I put this option to webpack config and recompiling was started...
watchOptions: {
  poll: true
}

[2018-07-24 18:50] evilebottnawi commented on #276
@isergey do you build locally? Also provide your os information

[2018-07-25 09:54] isergey commented on #276
I increased max_user_watches from 8192 to 524288 and it worked

[2018-07-25 10:14] evilebottnawi commented on #276
@isergey Can you send a PR to readme about this?

[2018-07-25 13:37] isergey commented on #276
I think it is more about webpack watching problem.

[2018-07-25 20:15] mooresarpong opened #277 "Error in [copy-webpack-plugin] unable to locate './app/index.html"
![errorcopy-webpack](https://user-images.githubusercontent.com/38471035/43224979-f5e562a4-9025-11e8-9dc3-dabf07ad29cc.PNG)

[2018-07-26 10:39] Deliaz opened #278 "The plugin should throw an error, if "from" is empty string"
Hey guys.
I spent hours trying to find a reason of weird behavior in my project, but it seems that `copy-webpack-plugin` takes the content of latest-processed file in case if **from** is an empty string, and put it inside the "to:" file.
I think in such case the plugin should throw an error or show warning at least.
As I checked in the plugin source, it is related to the wrong path resolving.

Ver

[2018-07-26 10:42] evilebottnawi commented on #278
@Deliaz Thanks for issue

[2018-07-30 18:38] zanettin commented on #126
would be nice to have an option like this or just another `debug` option `ignore` or `silent`. we run several apps through the same webpack config and have to include the plugin conditionally now. thanks for all your work on that plugin 💪

[2018-08-02 06:16] baconck commented on #247
I was able to solve this with:
[code]

[2018-08-03 12:52] clm2609 commented on #126
Im having the same issue as @zanettin , would love the option to convert from error to warning

[2018-08-05 16:07] StephaneBischoff commented on #29
Hi @DevidCIC, any updates on this fix?

[2018-08-06 14:08] dagda1 opened #279 "how do I reference the hashed file after it has been created"
I have the following instance of the copy-webpack-plugin:

[code]

What is not clear is how I reference this file after it has created.  I want to reference it in my ssr react renderer:

[code]
How can I get the actual file name, e.g. `dist/init.dc6ec048a1743f71c60314533a576269.js` at runtime?

[2018-08-07 08:54] evilebottnawi commented on #279
@dagda1 better create issue in HTML plugin, we just use standard webpack api

[2018-08-07 21:15] thavlik commented on #29
I am having this issue as well after trying what the others have before. Time to use a shell script...

[2018-08-09 00:59] Jaans commented on #29
For what it's worth, I ran into the same issue and discovered that the **URL path was case sensitive**.

For example, the URL `/themes/Blue.min.css` worked, but `/themes/blue.min.css` did not.

My config is:

- Windows 10 64-bit
- webpack v^4
- webpack-dev-server v^3
- copy-webpack-plugin v^4.5.2

[2018-08-09 13:16] EmilEriksen commented on #279
I'm facing the same issue although in my case I simply want to reference the files (with the hash) during build time in the HTML template I'm using HTML Webpack Plugin to generate. I can't seem to find any way of doing that right now.

[2018-08-09 19:28] dagda1 commented on #279
@evilebottnawi I am not using the HTML plugin, why would I open an issue there?

[2018-08-11 11:39] whitecolor opened #280 "Access copied files names in HTMLPlugin"
I would like to use copied asset path (with generated hash) in generated HTML with `html-webpack-plugin`, is it possible to do?

[2018-08-11 14:42] evilebottnawi commented on #280
@whitecolor please ask this in `html-webpack-plugin`, we use standard webpack api

[2018-08-12 15:44] whitecolor commented on #280
Ok thanks)

[2018-08-12 15:44] #280 closed

[2018-08-14 10:08] LiMeii commented on #15
@evilebottnawi  thanks! you save my day!!!

[2018-08-17 02:39] Cjhome commented on #59
This error can be due to a configuration file error or a parameter filling error while configuring webpack

[2018-08-22 08:46] jochenshi opened #281 "Does 'test' option exist?"
I have used test option in Copy, but it seems that i do not work? It means that this option has been removed?
[code]
and i checked parameters in `CopyPattern` and do not find 'test'.
version: 4.5.2

[2018-08-22 09:32] jochenshi commented on #281
@evilebottnawi Does this means that i can use Regx in `from`, and get the matched parameters from `[N]`?

[2018-08-22 09:33] evilebottnawi commented on #281
@jochenshi No, from for `glob`

[2018-08-22 10:42] Hamada14 opened #282 "Execute the file copying on a compilation hook"
I wanted to ask whether there exist a blocker to actually copying the files using `compiler.hooks.compilation` instead of `compiler.hooks.emit`.

### Reasoning behind the suggestion
1. Files, which contains a hash in their file names, can be listed in a manifest and inlined in one of the source file in this process.
2. Trying to inline a file using a plugin similar to [html-webpack-inline-source-p

[2018-08-22 10:47] evilebottnawi commented on #282
@Hamada14 Historical reason, we can change this in future major release, but we should discussion about this to avoid breaks some cases

[2018-08-27 21:07] sk29110 opened #283 "copy files to different directory in windows"
I want to find out if you have resolved the issue of coping files to different directory in windows? It seems to stop at 95% with my envrionment  webpack@3.10.0

[2018-08-28 09:18] evilebottnawi commented on #283
@sk29110 please create minimum reproducible test repo?

[2018-08-28 16:17] sk29110 commented on #283
I though this is just matter of yes/no. I just want to copy files from current directory to another directory using drive letter like "k:\myserver" in windows10

`
var environment = {
    aos_www_script_path: "k:/myserver",
    aos_resource_path: "k:/myserver"
};

module.exports = {
    watch: true,
    entry: {
        "WorkCalendarPage": ["./src/pages/my-new-page"]
    },
    output: {
        p

[2018-08-28 16:27] evilebottnawi commented on #283
@sk29110 please create minimum reproducible test repo, not put here config

[2018-08-28 16:28] evilebottnawi commented on #283
Also glob doesn't works with difference drivers, i.e. you can copy files from `C:` to `K:`

[2018-08-30 06:43] natterstefan commented on #6
@kumarranjansingh how do you handle ECMAScript 2015 or above transformation in this case? As uglifyjs cannot handle it. Thx for your help

[2018-09-07 02:10] martixy opened #286 "Copy before rest of build process?"
I have a build dependency which needs to be copied over before the project can be built.

Currently the build fails, as it seems the plugin is running AFTER the rest of the build process.

Is there a setting, or something that would make the copy happen before the build?

My use case is a (not sure how well known in js-land) pattern of having a `config.json.dist`, which contains default values and

[2018-09-17 22:03] chadsaun opened #287 "Copy Files "After emitting assets to output dir""
Is there a way to copy files in my patterns during the `afterEmit` or after all files have been emitted to the output directory?

[2018-09-18 23:06] pardoman commented on #265
I was migrating some grunt config files into webpack and was having trouble finding the corresponding flag for grunt's `cwd` attribute.

At first I though of using `fromArgs: { cwd: 'some/path/here' }`, and the internet brought me here.

Later I realized that I should have been using `context` instead.

### Example (this worked for me)
[code]
What I wanted to do was to copy all files form folder `

[2018-09-21 15:57] timurcatakli commented on #41
This worked for me:
[code]

[2018-09-22 18:57] budarin opened #288 "Doesn't preserve original name in assets-manifest in case of using template with placeholders"
I have to copy file with hash in dist folder
[code]
after bundling in `assets-manifest.json` we have:
[code]
instead of
[code]

[2018-09-24 11:50] evilebottnawi commented on #288
@budarin duplicate https://github.com/webpack-contrib/copy-webpack-plugin/issues/104, also please provide what plugin you use in this link, thanks for issue

[2018-09-24 11:50] #288 closed

[2018-09-24 11:51] evilebottnawi commented on #287
@chadsaun No, it is out of scope this plugin, you can use https://github.com/sindresorhus/cpy-cli or other util for this purpose

[2018-09-24 12:08] budarin commented on #104
I also have the problem when hasing filenames
Webpack: 4.19.1

[code]
here is assets-manifest.json
[code]
instead of having original names as the key - here is hashed name in both positions: key and value

[2018-09-24 14:16] ronaldgj opened #289 "Don't copy file when filename is changed"
Hi Guys,

I use the CopyWebpack plugin as follows:

`new CopyWebpackPlugin([{
	from: '**/*',
	to: __dirname + '/assets/dist/'
}], {
	context: __dirname + '/assets/src/',
	ignore: ['js/**/*', 'scss/**/*', 'css/**/*'],
})`

In this way I can add directories to the 'src' folder, for example 'images'. But when I add a new image in the images folder en after that I change the filename, there will be a

[2018-09-28 14:40] donskov opened #291 "Add support [contenthash] for copied files"
Hi guys!

Is there an option to add `[contenthash]` formatting for copied files?
I want to use:
[code]
Webpack example: https://webpack.js.org/guides/caching/#output-filenames

Thanks!

[2018-09-28 14:42] evilebottnawi commented on #291
@donskov we use `loader-utils` to interpolate filename, here issue about `[contenthash]` https://github.com/webpack/loader-utils/issues/112, feel free to send a PR :+1:

[2018-09-28 14:42] #291 closed

[2018-09-28 14:44] donskov commented on #291
@evilebottnawi Thank you!

[2018-09-28 15:32] alexemmons commented on #266
Looks like the PR has conflicts. Any idea if/when these will be resolved?

[2018-09-28 15:56] cedotoljic opened #292 "Copy folder or file on Windows server environment not working"
After upgrade from webpack3 to webpack4 copy-web-plugin not working on **Windows server**.
We are using webpack for angular project.

"webpack": "4.8.0",
**"copy-webpack-plugin": "4.5.1",**

We have webpack.common.js
[code]
Same configuration is working fine on
+ Windows10
+ Linux server
Problem occurs only on **Windows server**, there is no **_assets_** folder after production build.

node: v8.12

[2018-09-28 15:58] evilebottnawi commented on #292
@cedotoljic please create minimum reproducible test repo and provide information about env (`node`, `npm`, `os` version, maybe other related information). More information allow to use fix problem faster

[2018-10-02 14:36] charliedavison opened #293 "How can I copy files from a directory without it creating the whole source structure?"
I'm trying to use CopyWebpackPlugin to copy some files out of my node_modules folder and into my build folder.

[code]

I would expect this to output to my build folder ```/build/vendor/npm/accounting``` and ```build/vendor/npm/angular``` respectively, but instead a ```node_modules``` folder is created - the files are actually outputted to ```build/vendor/npm/node_modules/accounting```.

How can I

[2018-10-04 10:36] EdBoucher commented on #293
If you check out the branch referenced in this PR you can add a `transformPath` function to get the files into the right directory: https://github.com/webpack-contrib/copy-webpack-plugin/pull/284

[2018-10-05 10:47] x-yuri commented on #252
@evilebottnawi I've run into it with `webpack-dev-server`. I believe it has to do with it not adding dependencies when `from` is a [glob][1], as opposed to [dirs][2], and [files][3].

[1]: https://github.com/webpack-contrib/copy-webpack-plugin/blob/v4.5.2/src/preProcessPattern.js#L77
[2]: https://github.com/webpack-contrib/copy-webpack-plugin/blob/v4.5.2/src/preProcessPattern.js#L83
[3]: https://g

[2018-10-05 10:50] evilebottnawi commented on #252
@x-yuri please create minimum reproducible test repo

[2018-10-05 11:13] x-yuri commented on #252
@evilebottnawi Doesn't the one from the [earlier post][1] work for you? It says:

[1]: https://github.com/webpack-contrib/copy-webpack-plugin/issues/252#issuecomment-381013709

[2018-10-05 13:11] ivansieder opened #294 "Excluding single files"
The Vue CLI offers the possibility to use the public/ directory, which will copy it's files 1:1 to the dist/ folder when it's being built. That's what copy-webpack-plugin is being used for.

Now additionally, some of the .html-files from public/ are being are being used just as templates for html-webpack-plugin to auto-inject scripts. That means, that these files don't need to be copied to the fin

[2018-10-05 13:58] evilebottnawi commented on #294
@ivansieder interesting, can you provide minimum reproducible repo with example what you actually have and expected. Why `ignore` with `index.html` is not suitable for you?

[2018-10-05 13:58] #287 closed

[2018-10-05 14:03] evilebottnawi commented on #201
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-10-05 14:03] #201 closed

[2018-10-05 14:04] ivansieder commented on #294
@evilebottnawi repo could be used this one: https://github.com/ivansieder/vue-cli-nested-index-files-bug. Right now, vue cli is passing ["index.html", ".DS_Store"] to the copy-webpack-plugin, which means, that the glob is being matched with index.html, which in turn means, that public/index.html, public/other/index.html, public/some/extremely/nested/one/index.html all would be ignored. That's why

[2018-10-05 14:04] evilebottnawi commented on #214
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-10-05 14:04] #214 closed

[2018-10-05 14:04] evilebottnawi commented on #218
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-10-05 14:04] #218 closed

[2018-10-05 14:05] evilebottnawi commented on #263
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-10-05 14:05] #263 closed

[2018-10-05 14:05] evilebottnawi commented on #267
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-10-05 14:05] #267 closed

[2018-10-05 14:06] evilebottnawi commented on #294
@ivansieder what about implement `ignore` as function?

[2018-10-05 14:09] ivansieder commented on #294
@evilebottnawi what could such a function possibly look like?

[2018-10-05 14:09] evilebottnawi commented on #289
@ronaldgj hm, what is use case? Why don't remove all images before build?

[2018-10-05 14:12] evilebottnawi commented on #294
@ivansieder depends what information you need to detect should you ignore or not

[2018-10-05 14:17] ivansieder commented on #294
@evilebottnawi just talking about vue cli (but I think this could be useful in other cases, too), a function which gets called with the current `file` should be more than enough. that way, inside the function, you could check if that path matches one you have in an array or somewhere else and return true or false? I would however decouple it from the "normal" `ignore`, as it could happen (that's a

[2018-10-05 14:32] evilebottnawi commented on #294
@ivansieder why not pass `file.relativeFrom` directly?

[2018-10-05 14:36] ivansieder commented on #294
someone might be interested in the absolute path, too. This also keeps it open for eventual future additions. And if you really want just the relativeFrom, you could still do something like this:
[code]

[2018-10-05 14:38] ivansieder commented on #294
alternative would be of course to let the user only pass an array with strings and then do everything internally (checking, if it's relative path or not), but I guess that would incur too many edge cases that would have to be covered. And having a function like this leaves the flexibility up to the user, which implements it.

[2018-10-05 15:31] evilebottnawi commented on #294
@ivansieder Yes, PR welcome :+1:

[2018-10-10 14:52] #293 closed

[2018-10-11 01:41] ThrowsException opened #297 "Constant recompile when copying a file from the root of directory."
I updated to 4.5.3 and when I run my webpack dev server it just keeps recompiling. Installing 4.5.2 makes the issue go away. What info can I provide to help track down the issue?

[2018-10-11 01:51] ThrowsException commented on #297
I think I'm running into the issue described here https://github.com/webpack-contrib/copy-webpack-plugin/pull/296

[2018-10-11 01:59] ThrowsException commented on #297
Can confirm. Im running into the issue described with #296. I have a file in the root of my directory that I copy to a dist folder which then puts my entire project under watch and constantly recompiles.

[2018-10-11 08:06] Jmenache commented on #297
I'm having the same issue when upgrading to 4.5.3
It most likely comes from the commit 5fa69db, the modification in `src/processPattern.js` line 33 to 38.

I also confirm what @ThrowsException found.
When I stop trying to copy files from the root of my directory (still copying others from other sources) it works as expected.

[2018-10-11 13:17] ThrowsException commented on #297
@evilebottnawi I checked this morning on my project and it looks like its working.

[2018-10-12 08:05] FranckFreiburger opened #298 "ENOENT error with v4.5.3"
Since release v4.5.3, my prod build fails at copy-webpack-plugin step with the following exception:
`Error: ENOENT: no such file or directory, stat 'C:\xxx\testBasicEmpty\public\**\*'` (from syscall: "stat")

with:
[code]
(node 10.10.0 / webpack 3.6.0)

I notice the release message :
  `Bug Fixes: processPattern: add glob directory context to contextDependencies (#290) (5fa69db)`

Is it a bug or s

[2018-10-16 08:53] enigma1 opened #299 "Does copy-webpack-plugin base its relative destination path on webpack's output"
Can you please clarify? I specify in my webpack config the bundle output to be in the www folder. Then I use the copy plugin like this:

`plugins: [
    new CopyWebpackPlugin([
      {
        from: 'src/index.html',
        to: 'index.html',
        toType: 'file'
      },
    ])
  ],`

So in this case the index.html ends up inside the www folder. Is that right? I was expecting it to be agnostic

[2018-10-23 13:15] Rig-ved opened #300 "How Can i add watch config to the plugin"
Does this plugin watches for the changes made to files listed under "from" , so that whenever the changes are made to those files , then it can copy the files directly to the file listed under "to"

for ex:
**{new CopyWebpackPlugin(
          [ { from: '/common/proxy.js', to: '/common/common/dir.js', force:true }],
          { copyUnmodified: true}
        )}**
What i want to understand is i have

[2018-10-23 13:32] Rig-ved commented on #300
Cool makes sense .. thanks a lot :)

[2018-10-23 14:02] #300 closed

[2018-10-24 03:30] Jocs opened #301 "Can I run a copy task after another copy task?"
By looking at the source code, it is found that the tasks in the current patterns are all running in parallel, but I have a special requirement. I want to run another task after one task is finished. Can this be done with this plugin?

[code]
I want to task 2 run after task 1.

[2018-10-24 09:31] evilebottnawi commented on #301
@Jocs No, it is very strange if you want to copy one task after another, can you show real use case?

[2018-10-25 16:57] #107 closed

[2018-10-28 03:26] aprilmintacpineda opened #304 "it copies my public folder to my public folder"
[code]

**transformPath** does not seem to run.

#### OUTPUT

There would be a folder name `public/` on the output folder.

![image](https://user-images.githubusercontent.com/21032419/47611644-4c09c300-daa4-11e8-88e0-649390462633.png)

[2018-10-28 03:46] aprilmintacpineda commented on #304
The answer is:

[code]

[2018-10-28 03:46] #304 closed

[2018-10-30 17:32] crazyx13th opened #305 "transformPath not working"
Hey there,

I want to  modify the filenames when i copy my files. 'transform' is working, but 'transformPath' not

![grafik](https://user-images.githubusercontent.com/8912561/47737590-8bd1d580-dc71-11e8-8434-e06900457bd3.png)
I see the logs at compiling!

![grafik](https://user-images.githubusercontent.com/8912561/47737708-c6d40900-dc71-11e8-94a8-13669433ad75.png)
NO logs... (I tried a lot of comb

[2018-10-30 17:54] evilebottnawi commented on #305
Because it has not yet been published

[2018-10-30 17:54] #305 closed

[2018-10-30 18:05] crazyx13th commented on #305
mhh, ok. thx

my current workaround
![grafik](https://user-images.githubusercontent.com/8912561/47739886-b5413000-dc76-11e8-93af-49247ad7ca32.png)

[2018-10-31 12:20] evilebottnawi commented on #237
It is expected, because `hash` is hash of file, not webpack build, we can't get `webpack` hash

[2018-10-31 12:20] #237 closed

[2018-10-31 12:21] evilebottnawi commented on #270
If problem still exists, please create issue in `webpack-dev-server`, we use standard `webpack` api

[2018-10-31 12:21] #270 closed

[2018-10-31 13:05] ThrowsException commented on #297
@evilebottnawi https://github.com/webpack-contrib/copy-webpack-plugin/releases/tag/v4.5.4 resolves the issue. Thanks.

[2018-10-31 13:05] #297 closed

[2018-10-31 14:41] elevatebart commented on #6
Hey @kumarranjansingh you should have a look at [terser](https://github.com/terser-js/terser) to replace uglify js. It is basically used the same way.

Good luck ;)

[2018-10-31 17:40] evilebottnawi commented on #237
@peteringram0 all plugins use this logic, anyway feel free to send a PR

[2018-11-04 01:47] cfkxzsat commented on #261
same here..

[2018-11-08 09:30] evilebottnawi commented on #292
/cc @cedotoljic friendly ping

[2018-11-08 09:32] evilebottnawi commented on #283
For copying files to server, better use deployer tool, doesn't use this plugin, because some plugins can use `afterEmit` event (this plugins use `emit` event) and it is out of scope

[2018-11-08 09:32] #283 closed

[2018-11-08 09:32] evilebottnawi commented on #255
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-11-08 09:32] #255 closed

[2018-11-09 08:58] cedotoljic commented on #292
@evilebottnawi I already provided information about my env...
I'm not able to create some minimum repo at the moment.
If there is some minimum test repository send me a link and I will try to test it in my env.

[2018-11-09 10:32] evilebottnawi commented on #292
@cedotoljic we can't fix this problem without minimum reproducible test repo

[2018-11-09 15:47] Hammster commented on #292
@cedotoljic @evilebottnawi it's a wild guess but our server also did not copy the files after upgrading. And the only thing i've seen was that the `emit` and `afterEmit` have not been send.

So i've changed my config to this

[code]

[2018-11-09 16:00] evilebottnawi commented on #292
@Hammster what is `ForceEmit` hook? :confused:

[2018-11-09 16:42] Hammster commented on #292
@evilebottnawi it is just a name for the plugin, since webpack requires that. i use the `shouldEmit` hook which takes true/false as a return.

[2018-11-09 16:54] evilebottnawi commented on #292
@Hammster Looks some plugins break emit event

[2018-11-10 16:04] Hammster commented on #292
@evilebottnawi I've tested it on my local machine, and this is a diffrent bug then @cedotoljic has. Webpack 4 misses some errors on invalid configurations. I've had no existing entry point and only after installing webpack-cli the error was shown to me.

[2018-11-10 16:46] NiceOkay opened #306 "_iteratorError"
Hello, i use copy-webpack-plugin into my custom plugin.
When i use new CopyWebpackPlugin(options).apply(compiler), i get _iteratorError;

<img width="1164" alt="screen shot 2018-11-10 at 7 44 07 pm" src="https://user-images.githubusercontent.com/44927185/48303867-3921d480-e521-11e8-9ab9-d5be6dbc96a7.png">

[2018-11-10 16:52] evilebottnawi commented on #306
@NiceOkay can you create minimum reproducible test repo?

[2018-11-10 17:10] NiceOkay commented on #306
use webpack 4
`
const { AsyncParallelHook } = require('tapable');
const CopyWebpackPlugin = require('copy-webpack-plugin');

module.exports = (config) => {
  class TaskStyleLibs {

    constructor() {
      this.TASK = config.TASK_STYLE_LIBS;
      this.options = [];
    }

     // get pattern for copy
    getFiles() {
        this.options.push(...);
    }

    apply(compiler) {
            if (co

[2018-11-10 17:13] evilebottnawi commented on #306
Expected, don't run plugin inside plugin, it is impossible

[2018-11-10 17:16] NiceOkay commented on #306
Ты из России?

[2018-11-10 18:02] NiceOkay commented on #306
Ok. Why this is work, else don't run plugin inside plugin???

`
    apply(compiler) {
        if (compiler.hooks[this.TASK.HOOK]) throw new Error('Already in use');
        compiler.hooks[this.TASK.HOOK] = new AsyncParallelHook(['compilation']);
        compiler.hooks[this.TASK.HOOK].tapPromise(this.TASK.NAME, (compilation) => {
            return new Promise((resolve) => {

                this.g

[2018-11-12 09:39] evilebottnawi commented on #306
Due webpack architecture, if you think what it should be supported, better create issue in wepback, we can't do here

[2018-11-12 09:39] #306 closed

[2018-11-19 06:15] wcastand opened #307 "Doesn't copy files after a compilation error"
I'm using nextjs as a base and extending the webpack config with this :
[code]

Everything is working except when i get a error at compile time, after the compile error, the files are not copied anymore and webpack doesn't recompile.

The watch plugin seems to still works since i have an update in my terminal timestamp but the copy doesn't work so the error is never resolved.

Only the file copied

[2018-11-19 06:55] wcastand commented on #307
https://github.com/wcastand/error-copy

It doesn't work for me in this repo.
Like explained in README.md

if you change the `src/hello.js`it will update correctly until you make an error (like not closing html tags)

[2018-11-21 17:10] wcastand commented on #307
You liked my post but didn't take the label out, did we still miss something in the issue ?

Best,
wcastand

[2018-11-21 17:12] evilebottnawi commented on #307
@wcastand sorry, don't have time on all issue, feel free to investigate why it is happens and left feedback

[2018-11-21 17:13] wcastand commented on #307
Oh no problem, i was mostly asking to be sure i didn't miss anything. Of course, we all have life and we all take the time when we have it, no problem with that. sorry if it passed for impatience,

[2018-11-22 12:56] wcastand commented on #307
So i fork the repo and try to use the local version on the reproducible repo and it works fine.
Is there any difference between the npm version and the master branch on github ?

[2018-11-23 09:30] evilebottnawi commented on #104
@budarin problem in implementation what we need event in `manifest` plugin (there are not one plugin) and event are difference, we can handle all plugins events. We should add hook on event https://github.com/danethurber/webpack-manifest-plugin/blob/master/lib/plugin.js#L191 and all copied files will be in manifest

[2018-11-23 09:31] evilebottnawi commented on #307
@wcastand no difference between npm and master version, maybe problem in other plugins

[2018-11-23 22:13] Seanom commented on #265
I've not been able to get either of those options to work
I want to copy the images from a source folder to a dist folder but I want to exclude the source path root.

Current source path `./source/images/../..images.jpg`
Intended destination path `./dist/images/../..images.jpg`

I've tried using the following but neither appear to work.

This method copies the images over but retains `source` in t

[2018-11-28 17:52] evilebottnawi commented on #307
@wcastand something wrong in `next` repo, i reproduce problem with you example, but can't reproduce without `next` so problem i think in `next`, also i have problem with hangs compilation without `CopyWebpackPlugin`

[2018-11-30 12:49] smirnowld commented on #210
+1, would also be useful for projects using [yarn workspaces](https://yarnpkg.com/lang/en/docs/workspaces/)

[2018-11-30 12:55] evilebottnawi commented on #210
PR welcome

[2018-12-01 16:44] pixelass commented on #207
Sadly there are numerous issues in [gajus/write-file-webpack-plugin](https://github.com/gajus/write-file-webpack-plugin) reporting that files cannot be written. Several related issues have been reported and closed without resolution. This does not invite to opening new issues there.

I would love to see this feature added here. by simply adding n option `alwaysWriteToDisk`

[2018-12-04 10:02] puppeteer701vungle commented on #225
I am getting this issue with version 4.6.0 and webpack 4.27.0.

[2018-12-20 10:48] #278 closed

[2018-12-26 07:35] Ohar commented on #301
@evilebottnawi
1. Build app into `/dist`.
2. Copy static files into `/dist.
3. Copy `/dist` folder into `/docs` to update GitHub Pages.

[2018-12-26 08:10] evilebottnawi commented on #301
@Ohar it is feature, feel free to send a PR, we need hook on `done` event

[2018-12-30 18:39] lakshya-8 commented on #47
I'm getting the same error after installing `"copy-webpack-plugin": "^4.6.0",`.

[2019-01-02 08:51] PetterRuud opened #310 "Update depencies"
Medium severity vulnerability found in chownr
Description: Time of Check Time of Use (TOCTOU)
Info: https://snyk.io/vuln/npm:chownr:20180731
Introduced through: copy-webpack-plugin@4.6.0
From: copy-webpack-plugin@4.6.0 > cacache@10.0.4 > chownr@1.1.1

I see that cacache is at version 11.3.2.

[2019-01-02 08:55] #310 closed

[2019-01-02 22:10] BernardA opened #311 "Generating .DS_Store file then Network error"
Environment:
`"webpack": "^4.22.0",`
`"copy-webpack-plugin": "^4.6.0"`
`"webpack-manifest-plugin": "^2.0.4"`
 `"workbox-webpack-plugin": "^3.6.3"`

When using versioning it is generating a .DS_Store file in the destination directory which is added to the workbox precache manifest.

Then when the browser attempts to fetch it it throws an error, which is not surprising.

`Network request for '/img/.

[2019-01-03 08:46] BernardA commented on #311
Found a solution by adding an exclusion to the InjectManifest plugin.

        new InjectManifest({
            swSrc: './client/sw-src.js',
            swDest: '../sw.js',
            exclude: [/\.twig$/, /\.DS*/],

[2019-01-03 08:46] #311 closed

[2019-01-04 22:01] miked1ck commented on #54
@xgqfrms – thank you! `"libs/**/*"` to ignore folder AND its contents

[2019-01-06 04:47] xgqfrms commented on #54
@miked1ck  You are welcome!

[2019-01-12 06:06] koukimetal opened #312 "TypeError: Cannot read property 'context' of undefined"
I created a small sample project using this plugin but I got this error. Does anyone have same issue?
Project: https://github.com/koukimetal/copy-webpack-plugin-sample
keitak@keita:~/IdeaProjects/copy-webpack-plugin-sample$ node --version
v9.11.2
keitak@keita:~/IdeaProjects/copy-webpack-plugin-sample$ npm --version
5.6.0
keitak@keita:~/IdeaProjects/copy-webpack-plugin-sample$ npm run build

/home/

[2019-01-14 11:48] evilebottnawi commented on #312
Feel free to investigate

[2019-01-21 13:19] up9cloud opened #313 "How do i copy all files (include folders) in symbolic link?"
Hi,

I was running something like:

[code]

My expectation is that should copy all files and folders (even if it's in soft link),

but actually i got this:

[code]

Is it possible to copy all files (include folders) in symbolic link? If so, how do i do?

Thank!

[code]

[2019-01-22 08:16] evilebottnawi commented on #313
@up9cloud can you provide minimum reproducible test repo where plugins doesn't work

[2019-01-22 10:32] up9cloud commented on #313
@evilebottnawi

https://github.com/up9cloud/testcase-for-copy-webpack-plugin-issues-313

[2019-01-23 08:14] wayou opened #314 "cannot get plugin name"
Current implementation returns a new object with `apply` method. This leads to unable to get the plugin name by `MyPlugin.constructor.name`. For example, when using with [speed-measure-webpack-plugin](https://github.com/stephencookdev/speed-measure-webpack-plugin) it just prints `Object` instead of the correct plugin name.

[2019-01-24 05:03] VdustR opened #317 "isGlob return false for windows path with backslashes"
As the case we have `pattern.from = 'C:\my-repo\{manifest,manifest}.json'` in windows and `pattern.from = '/my-repo/{manifest,manifest}.json'` in linux.

https://github.com/webpack-contrib/copy-webpack-plugin/blob/adf10462cf04b75a8ad59a42ceacf3b033850a8a/src/preProcessPattern.js#L67

It returned `true` in linux but returned `false` in windows because of https://github.com/micromatch/is-glob/issues

[2019-01-24 09:35] evilebottnawi commented on #317
@VdustR let's wait answer from `is-glob`, don't  think what we can fixed it on our side

[2019-01-30 10:56] Scharnvirk opened #318 "[Feature] Add order option"
Hello,

In a project I am developing, I have an issue with copying files with the same name from multiple sources.

Configuration of copy webpack plugin is as follows:
[code]

The project has two dependencies, let's call them `engine` and `subengine`. They are both bundled within node_modules.

Each of these has its own graphical assets. In case the file with an exact same name and path is in more

[2019-01-30 11:09] evilebottnawi commented on #318
Just luck

[2019-01-30 11:11] Scharnvirk commented on #318
Thanks.

It really seems consistent. We have automated tests and builds and it passes every time since I added the debug flag.

Is there any way to make this work "as intended" however? What other solution could I use if copy webpack plugin does not have ordering functionality?

[2019-01-30 11:23] evilebottnawi commented on #318
It is already work as intended.

Implement this.
Package what can help with this https://github.com/sindresorhus/p-queue.
We need add `order` property on each `item` (by default undefined) then order their based on `order` value (lower value is has high priority) and run queue.

[2019-01-31 02:38] mqliutie commented on #225
[code]
There is no console

[2019-02-15 20:09] #314 closed

[2019-02-15 20:09] #268 closed

[2019-02-15 20:23] evilebottnawi commented on #317
Won't fix https://github.com/micromatch/is-glob/issues/9, feel free to send a PR with workaround

[2019-02-15 20:26] #276 closed

[2019-02-15 20:27] evilebottnawi commented on #161
Fixed

[2019-02-15 20:27] #161 closed

[2019-02-15 20:36] evilebottnawi commented on #312
Invalid usage:
[code]

to

[code]

[2019-02-15 20:36] #312 closed

[2019-02-16 11:35] luigimannoni commented on #137
For people googling for this issue and came on this.
If you have updated the plugin and having this issue you're probably adding to the config the `to` key which is causing to spawn a folder called `.htaccess` at the root of the build directory (or whatever dot file you're trying to copy).

If your dot file needs to sit at the root then your config should have only the `from` key pointing to your

[2019-02-18 14:10] evilebottnawi commented on #313
Close in favor https://github.com/webpack-contrib/copy-webpack-plugin/issues/158

[2019-02-18 14:10] #313 closed

[2019-02-18 14:11] evilebottnawi commented on #158
Example of usage https://github.com/up9cloud/testcase-for-copy-webpack-plugin-issues-313

[2019-02-18 14:45] #252 closed

[2019-02-18 14:48] evilebottnawi commented on #98
Impossible due design reason, anyway we implement new hook in webpack for `copy` plugin before minimize step, it is allow to minimize/compress assets and change their in other hooks

[2019-02-18 14:48] #98 closed

[2019-02-18 15:24] evilebottnawi commented on #292
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2019-02-18 15:24] #292 closed

[2019-02-18 15:33] evilebottnawi commented on #307
@wcastand can't reproducible, maybe you use old version `copy-webpack-plugin`?

[2019-02-18 15:34] evilebottnawi commented on #317
Of somebody can find workaround PR welcome

[2019-02-18 15:36] evilebottnawi commented on #301
Close in favor https://github.com/webpack-contrib/copy-webpack-plugin/issues/318 (see https://github.com/webpack-contrib/copy-webpack-plugin/issues/318#issuecomment-458909457)

[2019-02-18 15:36] #301 closed

[2019-02-18 15:37] evilebottnawi commented on #286
PR welcome

[2019-02-18 15:39] evilebottnawi commented on #266
Problem in `node-glob` https://github.com/webpack-contrib/copy-webpack-plugin/issues/266#issuecomment-403492087

[2019-02-18 15:44] evilebottnawi commented on #286
Close in favor https://github.com/webpack-contrib/copy-webpack-plugin/issues/195

[2019-02-18 15:44] #286 closed

[2019-02-18 15:45] evilebottnawi commented on #144
Close in favor https://github.com/webpack-contrib/copy-webpack-plugin/issues/318

[2019-02-18 15:45] #144 closed

[2019-02-18 15:48] evilebottnawi commented on #58
Impossible to solve due file collision as described above

[2019-02-18 15:48] #58 closed

[2019-02-18 15:50] evilebottnawi commented on #90
Impossible to solve on plugin side, should be solved on `globby` side (in theory `globby` should store cache between each run and return values from cache), but it is really hard to implement and i don't think it is increase performance very good. So i will close this issue, feel free to feedback

[2019-02-18 15:50] #90 closed

[2019-02-18 15:54] wcastand commented on #307
It was a while ago so maybe it's working now. I stop this project a while ago, lot of issues about it i couldn't fix lol

I think we can close unless someone else got this problem too

[2019-02-18 15:54] #307 closed

[2019-02-18 16:31] evilebottnawi commented on #282
We should use `additionalAssets` hook for copying

[2019-02-18 18:15] #158 closed

[2019-02-18 19:22] #126 closed

[2019-02-18 19:28] evilebottnawi commented on #116
I don't think `skipping 'path/to/file.js', because it hasn't changed` should be on other debug level, using `info` we provide all basic operations from read to write and messages why somethings happen/not happen so this messages expected. Feel free to feedback.

[2019-02-18 19:28] #116 closed

[2019-02-19 14:25] #317 closed

[2019-02-19 15:44] evilebottnawi commented on #112
Let's do it in `6.0.0` because it can break many cases for people and we already have many breaking changes for `5.0.0`.

[2019-02-19 15:51] evilebottnawi commented on #282
When wepback@5 was released we should migrate on this hook

[2019-02-19 16:08] evilebottnawi commented on #181
Confirm WIP

[2019-02-19 16:56] evilebottnawi commented on #210
@smirnowld can't reproduce with latest lerna, both examples work fine

[2019-02-19 16:56] #181 closed

[2019-02-20 17:23] alfredking1988 commented on #158
Hi, I wonder if it is possible to add an option to switch to the old behaviour?

[2019-02-22 12:41] martixy commented on #286
Achieved this on my end with event hooks (like in 195).

But I still find it delightfully ironic that something named **Copy**WebpackPlugin doesn't actually **Copy** things. Like... what went wrong there?

[2019-02-22 12:49] evilebottnawi commented on #286
@martixy What do you mean?

[2019-02-25 00:44] davestewart opened #345 "Plugin goes into a loop and build doesn't complete"
* Operating System: Mac / Sierra
* Node Version: v8.11.1
* NPM Version: 6.1.0
* webpack Version: 3.2.1
* copy-webpack-plugin Version: 5.0.0

### Expected Behavior

The copy webpack plugin runs and then the watch stops until further activity

### Actual Behavior

The build goes into a loop:

![loooooooooooooop :(](http://g.recordit.co/s5rIkq6elY.gif)
### Code

This is a Vue CLI 3 build using Webpac

[2019-02-25 01:15] davestewart commented on #345
Going back to `^4.0.0` seems to solve this.

[2019-02-25 09:30] evilebottnawi commented on #345
@davestewart please create minimum reproducible test repo

[2019-02-25 09:31] evilebottnawi commented on #345
We don't modify hooks for `webpack` in new major release, so it is very strange

[2019-02-25 10:28] davestewart commented on #345
OK, it's quite a big project, so let me find some time.

[2019-02-25 10:35] evilebottnawi commented on #345
@davestewart thanks!

[2019-02-26 07:42] Prozi commented on #29
Thats what we did too! Thanks for suggestion! :+1:

[2019-02-26 09:32] evilebottnawi commented on #29
If somebody has problem please create new issue

[2019-02-27 22:16] craigsumner commented on #345
I'm seeing looping behavior which might be related.

* Operating System: Windows 7
* Node Version: v10.10.0
* NPM Version: 6.5.0
* webpack Version: 4.29.5
* copy-webpack-plugin Version: 5.0.0
* webpack-dev-server Version: 3.2.1

The webpack-dev-server process repeatedly compiles.

It's fully correlated with copy-webpack-plugin version 5.0.0. Reverting to 4.6.0 resolves the issue. So does removing

[2019-03-01 11:51] HoldYourWaffle opened #347 "Watch mode not working correctly for certain filetypes"
* Operating System: Windows 10
* Node Version: 10.12.0
* NPM Version: 6.4.1
* webpack Version: 4.29.6
* copy-webpack-plugin Version: 5.0.0

### Expected Behavior
- Files that are copied by this plugin should be watched & recopied when they are modified.
- Copied directories should watch for new/deleted files
- Globs should watch for new files matching it. The [`copy-and-watch`](https://github.com/

[2019-03-02 17:43] gewisser commented on #347
in my project **php** files are not copied.

[2019-03-03 13:17] y0y0z commented on #345
i suffer from the same behavior once i've updated to version 5.
[code]

trying to debug the issue, i noticed that when i [use a wildcard][1] for specifying which files to copy, the webpack build is going into infinite building\compiling loop.

i was able to bypass it by dropping the wildcard (instead, i specified each file individually).

apologies for not posting a testing repository.

[1]: https

[2019-03-03 22:06] BeSaRa commented on #270
any solution here , issue still exists!! any advise ??

[2019-03-04 08:45] evilebottnawi commented on #347
@gewisser what do you mean, problem above not related to `php`

[2019-03-04 09:05] evilebottnawi commented on #347
@HoldYourWaffle I can't find loaders (what you mean says `loaders`?) in you reproducible test repo, you don't need use `loader` and `CopyPlugin` together, this plugin should be used only for static `assets`

[2019-03-04 09:37] evilebottnawi commented on #345
Please create minimum reproducible test repo, anyway problem can be when you use copy wetback plugin with glob (example `dir/**/*`) and other plugin something change (after copy-webpack-plugin) in this directory (rename/create file/change content), so you can get infinity build, it is expected, because you should not doesn't something in copied directory, copy webpack plugin for static assets.

[2019-03-04 12:10] HoldYourWaffle commented on #347
*(Disclaimer: I know close to nothing about how webpack works internally, I'm just applying my limited knowledge from using it here)*

Let me word it in a different way: copied files I expect to be watched (`.ejs` files in my case) aren't, by which I mean that editing them does *not* trigger any kind of copy or build operation.
During my testing I found out that certain filetypes **are** watched p

[2019-03-04 12:22] evilebottnawi commented on #347
@HoldYourWaffle can't install reproducible test repo, no `package.json`

[2019-03-04 12:23] evilebottnawi commented on #347
Just clarify, all files which have loaders should be ignored (you should setup `ignore`)

[2019-03-04 12:30] HoldYourWaffle commented on #347
Oh that's weird. I'll push it when I get home.

[2019-03-04 13:14] y0y0z commented on #345
@evilebottnawi: thank you for the reply. though, i am not sure i understand you.

when you say _"this"_, to which directory exactly do you refer -- the input\source-code directory or the output\distribution directory?

[2019-03-04 13:18] evilebottnawi commented on #345
@y0y0z directory which you use in `from`

[2019-03-04 13:27] y0y0z commented on #345
@evilebottnawi: from my inspection, nothing is changing in the `from` directory (i just copy static files). how do you advise to check whether any files are being written ([`inotify`][1])

[1]: https://linux.die.net/man/7/inotify

[2019-03-04 13:29] evilebottnawi commented on #345
@y0y0z any tools, id on't know you os/filesystem. You can try to create minimum reproducible test repo, maybe something wrong and i can catch problem

[2019-03-04 13:41] y0y0z commented on #345
@evilebottnawi: i will when i have the time, as i have to strip down my project before posting it online publicly. with that being said, i wonder what have changed between the version that causes such different behavior, a non backward compatible behavior.

[2019-03-04 14:04] evilebottnawi commented on #345
@y0y0z this PR https://github.com/webpack-contrib/copy-webpack-plugin/commit/49a28f07ea7fb235098a472e813ef2f96de4930e change behavior (before it was buggy)

[2019-03-04 16:02] HoldYourWaffle commented on #347
@evilebottnawi Done.

[2019-03-04 22:47] BoldBigflank opened #348 "Windows regex not passing group data"
* Operating System: Windows
* Node Version: v6.14.1
* NPM Version: 5.8.0
* webpack Version: 4.16.2
* copy-webpack-plugin Version: 5.0.0

### Expected Behavior

I expect my copy plugin will move json files to a different directory with a different name based on the name of the folder it came from. For example: `app/js/games/aspen/json/test.json` will move to `/json/aspen-test.json`

### Actual Beha

[2019-03-05 09:23] evilebottnawi commented on #348
Thanks for issue, i think problem related to `loader-utils`, i will see in near future

[2019-03-05 10:15] vonBrax commented on #345
If someone is still facing this problem maybe this can help.
I spent the whole day yesterday trying to figure out why webpack was entering the infinite rebuild loop or why now every file outside of webpack context (including webpack.config) was triggering rebuilds on change. All of this started after I updated a bunch of dependencies at once and so I had to roll back and reupdate one at a time unt

[2019-03-05 10:26] evilebottnawi commented on #345
@vonBrax Right solution :+1: This change was introduced because it is impossible works properly with glob without adding `context` as dependencies, new files can create in difference place, so we should watch `context` to catch all changes

[2019-03-05 10:28] evilebottnawi commented on #345
Just for information, build system as `grunt`/`gulp` use same logic

[2019-03-05 19:52] craigsumner commented on #345
Thank you @vonBrax for the instructions. That helped a lot.
I'll illustrate the changes I made:
### Before:
[code]
### After:
[code]

[2019-03-06 05:23] hongkheng commented on #345
Faced the same issue as well after the upgrade to `v5.0.0`. `context` has to be specified with the root directory for the `from` value. `README.md` might have to be updated with correct update instructions for `v5` in case others face this issue after the upgrade.

[2019-03-06 09:15] evilebottnawi commented on #345
@craigsumner you can avoid `**/*`, if problem appear again after remove `**/*` please create reproducible test repo

@hongkheng README.md might have to be updated with correct update instructions for v5 in case others face this issue after the upgrade.

hm, before some people use invalid configuration, what we should update?

[2019-03-06 15:01] rudionrails opened #349 "Treat [hash] and [contenthash] correctly"
* Operating System: OSX
* Node Version: 11.3
* NPM Version: 6.7.0
* webpack Version: 4+
* copy-webpack-plugin Version: 5.0.0

### Feature Proposal

I would like to treat `[hash]` and `[contenthash]` correctly in the file/directory string. This is related to [this](https://github.com/webpack-contrib/copy-webpack-plugin/issues/237) issue, but [other](https://github.com/webpack-contrib/mini-css-extra

[2019-03-06 15:10] evilebottnawi commented on #349
@rudionrails What do you mean Treat [hash] and [contenthash] correctly? `contenthash` is `hash` of content and it is already works as expected, `hash` is deprecated and will be removed in next version in `webpack` and in plugin, it is for backward compatibility

[2019-03-06 15:11] evilebottnawi commented on #349
Also solution here https://github.com/rudionrails/copy-webpack-plugin/commit/ef2b2df6bf09b9f20fdfc1f7585cc4c4aceca21e is invalid and broken long term cache in some cases

[2019-03-06 15:12] evilebottnawi commented on #349
Just information for generate hash/contenthash respect `loaderUtils.interpolateName`

[2019-03-06 15:13] rudionrails commented on #349
@evilebottnawi thanks for the swift response. Where can I find that [hash] will be deprecated in webpack? I did not find this.

[2019-03-06 15:14] rudionrails commented on #349
To my knowledge, this has just been added in v4-alpha https://webpack.js.org/configuration/output/#outputhashfunction

[2019-03-06 15:17] rudionrails commented on #349
Also, loader-utils cannot handle it, as it has no access to webpack `compilation`, hence it is added inside this repo. I made a comment in the code about this.

[2019-03-06 15:25] evilebottnawi commented on #349
@rudionrails we should fix it in `loader-utils` not here, no public information about `[hash]` right now, but many docs already use `[contenthash]`. Relevant issue https://github.com/webpack/webpack/issues/8535, we should implement support `hash*` options in `loader-utils`, no need hack here, feel free to send a PR to `loader-utils`, it should be easy

[2019-03-06 15:30] evilebottnawi commented on #349
Here place for feature https://github.com/webpack/loader-utils/blob/master/lib/interpolateName.js#L96

[2019-03-06 15:32] rudionrails commented on #349
I was already working through the loader-utils package - I wanted to initially add it there also. You have any idea how I can get webpack's compilation options into this? Currently, loader-utils does not have this information and is somewhat agnostic to webpack

[2019-03-06 15:35] rudionrails commented on #349
Also, it would mean adding webpack as dependency into loader-utils in order to use `webpack.util.createHash`, etc

[2019-03-06 15:40] evilebottnawi commented on #349
@rudionrails

How we should solve this:

- Pass `hash*` options like `interpolateName(context, name, { hashDigest: compilation.hashDigest,  hashDigestLength: compilation.hashDigestLength })`.
- looks `webpack.util.createHash` exists and use their otherwise use built-in hasher for backward compatibility (respect `hash*` options)

[2019-03-06 15:46] rudionrails commented on #349
Makes sense, I'll look into it. Nonetheless, this potentially breaks backwards compatibility for all packages depending loader-utils. From your above answer, I take it that you are fine with it?

[2019-03-06 15:48] evilebottnawi commented on #349
@rudionrails we already need release `2` version, so it is normal

[2019-03-06 15:48] evilebottnawi commented on #349
Feel free to send a PR

[2019-03-06 15:49] rudionrails commented on #349
👍

[2019-03-06 15:54] evilebottnawi commented on #349
Let's keep open as upstream

[2019-03-06 17:09] evilebottnawi commented on #347
@HoldYourWaffle can't reproduce you problem

[2019-03-06 17:10] evilebottnawi commented on #347
All files copies (modified and new created)

[2019-03-06 17:10] evilebottnawi commented on #347
Looks you provide not full reproducible test repo

[2019-03-06 17:11] evilebottnawi commented on #347
So problem not in `copy-webpack-plugin`, double check you configuration

[2019-03-06 17:22] evilebottnawi commented on #348
Just note: `/app\/js\/(?:games|controllers)\/([^/]+)\/json\/test.json/` should be `/app\/js\/(?:games|controllers)\/([^/]+)\/json\/test\.json/` (you forget `\.`). Investigate what is problem.

[2019-03-06 17:40] HoldYourWaffle commented on #347
I re-cloned the repository I made, and I can with 100% certainty say that it *does* reproduce the issue on my machine. Perhaps it's a platform specific issue?

I checked with `logLevel: trace` and found the following:
- The file *does* get 'added for tracking content changes`
- But this *does not* actually work. Modifying the file does *not* trigger any log message.

I would upload the log, but I

[2019-03-06 17:51] evilebottnawi commented on #347
@HoldYourWaffle what is your platform? Please provide log, maybe it is help

[2019-03-06 17:52] evilebottnawi commented on #347
@HoldYourWaffle Also can you test this on previous version (`4`)? Just ensure it is not regression (maybe problem in some deps)

[2019-03-06 20:24] HoldYourWaffle commented on #347
I listed my platform in the original comment.

Using v4.6.0 of this plugin didn't help. I have added the logs to the repository (`logLevel = trace` on v5, `debug = debug` on v4).
After examining the logs I found out 3 things:
- I was wrong about the change not generating any new log output. The new text was the same as the old text, causing the text in my console not to change visibly. Whoops.
- I

[2019-03-07 10:10] evilebottnawi commented on #347
@HoldYourWaffle please provide information about you platform, it can't reproduced on `windows`, `macos`, `linux`, CI and `freebsd`, so i don't think problem in plugin

[2019-03-07 10:57] evilebottnawi commented on #348
Problem not in `copy-webpack-plugin`. Problem in `loader-utils` as i written above (https://github.com/webpack/loader-utils/blob/master/lib/interpolateName.js#L110). `resourcePath` contains platform specific path separator, so you regexp doesn't work on windows, unfortunately we can't fix it on plugins side and we can't fix it without major release `loader-utils`. I created issue https://github.co

[2019-03-07 11:19] pmwmedia commented on #347
I can reproduce the bug on Windows 10 using HoldYourWaffle's example repository. When I run `npx webpack -w`, all files are copied. However, all changes that I do at runtime are ignored.

I'm using almost the same system as HoldYourWaffle:

- Operating System: Windows 10 (Version: 1607, Build: 14393.2759)
- Node Version: 10.15.0
- NPM Version: 6.4.1

@evilebottnawi What further information could h

[2019-03-07 11:37] evilebottnawi commented on #347
Thanks, investigate

[2019-03-07 11:47] evilebottnawi commented on #347
@pmwmedia

Do you mean changed file don't copied to dist directory, right?

[2019-03-07 11:54] pmwmedia commented on #347
@evilebottnawi

Yes, you are right. The changed files are not copied to `dist\assets`, when modified at runtime.

[2019-03-07 12:04] evilebottnawi commented on #345
Find a problem, WIP on this

[2019-03-07 12:18] gewisser commented on #347
https://youtu.be/gmv3lZ_aTqY

[2019-03-07 13:03] #345 closed

[2019-03-07 16:29] HoldYourWaffle commented on #347
I did some more experimenting, and I can confirm that the file gets skipped "because content hasn't changed" (even though it definitely has).
I thought that maybe it was caused by [https://www.cygwin.com/](https://www.cygwin.com/), but using the normal `cmd` commandline resulted in the same behavior.

[2019-03-10 15:24] y0y0z commented on #345
@evilebottnawi:
thank you for looking into it, investing time in fixing it and sharing it with us.
once you will release a new package\version, i will update and report back.

thanks again!

[2019-03-11 11:45] evilebottnawi commented on #347
@gewisser thanks for good video, it is really strange, because i was do same on windows 10 using virtual box image and can't reproduce problem, i have only one idea, `PHPStorm` doesn't write content, we should check it, can you looks source code of `php` files after change their in `PHPStorm` (using any other editor, example `notepad`)

@HoldYourWaffle working good on `cygwin` and standard `cmd`

[2019-03-11 12:11] HoldYourWaffle commented on #347
I tested it in Visual Studio Code & Notepad++.

I don't think the problem lies in the files not being written due to some cache because the actual file system trigger *does* happen (as shown in the log), the log just says the files get skipped because they 'weren't modified'. This makes me think that the issue lies somewhere in this 'has this file changed' logic. Maybe the file system trigger happ

[2019-03-11 12:18] evilebottnawi commented on #347
@HoldYourWaffle Can you create video too with reproducible test repo (https://github.com/HoldYourWaffle/webpack-copy-issue)?

[2019-03-11 12:21] evilebottnawi commented on #347
In theory problem can be on webpack side (i.e. https://github.com/webpack/watchpack, webpack uses this module for watching, maybe you can add `console.log` or add breakpoints on event, `onChange` event https://github.com/webpack/watchpack/blob/v1.6.0/lib/DirectoryWatcher.js#L259)

[2019-03-11 12:34] HoldYourWaffle commented on #347
I don't see how my video would be different from gewisser's, but if you really want me to I'll do it when I get home.

I wouldn't be surprised if this issue is on the webpack side, it would explain why certain filetypes do get watched correctly (see my loader theory).

[2019-03-11 12:40] evilebottnawi commented on #347
@HoldYourWaffle yep, will be great if you make video, i don't know what is issue and it is very strange issue, any additional information and video will be help

[2019-03-11 12:44] evilebottnawi commented on #348
Find problem https://github.com/webpack-contrib/copy-webpack-plugin/pull/353, with one side it is fix, with other it is breaking change, i am afraid release this as patch

[2019-03-11 13:18] evilebottnawi commented on #345
Please test https://github.com/webpack-contrib/copy-webpack-plugin/releases/tag/v5.0.1, feel free to feedback, thanks

[2019-03-11 18:45] gewisser commented on #347
@evilebottnawi,  if I change the file in notepad, then there is no reaction either ...

More details:
If I roll back to the version on copy-webpack-plugin **4.6.0,** then everything works **fine** for me.

## 4.6.0:
![image](https://user-images.githubusercontent.com/5417292/54148778-e6601700-4445-11e9-956a-43efac7fbd18.png)
## 5.0.1:
![image](https://user-images.githubusercontent.com/5417292/54148

[2019-03-11 19:06] gewisser commented on #347
I tried changing paths for the directory and guess ... it all worked for me

[code]

[2019-03-11 20:16] HoldYourWaffle commented on #347
So my theory about the slashes was correct after all...
I think this could just be solved by adding path normalization in some places?

[2019-03-11 20:48] gewisser commented on #347
I was a little surprised not finding path.normalize in the project. Sooner or later it should have caused problems.

[2019-03-11 20:53] HoldYourWaffle commented on #347
I would create a PR to try and fix this, but I really don't have the time at the moment.

[2019-03-12 09:26] evilebottnawi commented on #347
@gewisser @HoldYourWaffle it is very strange, because `chokidar` always normalize path to linux way so it doesn't make sense when you use `linux` slashes instead of windows, anyway feel free to send a PR (i  will investigate this in future)

[2019-03-12 09:28] evilebottnawi commented on #347
It is fix, now we add upper directory to watch (`context` + base of `from`), `mail_template` and `pp` directories inside `include` so it doesn't have sense

[2019-03-12 16:13] HoldYourWaffle commented on #347
After updating the plugin to 5.0.1 it **sometimes** works for files that are copied by **glob**, but it's definitely not consistent. Sometimes it takes a long time for the file to be actually written, sometimes it doesn't get written at all.
As far as I can tell there's no difference in the copying behavior for files that are copied differently.

There's also no log output for when this plugin cop

[2019-03-12 16:28] evilebottnawi commented on #347
@HoldYourWaffle so after `5.0.1` only glob works fine? We use same library `normalize-path` (https://github.com/paulmillr/chokidar/blob/master/index.js#L583). Also can you investigate do you use `fsevents` (https://github.com/paulmillr/chokidar/blob/master/lib/fsevents-handler.js) or `https://github.com/paulmillr/chokidar/blob/master/lib/nodefs-handler.js` handler using (just add `console.log` to

[2019-03-12 16:32] HoldYourWaffle commented on #347
I'm not sure what you want me to do, how would I be using `fsevents`/`nodefs`?

[2019-03-12 16:39] evilebottnawi commented on #347
@HoldYourWaffle it is do `chokidar` automatically, just add `console.log(FsEventsHandler.canUse())` in `node_modules/chokidar/index.js` here https://github.com/paulmillr/chokidar/blob/master/index.js#L727 and put here output

[2019-03-12 16:46] evilebottnawi commented on #347
Also why we use `/` instead `\\` forward slashes

[2019-03-12 16:55] HoldYourWaffle commented on #347
It prints `undefined`.

[2019-03-12 16:59] evilebottnawi commented on #347
@HoldYourWaffle I don't know where is problem :disappointed: Do you have other os/virtual machines/computers and can test repo on these?

[2019-03-12 17:03] evilebottnawi commented on #347
@HoldYourWaffle only deep debug with `breakpoints` or `console.log`, it is instesting what using `windows 10` in virtual box i can't reproduce problem, so it is hard to debug for me

[2019-03-12 17:05] evilebottnawi commented on #347
@HoldYourWaffle Just clarify, watching doesn't work for all pattens (https://github.com/HoldYourWaffle/webpack-copy-issue/blob/master/webpack.config.js#L15)?

[2019-03-12 17:13] gewisser commented on #347
@evilebottnawi I can allow TeamViewer to log into my computer to investigate the problem ...

[2019-03-12 17:16] HoldYourWaffle commented on #347
As far as I can see everything works perfect on my Ubuntu 18.04.2 laptop.
Sadly I probably won't have any time to debug the issue in the near future.

As I said in my first post, certain file**types** exhibit this weird behavior (by which I mean either not getting copied at all or only sometimes), in my case `ejs` files and in @gewisser's case it's `php` files. JSON files for example *do* get copi

[2019-03-12 17:20] evilebottnawi commented on #347
@gewisser don't have `TeamViewer` and can't use due legal problem in y country :disappointed:

@HoldYourWaffle @gewisser I have some ideas in potential problem places and do PR, somebody can test this on own/reproducable repo to ensure we fix it?

[2019-03-12 17:22] HoldYourWaffle commented on #347
That could work I think

[2019-03-12 17:23] gewisser commented on #347
@HoldYourWaffle In my case, not only php. Everything in the "**include**" directory. But as soon as I turn, slashes, all files and all directories begin to be tracked ...

[2019-03-12 17:24] HoldYourWaffle commented on #347
Hmmm that's weird. Did you switch the slashes `/` → `\\` or the other way around?

[2019-03-12 17:26] gewisser commented on #347
Как было в 4.6.0:

![image](https://user-images.githubusercontent.com/5417292/54148778-e6601700-4445-11e9-956a-43efac7fbd18.png)

[2019-03-12 17:33] evilebottnawi commented on #347
Let't do try this branch https://github.com/webpack-contrib/copy-webpack-plugin/pull/355 branch

@gewisser Возможно на русском мы решим эту проблему быстрее, основная причина использования `/` вместо `\\` в баге на стороне `chokidar` (я указал ее выше), у многих пользователей watch просто не работал, поэтому мы преобразуем все в линукс разделители. Как я верно понимаю у вас тоже windows 10? Я пыта

[2019-03-12 17:57] gewisser commented on #347
https://youtu.be/40xqzoeF85w

[2019-03-12 18:06] y0y0z commented on #345
@evilebottnawi:
upgrading to v5.0.1 seems to resolve the issue.
shipit! :)

[2019-03-12 18:06] evilebottnawi commented on #347
@gewisser как я и говорил ранее не имеет значения используем мы `/` или `\\`, довольно странно что это изменения помогло решить проблему https://github.com/webpack-contrib/copy-webpack-plugin/issues/347#issuecomment-471678957 , я работаю над PR давайте его протестируем, я отправлю его в ближейшие 5-10 минут и помещу ссылку здесь

[2019-03-12 18:14] evilebottnawi commented on #347
@gewisser https://github.com/webpack-contrib/copy-webpack-plugin/pull/355 давай протестируем эту ветку, я просто удалил все `normalize-path`, нужно окончательно убедиться что проблема не в слешах (или наоборот в них)

[2019-03-12 18:20] evilebottnawi commented on #347
/cc @HoldYourWaffle can you test this branch https://github.com/webpack-contrib/copy-webpack-plugin/pull/355 too?

[2019-03-12 18:26] evilebottnawi commented on #347
Also maybe help if you provide `console.log(process)`

[2019-03-12 19:24] evilebottnawi commented on #347
/cc @HoldYourWaffle @gewisser Right now i am try this on `windows XP`, `windows 7`, `windows 8` and `windows 10`, can't reproduce, all works as expected :disappointed: Any ideas how we can create minimum reproducible test repo?

[2019-03-12 21:01] gewisser commented on #347
@evilebottnawi #355. У меня проблема исчезла. / Problem I have is gone.

[2019-03-12 21:32] HoldYourWaffle commented on #347
As far as I can tell the new branch fixes the issue 😄

[2019-03-13 12:09] evilebottnawi commented on #347
hm, great, i will try to add more tests on this PR and release this as patch version in near future

[2019-03-13 16:06] evilebottnawi commented on #347
After investigate we can't remove `normalize-path`, it is break plugin in many cases. I think problem in windows version or environment, windows supports `/` https://superuser.com/questions/176388/why-does-windows-use-backslashes-for-paths-and-unix-forward-slashes/176395#176395. I done tests on multiple machines with difference windows version and always it is works as expected.

Please provide mo

[2019-03-13 18:48] gewisser commented on #347
@evilebottnawi в коммите  #355 только 3 файла были модифицированы? У меня ещё изменён и index.js

![image](https://user-images.githubusercontent.com/5417292/54306084-a5007080-45d9-11e9-9f95-4847102263df.png)

[2019-03-13 19:15] budarin opened #356 "After recompiling plugin does not add files into assets-manifest.json"
* Operating System: Any
* Node Version: 11.10.0
* NPM Version: 6.7.0
* webpack Version: 4.29.6
* copy-webpack-plugin Version: 5.0.0

### Expected Behavior

Expect to have all copied assets to be in assets-manifest.json

### Actual Behavior
After recompiling there are no any assets which is copied by plugin
Here is plugin settings:
[code]

After first compilation it has such content
[code]
and afte

[2019-03-13 19:46] HoldYourWaffle commented on #347
I'm not sure the failing of the test is related to the PR, the failing test fails on the master branch too.

[code]

[2019-03-14 10:01] evilebottnawi commented on #356
@budarin we don't written existing files in webpack if they already exists, you should use https://github.com/webpack-contrib/copy-webpack-plugin#copyUnmodified option to disable this, problem can be solved when we officially will be support `manifest` plugins, we need this how better do this

[2019-03-14 10:07] budarin commented on #356
Thanks a lot!
You save my life! :)
And when the version is planing?

[2019-03-14 10:08] evilebottnawi commented on #347
@HoldYourWaffle @gewisser problem in not plugin, so we don't fix it here, windows support `/` and `\\`, also it is not reproducible on many windows and pass CI on windows, problem in you evninment, maybe old version of package in deps or need update windows, please debug code, it is easy and very fast

[2019-03-14 10:10] evilebottnawi commented on #347
Download https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/ any machines and try to reproduce problem (i can't, all works as expected)

[2019-03-14 10:24] evilebottnawi commented on #356
Don't know, we need discussion about api for this and how it should work

[2019-03-14 10:26] evilebottnawi commented on #356
/cc @mastilver @webdeveric

Any ideas how we can solve this problem, i think it is more common problem not only for `copy-webpack-plugin`

[2019-03-14 10:30] grantorin commented on #267
ignore: ['folder/**/*', 'folder/*.*', 'folder/*.js']

[2019-03-14 10:31] budarin commented on #356
here is also the error with hashed assets names in assets-manifest.json still present

[2019-03-14 10:49] evilebottnawi commented on #356
@budarin what is error?

[2019-03-14 10:54] budarin commented on #356
https://github.com/webpack-contrib/copy-webpack-plugin/issues/104

[2019-03-14 12:19] Reema4692 commented on #54
Worked for me.. Thanks.. :)

[2019-03-15 02:55] hinell commented on #347
The problem still persist. Changes made by d80865741471bcd22361a5373550478047b33547 didn't help.

### Chokidar exoneration
Surprisingly, **chokidar** (v2.1.2) is working well for me.

I'm using a non-standard web-server configuration which utilizes webpack's nodejs api `compiler.watch()` and discovered the same issue in both programmatic and cli modes (`$ webpack --watch ...`) where plugin fails t

[2019-03-15 10:00] evilebottnawi commented on #347
@hinell maybe you can create minimum reproducible test repo?

[2019-03-15 14:47] HaNdTriX opened #357 "instanceof doesn't work as expected"
* Operating System: macOS Mojave (10.14.3)
* Node Version: v8.11.4
* NPM Version: 5.6.0
* webpack Version: ^4.12.0
* copy-webpack-plugin Version: 5.0.1

### Expected Behavior

A new instance of CopyPlugin should be an instance of CopyPlugin.

### Actual Behavior

A new instance of CopyPlugin is not an instance of CopyPlugin.

### Code

[code]

### How Do We Reproduce?

1. Create a empty test direc

[2019-03-15 15:00] evilebottnawi commented on #357
We use standard plugin pattern for webpack, where is documentation what it should be work as you written above?

[2019-03-15 15:03] evilebottnawi commented on #357
Any way it is works as expected:
[code]

Looks you use old version of plugin (`v4` or below)

[2019-03-15 15:03] #357 closed

[2019-03-15 15:07] HaNdTriX commented on #357
Sorry for the inconvenience. I was loading an old version from a linked package.
Thanks for looking into it ❤️ !

[2019-03-16 16:35] hinell commented on #347
@evilebottnawi I think I have narrowed down the problem. It turns out that it derived from difference in treatment of folders and files in [patterns][patterns].

Here is an example. I have configured the plugin approximately in the following way:
[code]
It fails to see any changes and here is why

### The problem
As you can see in the example above the directory `./src/public/` doesn't contain any

[2019-03-16 19:59] gewisser commented on #347
@evilebottnawi Скачал по указанной тобой ссылке: https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/ образ виртуальной машины.

 Перенес проект, `npm install...`,  и вот что получилось:
https://youtu.be/VV4q0hsJAfs

[2019-03-18 09:37] evilebottnawi commented on #347
@gewisser очень интересно, можете ли вы создать минимальный вопроизводимый репозиторий, может быть чтото в конфигурации webpack? Или какой то другой плагин все ломает?

[2019-03-18 11:21] gewisser commented on #347
![image](https://user-images.githubusercontent.com/5417292/54526759-ce7a1d00-4988-11e9-9367-b17327cf5ece.png)

Я залил на гул диск этот скаченный образ уже со своим проектом (на видео выше). Могу дать ссылку...

[2019-03-18 11:40] evilebottnawi commented on #347
@gewisser Будет отлично, посмотрю сегодня вечером в чем же проблема

[2019-03-19 09:08] gewisser commented on #347
@evilebottnawi  Отправил на почту **she......@gmail.com**

[2019-03-19 13:14] fefrei opened #358 "Windows: Copied files are not watched properly"
* Operating System: Windows 10, 64 Bit
* Node Version: `v10.15.3`
* NPM Version: `6.7.0`
* webpack Version: `4.29.6`
* copy-webpack-plugin Version: `5.0.1`

### Expected Behavior

When running `webpack-dev-server` and updating a file copied by the `copy-webpack-plugin`, a rebuild should be triggered.

### Actual Behavior

Nothing happens.

### Code

Here's a minimal sample project: [webpack-copy-p

[2019-03-19 13:21] evilebottnawi commented on #358
Duplicate https://github.com/webpack-contrib/copy-webpack-plugin/issues/347

[2019-03-19 13:21] #358 closed

[2019-03-19 13:22] evilebottnawi commented on #358
Do you use `windows 8`?

[2019-03-20 11:03] evilebottnawi commented on #358
Thanks for repository, reproduce

[2019-03-20 11:07] evilebottnawi commented on #347
@gewisser can't run you image, anyway i reproduce problem using this repo https://github.com/webpack-contrib/copy-webpack-plugin/issues/358, investigate

[2019-03-20 12:09] evilebottnawi commented on #347
Find a bug https://github.com/webpack/watchpack/blob/v1.6.0/lib/DirectoryWatcher.js#L260, webpack stores watching files in `array` as is we send (i.e. if we send `C:/path/to/file.txt`, webpack stores this value as is), but on `change` event from `chokidar` always emit path in platform specific (i.e. `C:\path\to\file.txt`) so webpack doesn't find emitted file in `array` watching files and doesn't t

[2019-03-20 19:07] HoldYourWaffle commented on #347
To solve this you'd simply need to add path normalization right?

[2019-03-21 08:38] 823844596 commented on #243
@var-ram  did you solve it? i met it too, here is my log:
Could not find a matching event to end plugins CopyPlugin/Compiler/afterEmit { id: 5 }
ℹ ｢wdm｣: Hash: 9b4248970c5b33c8f00b

[2019-03-21 10:00] evilebottnawi commented on #347
And yes and no, WIP on this

[2019-03-21 18:18] evilebottnawi commented on #347
Done in https://github.com/webpack-contrib/copy-webpack-plugin/pull/359, feel free to test and feedback

[2019-03-21 19:54] HoldYourWaffle commented on #347
In my tests the PR solved the issue perfectly 😄

[2019-03-22 09:38] fefrei commented on #347
I can also report that the PR fixes the instance I reported in the duplicate issue #358.

[2019-03-22 09:40] evilebottnawi commented on #347
Great, release today

[2019-03-22 09:41] #347 closed

[2019-03-22 14:43] evilebottnawi commented on #356
Close in favor https://github.com/webpack-contrib/copy-webpack-plugin/issues/104

[2019-03-22 14:43] #356 closed

[2019-03-22 14:46] evilebottnawi commented on #229
let's close this in favor https://github.com/webpack-contrib/copy-webpack-plugin/issues/169

[2019-03-22 14:46] #229 closed

[2019-03-22 23:57] quetzalsly opened #366 "5.0.2 breaks my build when copy dir"
* Operating System: Win7
* Node Version: 11.12.0
* NPM Version: 6.9.1 next
* webpack Version: 4.29.6
* copy-webpack-plugin Version: 5.0.2

### Expected Behavior

It works like 5.0.1

### Actual Behavior

Some stuff fails to copy causing 'Cannot GET' errors

### Code

[code]

### How Do We Reproduce?

Try with 5.0.1 and then 5.0.2 you notice that the manifest.json copies ok but the directories comp

[2019-03-23 13:46] evilebottnawi commented on #366
@quetzalsly please create minimum reproducible test repo

[2019-03-26 00:59] appsparkler commented on #195
@evilebottnawi

It would be nice to have an `option` like `event` (either in `options` or `pattern config`) which will decide when the `copy` is executed.

[2019-03-26 08:32] evilebottnawi commented on #195
PR welcome

[2019-03-27 18:14] jrbarnard opened #367 "Allow to set the output directory"
### Feature Proposal

Add an option for specifying the output you want the copy to take place in.
This could either be a full path, or relative to the output directory. Maybe useful to have exclude / include too?

E.g:
[code]

### Feature Use Case

When you have multiple entries & outputs the copy webpack plugin copies to all, I want conditional copies dependent on the entry, if there is another w

[2019-03-27 18:23] evilebottnawi commented on #367
Use `ignore` option

[2019-03-27 18:23] evilebottnawi commented on #367
Also plugins doesn't depend on count of entry

[2019-03-27 18:27] jrbarnard commented on #367
Doesnt the ignore option ignore files to copy as opposed to directories to output too?

I've got multiple entries defined in webpack which are outputting to multiple different output files.

These correspond to different lambda functions.

One of the lambda functions requires a local binary of chromium however the others do not, I want to copy the binary from my node_modules directory into the rel

[2019-03-27 18:45] evilebottnawi commented on #367
@jrbarnard Please provide example on files and requested feature, example:

Files

[code]

And describe here what you want copy and where you want copy.

It is really hard to understand what you want to do.

Plugin doesn't work with entries

[2019-03-27 21:00] jrbarnard commented on #367
A simplified directory structure is:

Generated from webpack config (ts-loader,babel-loader)
/.webpack/functionOne/index.js
/.webpack/functionTwo/index.js

Source
/src/functionOne/index.ts
/src/functionTwo/index.ts
/node_modules/chromium/bin/binaryfile

I am trying to get
/node_modules/chromium/bin/binaryfile
to copy to
/.webpack/functionTwo/bin/binaryfile
But not to the other output directory.

A

[2019-03-28 15:25] evilebottnawi commented on #367
Why don't use:

With `output: .webpack`.

[code]
?

[2019-03-28 15:26] evilebottnawi commented on #366
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2019-03-28 15:26] #366 closed

[2019-03-28 17:27] jrbarnard commented on #367
Hi @evilebottnawi

I tried that before however it's a relative path and so you just get a nested path.
The same occurs with transformPath.

Thanks,
James

[2019-03-28 17:41] evilebottnawi commented on #367
@jrbarnard relative? Don't user absolute paths, it is supported but very dangerous. I still can't understand what you mean. Why answer about not working.

[2019-03-28 17:52] jrbarnard commented on #367
I was referring to relative paths.
They don't work in the way you suggested. It just nests them within all output directories

[2019-03-28 18:08] evilebottnawi commented on #367
Please provide minimum reproducible test repo, looks you just have invalid configuration or do not understand how this should work

[2019-03-28 18:26] jrbarnard commented on #367
Hi @evilebottnawi
I've just had a chance to put together a test repo now I'm out of work, I think there was some module conflict as I'm using serverless webpack which does some additional bundling and seems to get in the way of the 'to' option on copy webpack plugin.
I've created a separate repo without serverless to recreate the issue and it's doable with the 'to' option.

Sorry for wasting you t

[2019-03-28 18:26] #367 closed

[2019-03-29 12:57] kst83 commented on #104
Would be great if you could release a version including this on npmjs.com

[2019-03-30 01:56] appsparkler commented on #195
Hi @evilebottnawi

PR is raised, please review: https://github.com/webpack-contrib/copy-webpack-plugin/pull/368

[2019-03-30 04:13] Lliuxs commented on #243
did you solve it? i met it too, here is my log:
Could not find a matching event to end plugins CopyPlugin/Compiler/afterEmit { id: 3293 }
Could not find a matching event to end plugins FileManagerPlugin/Compiler/afterEmit { id: 3292 }

[2019-04-01 03:01] alvinhtml commented on #15
@evilebottnawi thanks!

[2019-04-03 00:11] andyburke opened #369 "toType detection has broken "to: '[1]'""
* Operating System: MacOS
* Node Version: 10.15.3
* NPM Version: 6.9.0
* webpack Version: 4.29.6
* copy-webpack-plugin Version: 5.0.2

### Expected Behavior

You should be able to specify a to: like '[1]' or 'foo/[1]'.

### Actual Behavior

Files are being put in a literal directory named '[1]'.

### Code

I believe this is caused somewhere in this change: https://github.com/webpack-contrib/copy-w

[2019-04-03 09:39] trkaplan opened #370 "cacheDir parameter?"
I use cache feature.
I had to change the cache directory other than the default one; `/node_modules/.cache`
There is a check in the source code for `globalRef.cacheDir` but I am not sure how to enable this?

I tried to add `cacheDir` param to webpack config but It didnt't work.

For now I solved my problem by modifying `postProcessPattern`.

Is it possible to use a custom cache directory path with

[2019-04-03 10:39] evilebottnawi commented on #370
We need option for this, feel free to send a PR

[2019-04-03 10:40] evilebottnawi commented on #369
Please provide minimum reproducible test repo, thanks

[2019-04-03 19:21] mauro0x52 opened #371 "Recently changed file disappears"
* Operating System: Ubuntu 18.04
* Node Version: 11.5.0
* NPM Version: 6.4.1
* webpack Version: 4.29.5
* copy-webpack-plugin Version: 5.0.2

### Expected Behavior

Previously copied files should not disappear

### Actual Behavior

Previously copied files disappears

### Code

[code]

### How Do We Reproduce?

1. have a configuration similar to webpack.js below
2. run webpack with --watch mode
3. e

[2019-04-03 19:22] evilebottnawi commented on #371
Please create minimum reproducible test repo

[2019-04-06 00:40] andyburke commented on #369
@evilebottnawi I added a comment on the change with what I believe is causing this issue. Unfortunately, I do not have time to build a minimum repro case right now.

[2019-04-08 10:01] evilebottnawi commented on #369
Thanks, it is bug, feel free to send a PR

[2019-04-24 13:19] evilebottnawi commented on #371
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2019-04-24 13:19] #371 closed

[2019-04-24 14:08] #369 closed

[2019-04-30 10:42] Badalik opened #377 "Don't copy new static files if dev-server already running"
Is it possible to watch changes in static files? For example i'm copy new files to folder for static files, but compilation not running, and new static files don't fall to dist, need to restart.

[2019-04-30 10:52] evilebottnawi commented on #377
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2019-04-30 10:52] #377 closed

[2019-04-30 21:40] Badalik commented on #377
@evilebottnawi  I did not understand you. Which template?

[2019-05-01 19:40] Badalik commented on #10
I have the same problem

[2019-05-03 04:13] nitro52 commented on #195
I would love to see this as a simple option to copy-webpack-plugin as well rather than a more complicated hook.

Our scenario is as follows.  We have a stand alone web project that acts as a host for a playground to design components. For the webpack dev server to work the dist folder needs to be relative. But for the production build (or actually after it) i want to copy the output to another fol

[2019-05-07 15:42] itaynoama opened #379 "Version 5.0.0 doesn't stop running when using webpack watch"
* Operating System: MacOS Mojave 10.14.4
* Node Version: v11.6.0
* NPM Version: 6.9.0
* webpack Version: 4.29.6
* copy-webpack-plugin Version: 5.0.0

### Expected Behavior

After running the command 'npm run build:watch' it generated the files and when the copy plugin finished, it need to wait to any change that i will do and after that generate the files again.

### Actual Behavior

After running

[2019-05-07 15:45] evilebottnawi commented on #379
I don't know what your `npm run build:watch` is doing, so i can't help

[2019-05-07 15:45] #379 closed

[2019-05-07 15:47] evilebottnawi commented on #379
Also please use latest version of plugin - `5.0.3`

[2019-05-08 03:34] mycoin commented on #261
[code]

[2019-05-08 09:56] evilebottnawi commented on #261
Somebody can create reproducible test repo?

[2019-05-10 07:33] HouCoder commented on #41
For me, this issue was caused by a wrong `publicPath` setting, before it was

[code]

It works after changing `http://127.0.0.1:8089` to `http://127.0.0.1:8089/`.

[2019-05-17 19:37] PabloK opened #381 "Copy relative symbolic links without resolving."
* Operating System: N/A
* Node Version: N/A
* NPM Version: N/A
* webpack Version: 4
* copy-webpack-plugin Version: next?

### Feature Proposal
Add an option to copy-webpack-plugin to copy relative symbolic links without resolving the underlying structure.

### Feature Use Case

[2019-05-18 00:11] marco-a commented on #381
Yes, please!

[2019-05-18 00:13] marco-a commented on #35
Please make this happen. Great plugin but a pain in the ass to set the permissions afterwards ...

[2019-05-22 17:25] kimgysen opened #382 "options.dirs undefined is required"
When using this plugin, I get the error:

In my webpack config I defined:

[code]

I'm running node v11.9.0 on Mac OSX High Sierra.

No idea what the error means. It should work no?
Thanks.

[2019-05-22 17:26] jeffposnick opened #383 "Backslashes in asset paths in v5 (breaking change from v4)"
* Operating System: Windows 10
* Node Version: 10.15.3
* NPM Version: 6.4.1
* webpack Version: 4.32.1
* copy-webpack-plugin Version: 5.0.3

### Expected Behavior

The paths exposed in webpack for assets copied over on Windows-based systems using `copy-webpack-plugin` v5 should use forward slashes (`/`) as path separators.

Asset paths in the webpack output are meant to be usable as URLs, which alw

[2019-05-22 17:41] kimgysen commented on #382
I found out what the problem is.
The format requires:

[code]
But honestly, please update your documentation if you make changes to the code.
The github frontpage for this library is in fact wrong.

[2019-05-22 17:42] #382 closed

[2019-05-22 18:18] kimgysen commented on #382
Seems I was looking at webpack-copy-plugin instead of copy-webpack-plugin.

[2019-05-23 10:24] evilebottnawi commented on #381
PR welcome

[2019-05-23 10:26] evilebottnawi commented on #383
Looks like a bug, PR welcome

[2019-05-23 15:39] jeffposnick commented on #383
https://github.com/webpack-contrib/copy-webpack-plugin/pull/378 looks like it should fix this.

[2019-05-24 09:18] PabloK commented on #381
I have started a PR on this so far only a failing test. It can be found here. Would be glad to have some review of the test as I'm new to the testing style you use.

https://github.com/PabloK/copy-webpack-plugin

[2019-05-24 10:28] evilebottnawi commented on #381
@PabloK please send a PR and i will review and say what is wrong

[2019-05-25 09:50] ekonoval opened #385 "New files are not being copied in watch-mode"
I skimmed over the related bugs (#252 )
 and they seem to be fixed, so I thought maybe it's a new bug in the newest 5-th version as minor version is low.

* Operating System: windows 10
* Node Version: 10.15.3
* NPM Version: 6.4.1
* webpack Version: 4.31.0
* copy-webpack-plugin Version: 5.0.3

### Expected Behavior

On watch start everything works fine
http://prntscr.com/nt54s1

then I copy new im

[2019-05-25 16:21] marco-a commented on #381
What's "confusing" the task seems pretty clear to me?

[2019-05-27 10:21] evilebottnawi commented on #385
Thanks for issue, i investigate this in near future, maybe problem on webpack side

[2019-05-27 10:23] evilebottnawi commented on #381
My mistake

[2019-05-30 23:53] govindrai commented on #29
Unfortunately, downgrading is not possible as you'd have to downgrade webpack as well which loses out on important features and bugfixes

[2019-06-02 20:24] iEchoic commented on #381
👍 just wanted to mention that this is important when using libraries like [sharp](https://github.com/lovell/sharp), which resolve dependencies with local symlinks.

[2019-06-03 05:25] mark-stopka opened #387 "[Bug] test clause not working"
* Operating System: Mac OS X
* Node Version: v12.3.1
* NPM Version: 6.9.0
* webpack Version: 4.32.2
* copy-webpack-plugin Version: 5.0.3

### Expected Behavior
Copy only files that match regexp defined in ``test:``

### Actual Behavior

Copies all the files in the ``assets/images`` source directory

[code]

### Code
[webpack.config.js](https://gist.github.com/mark-stopka/bc00b52e8f124bd4734529d6aa

[2019-06-03 07:48] 282159468 commented on #243
did you solve it? i met it too

[2019-06-03 11:41] evilebottnawi commented on #381
PR welcome

[2019-06-11 11:50] evilebottnawi commented on #387
Option `test` not for this purpose, please read docs `https://github.com/webpack-contrib/copy-webpack-plugin#test` (this option for `[placeholders]`). You should use `ignore` option for this purpose. Also it was renamed in next major release to avoid misleading.

[2019-06-11 11:50] #387 closed

[2019-06-12 16:18] y0y0z commented on #385
it is not only for new files, it happens even on existing files.

when i run webpack for the first time, webpack output is fine. but. on recompilation, the webpack output is missing all the files given to `copy-webpack-plugin` to handle.

is it related to webpack itself?

[2019-06-13 09:45] y0y0z commented on #385
@evilebottnawi: although you are extra busy. can you please only state whether there is an issue with the module itself or is it webpack?

[2019-06-13 10:10] evilebottnawi commented on #385
@y0y0z please create reproducible test repo, i think your problem not related to above

[2019-06-13 10:26] y0y0z commented on #385
@evilebottnawi: thank you for the quick reply. i can try and create a reproducible test but it will take me looots of time to strip my code in order to create one. anyhow, i am including more details and i hope it will shed some light

i configured the copy plugin to manage the following files:
- favicon.ico
- mainfest.json
- robots.txt

this is a snippet of the output for the first time webpack-d

[2019-06-13 10:29] evilebottnawi commented on #385
What is version `webpack-dev-server`? Looks like bug in `webpack-dev-server@2` (now version is 3). Anyway will be great to look on reproducible test repo, looks like something wrong in configuration (but can be bug).

[2019-06-13 10:40] y0y0z commented on #385
@evilebottnawi: as you can see in my [previous comment][1], i am using `webpack-dev-server@3.7.1`.

i am sure that a shared repository will be much easier to look for the problem. but can you still please share what could be the issue with the configuration if it works except for re-compilation?

[1]: https://github.com/webpack-contrib/copy-webpack-plugin/issues/385?_pjax=%23js-repo-pjax-container

[2019-06-13 10:53] evilebottnawi commented on #385
@y0y0z

Yes, feel free to ping me when you done this

Without configuration i can't say, it's just my guess

[2019-06-13 12:34] y0y0z commented on #385
@evilebottnawi: since i cannot share all the code online even after i stripped it, i have created a private repository an assigned you as a contributor. would appreciate your assistance :)

[2019-06-13 12:36] evilebottnawi commented on #385
@y0y0z thanks, can you provide link on repo (no invites on email :confused: )

[2019-06-13 12:37] y0y0z commented on #385
@evilebottnawi: i have just modified my previous comment to include a link.

[2019-06-13 12:40] evilebottnawi commented on #385
Thanks again, in my todo list (try to find time on this week to investigate this problem, there are a lot of other issues)

[2019-06-19 15:10] PierBJX opened #388 "Ignore a folder or a file"
* Operating System: Windows 10
* Node Version: 10.15.3
* NPM Version: 6.4.1
* webpack Version: 4
* copy-webpack-plugin Version: 5.0.3

### Expected Behavior

To ignore the folder or the file specifies in the options.

### Actual Behavior

It copies everything, even the ignore array path.

### Code

[code]

I also tried to ignore the folder like that.

[code]

### How Do We Reproduce?

Here is my f

[2019-06-20 13:05] xBau commented on #270
Same issue here. Sadly to see that there is no solution after 1 year.

Great plugin anyway :)

[2019-06-21 16:03] brian428 commented on #383
I think #389 also fixes this, so the devs will probably need to look at both and see which approach they prefer.

[2019-06-21 19:18] frehner commented on #385
I think I just ran into the same issue as outlined by @y0y0z above:
- initial compilation copies files
- subsequent compilations do **not** include those files, _unless_ the files themselves were changed

of note, I'm using `clean-webpack-plugin` to remove all items in the directory on every compilation (due to restrictions of the environment I'm working in), so in effect every time I save any fil

[2019-06-21 20:42] mathiscode commented on #385
+1 - I had to alter my workflow to not use copy-webpack-plugin because of this 🙁

[2019-06-22 16:14] veeramarni commented on #385
@frehner I guess your solution looks like a workaround. Can you share your changes?

[2019-06-22 18:29] frehner commented on #385
My current workaround was actually to downgrade clean-webpack-plugin back to v1. For some reason that makes it all work again, so I’m not sure who’s broken right now haha. But those two weeks Lucina don’t appear to work well together at the moment.

[2019-06-24 08:36] evilebottnawi commented on #388
Please provide minimum reproducible test repo, looks you have invalid ignore value

[2019-06-24 09:06] PierBJX commented on #388
[Fixed here](https://stackoverflow.com/questions/56670264/copywebpackplugin-ignore-a-folder?noredirect=1#comment99914101_56670264)

[2019-06-24 09:08] evilebottnawi commented on #388
:+1: Maybe we should documented this

[2019-06-26 13:34] y0y0z commented on #385
@frehner: i am suffering exactly from the same behavior and i am also using the `clean-webpack-plugin` version 3.0.0.
[code]
which version did you use?

[2019-06-26 13:37] evilebottnawi commented on #385
Somebody can create minimum reproducible test repo with `clean-webpack-plugin`?

[2019-06-26 13:41] y0y0z commented on #385
@evilebottnawi: mine includes it and i already set you as a contributor on the repository i shared with you.

[2019-06-26 13:43] y0y0z commented on #385
@frehner: please do so and make sure that `clean-webpack-plugin` is a part of it :)

[2019-06-26 14:50] frehner commented on #385
Here's the repo and how to get started: https://github.com/CanopyTax/single-spa-inspector#how-to-contribute

You should only need to follow steps 1-6. Once you've run `npm start`, there will be a folder called `build` that will be "cleaned" and then assets put back into it on every file save. There's no need for you to actually open Firefox or anything :)

[2019-06-29 09:32] SecMao commented on #15
FileManagerPlugin has not been updated for 10 months

[2019-07-02 12:59] y0y0z commented on #385
@evilebottnawi: could you please share whether there was any progress on the matter?

[2019-07-02 13:18] evilebottnawi commented on #385
@y0y0z it is open source, i can't spend all of my time on this, you can start testing and search problem, it is in my todo

[2019-07-03 09:24] y0y0z commented on #385
@evilebottnawi: i know it is, was only asking to make sure that both os us are not spending precious time on the same thing. anyhow, i love you :)

[2019-07-03 10:30] evilebottnawi commented on #385
@y0y0z feel free to investigate, i am write here when i starting search problem

[2019-07-03 14:31] evilebottnawi commented on #383
/cc @jeffposnick not sure it is bug in copy-webpack-plugin

Disagree, assets path is path, not url, so i think need normalize this on workbox plugin side.

Also using `/` in path on windows break watch mode for this plugin, because chokidar require use right path separator for wathing

Yes, because in v4 watch doesn't work on windows, now it is works perfect

[2019-07-03 15:42] jeffposnick commented on #383
That's surprising to hear (CC: @TheLarkInn). That assertion seems to be in conflict with the information from, e.g., the [webpack docs for `publicPath`](https://webpack.js.org/configuration/output/#outputpublicpath):

_The value of the option is prefixed to every URL created by the runtime or loaders. Because of this the value of this option ends with / in most cases._

AFAIK, there's isn't a sepa

[2019-07-03 15:56] evilebottnawi commented on #383
@jeffposnick hm, yep, need investigate, will do this in near future, thanks for feedback

[2019-07-04 09:49] pacifist-airmash commented on #382
This made me laugh, I did exactly the same.  Thanks for pointing that out.  👍

[2019-07-06 10:17] kdepp commented on #385
I found the root cause after reading thru change log and code of `clean-webpack-plugin`

Since `clean-webpack-plugin@2.0.0`,  you need to add an option to prevent unchanged files from removal,  while `copy-webpack-plugin` only emit files when they are changed.

[code]

https://github.com/johnagan/clean-webpack-plugin/issues/125

So their "breaking" changes accidenlty affect this lib.  😭

[2019-07-08 04:50] y0y0z commented on #385
@kdepp:
thank you. now with the `cleanStaleWebpackAssets` option, the webpack output directory holds the files that were not changed (though the verbose output of `copy-webpack-plugin` seems not to show the difference in execution when toggeling `copy-webpack-plugin`).

[2019-07-16 02:09] makbeta commented on #6
I'm running webpack 4.29.6, copy-webpack-plugin 0.1.19 & ugilfy-js-webpack-plugin 2.0.1
[The solution](https://github.com/webpack-contrib/copy-webpack-plugin/issues/6#issuecomment-388287173) mentioned by @kumarranjansingh gave me an error. Thanks @kumarranjansingh for posting the solution.
Once I made a slight modification, it worked like a charm. Posting here in case this helps someone else.

[co

[2019-07-16 09:37] evilebottnawi commented on #6
Will be fixed in next release

[2019-07-19 17:26] #383 closed

[2019-07-21 19:15] agrohs commented on #243
Seeing same issue (or at least same error message) over here...any resolutions?

[2019-07-22 08:00] bbortt commented on #383
@evilebottnawi may I ask when you're planning the next release? Since this bugfix is blocking us from an Angular8 upgrade...
The commits to `master` since `5.0.3` don't look breaking, so a `5.0.4` patch maybe?
Thanks for your feedback!
BR, Timon

[2019-07-22 10:04] evilebottnawi commented on #383
@bbortt today/tomorrow release

[2019-07-26 09:15] bbortt commented on #383
@evilebottnawi friendly reminder to release `5.0.4` please.. I really don't want to pressure you but our upgrade pipeline (`angular:^8.0.0`) is blocked by this issue.

[2019-07-26 10:13] evilebottnawi commented on #383
@bbortt release will be in next couple hours

[2019-07-26 12:19] mcalmus opened #396 "Retain file timestamps after copy"
- Operating System:
- Node Version:
- NPM Version:
- webpack Version:
- copy-webpack-plugin Version:

### Feature Proposal
See: https://github.com/angular/angular-cli/issues/14003
It would be nice if files copied using the plugin could retain their original timestamps rather than getting the current date and time.

### Feature Use Case
When a build is done it becomes very difficult to determine wh

[2019-07-26 12:45] evilebottnawi commented on #396
Please clarify what do you mean

[2019-07-26 14:03] mcalmus commented on #396
When files are copied using the plugin the standard OS file copy is used. The resulting file has a date and time of when the copy was performed. It would be nice if the original file's timestamp were retained.

For example:

Say I have a file:

02/21/2019  08:50         53,306 foo.png

When it's copied using the plugin it ends up as:
07/26/2019 10:00         53,306 foo.png

It would be nice if the

[2019-07-26 14:25] evilebottnawi commented on #396
keeping original date/time is invalid because copied files was created/modified at `07/26/2019`, i think it is unnecessary for this plugin, and very rare edge, you can create own plugin for this purpose

[2019-07-26 20:47] bbortt commented on #383
Thank you very much!

[2019-08-03 23:03] frehner commented on #385
https://github.com/CanopyTax/single-spa-inspector/pull/21

Looks like that worked. Thanks for figuring it out!

[2019-08-28 09:57] chezhe commented on #104
@budarin Have you fix the problem —— key and value both hashed?

[2019-08-28 10:29] chezhe commented on #104
@evilebottnawi I met same problem with @budarin
webpack config

[code]

And got manifest

[code]

Any suggestion?

[2019-08-28 10:31] evilebottnawi commented on #104
What is `ManifestPlugin` plugin? We need implement hook for this and plugins should use this hook

[2019-08-29 01:53] chezhe commented on #104
Here is `webpack-manifest-plugin`

[2019-08-29 02:42] chezhe commented on #104
https://github.com/webpack-contrib/copy-webpack-plugin/issues/104#issuecomment-370390225

This works for me, thanks for your reply.

[2019-09-02 06:10] YounHoyoul commented on #266
I met the same issue today.

I found the reason why this plug can not copy the files that has "(x86)" in the directory.

In the source "utils/normalize.js",
`
const absoluteContext = path
    .resolve(context)
    **.replace(/[\*|\?|\!|\(|\)|\[|\]|\{|\}]/g, (substring) => `[${substring}]`);**
`

With this part, the file path changes like below example.
`
C:\\Program Files (x86)\\Jenkins\\ --> C:\\

[2019-09-02 10:25] evilebottnawi commented on #266
@YounHoyoul can you create minimum reproducible test repo?

[2019-09-03 01:07] YounHoyoul commented on #266
@evilebottnawi Okay. Let me have a look.

[2019-09-03 01:58] YounHoyoul commented on #266
@evilebottnawi I made a simple repo.

https://github.com/YounHoyoul/testwebpackcopyplugin.git

You need to run this in the folder "Test (x86)". I tested in my Mac and Window server. It works in my Mac, but it doesn't work in the Windows server.

Below is the log in windows server.
`
C:\Test (x86)\testwebpackcopyplugin>npm run build

Hash: 5b90c629ada6fed12c59
Version: webpack 4.39.3
Time: 113ms
Bu

[2019-09-03 10:31] evilebottnawi commented on #266
@YounHoyoul thanks for repo!

[2019-09-04 18:32] prograhammer commented on #385
Looks like assets won't get removed with this temporary work-around. If you delete a file, you'll see it doesn't get removed in the target/dist directory.

[2019-09-04 23:25] gunn4r commented on #243
+1 same issue here.

[2019-09-06 06:50] anhurixian commented on #29
This worked for me
`new CopyPlugin([
        {
            from: path.join(__dirname, "src", "*.html"),
            to: path.join(__dirname, "dist", "[name].html")
        }
    ])`

[2019-09-14 15:16] adrianhuna commented on #396
I got around this problem by using [rsync](https://linux.die.net/man/1/rsync)

[code]

[2019-09-17 18:29] joeyparis commented on #59
I'm running into this problem with webpack 4.4.1 and node 10.5

[2019-09-20 11:25] jacobedawson commented on #206
For any fellow googlers that have come across this issue and not found the above working as expected, what ended up working for me was the following (in a Wordpress project):

[code]
The above config allowed me to copy all images files from ./src/images to ./dist/images. Once that's sorted you can use e.g. ImageMinPlugin to compress images in your dist folder.

[2019-09-23 05:30] vipcxj commented on #243
+1 same issue here.
Please reopen it.

[2019-09-24 08:56] dileep524 opened #400 "How i need to zip the dist folder ?"
Documentation Is:

- [ ] Missing
- [x] Needed
- [ ] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

### Your Proposal for Changes

[2019-09-24 10:02] evilebottnawi commented on #400
Please use stackoverflow/gitter for questions, you can use https://github.com/webpack-contrib/compression-webpack-plugin

[2019-09-24 10:02] #400 closed

[2019-09-24 13:26] sodatea commented on #294
Just came up with a fix: https://github.com/vuejs/vue-cli/pull/4613
The old behavior is due to default `matchBase: true` config passed to `minimatch`.
As I read the source code of this plugin today, I figured out that we can pass objects into the `ignore` array, so it's easily fixed with a config like
[code]

[2019-09-26 10:18] KirillYoYo commented on #243
+1, Could not find a matching event to end plugins Object/Compiler/afterEmit { id: 3455 }

[2019-09-28 18:35] Eutrepe opened #402 "Sync pattern"
### Feature Proposal

You could add an option to make the patterns synchronous. For example like that:

[code]

### Feature Use Case

It's very useful if you want make something like that:

[code]

Until you add such a function, and someone would need it (like me), I made a NPM package based on your code.

https://www.npmjs.com/package/@eutrepe/sync-copy-webpack-plugin

[2019-09-30 11:09] evilebottnawi commented on #402
No need sync, here you right solution https://github.com/webpack-contrib/copy-webpack-plugin/issues/318

[2019-09-30 11:09] #402 closed

[2019-10-02 10:14] KirillYoYo opened #403 "Could not find a matching event to end plugins error at scss compiling"
have a error in console: "Could not find a matching event to end plugins Object/Compiler/afterEmit { id: 3463 }" then i try change "z-index" property in scss file...
Like this issue:
https://github.com/webpack-contrib/copy-webpack-plugin/issues/243

[2019-10-02 11:16] evilebottnawi commented on #403
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Maybe you use old webpack version

[2019-10-02 11:16] #403 closed

[2019-10-02 19:41] dkthehuman commented on #385
@evilebottnawi If it'd still help, I created a minimal test repo to demonstrate the bug along with the repro steps in the README: https://github.com/dkthehuman/webpack-copy-bug

[2019-10-03 11:10] evilebottnawi commented on #385
@dkthehuman https://github.com/webpack-contrib/copy-webpack-plugin/issues/385#issuecomment-508914721

[2019-10-03 11:11] evilebottnawi commented on #385
In next major release we will always emit assets, so no need this option for `CleanWebpackPlugin`

[2019-10-09 12:39] RPainter8West commented on #348
Could you at least put a note in the readme about this until a fix is available?

[2019-10-16 06:41] kakarlus opened #404 "copy files and dump its content into one file"
Hello Everyone,

is it possible to copy all my svgs and transform it's content (string manipulations) and dump all of it in a file like below?

i've tried but it's only copying one file.

[code]

thanks in advance,
Carlos

[2019-10-16 12:05] evilebottnawi commented on #404
Do you mean merge all in one file (https://github.com/webpack-contrib/copy-webpack-plugin/issues/154)? You can already transform file content using `transform` option

[2019-10-16 21:58] kakarlus commented on #404
that's exactly what i tried with the above code, but the resulting content of my file only has 1 svg in it, instead of having all the svgs from the folder

[2019-10-17 11:29] evilebottnawi commented on #404
No right now, but you can send a PR, mark as duplicate https://github.com/webpack-contrib/copy-webpack-plugin/issues/154

[2019-10-17 11:29] #404 closed

[2019-10-24 22:27] chrisblossom commented on #261
The issue is `copy-webpack-plugin` does not persist the assets copied in webpack's current asset list. I attempted to resolve this issue in #360 but the PR looks to be stale. If a maintainer can provide some insight on how to move that PR forward I would be willing to make the necessary changes to solve this.

[2019-10-25 10:40] evilebottnawi commented on #261
@chrisblossom this PR is breaking change, we will fix it in next release

[2019-10-26 15:39] VisonM opened #405 "why hang on 97% [0] emitting CopyPlugin in window but mac will not"
- Operating System:window7
- Node Version:10.15.0
- NPM Version:6.4.1
- webpack Version: 4.41.2
- copy-webpack-plugin Version:5.0.4

### Expected Behavior

### Actual Behavior
Only hang on compile under the window, Mac will not。
in window，The file copy seems to be successful, but too much, there is no way to confirm one by one, there is no log using the configuration<code> {{logLevel: 'error'}</co

[2019-10-27 08:03] VisonM commented on #405
Under node version 10.15.0, the compilation was interrupted and there was no information. So I tried to upgrade the version of node and see if there will be any changes. As expected, the compiler printed an error and found that my output path does have a special character —— ' : ' . then I modified it and everything is fine. It’s great.

[2019-10-27 08:03] #405 closed

[2019-11-03 11:24] dNitro opened #408 "`from` does not respect provided globe pattern"
- Operating System: Mac OS X
- Node Version: 12.12.0
- NPM Version: 6.12.1
- webpack Version: 4.41.2
- copy-webpack-plugin Version: 5.0.4

`from` does not respect provided globe pattern and also copies the wrapper folder.

### Expected Behavior
With provided `webpack.config.js` and the following plugin config:
[code]
the following final structure is expected:
[code]
### Actual Behavior
but the out

[2019-11-11 18:07] tobia commented on #261
`cleanStaleWebpackAssets: false` does not solve the problem for me.

I use CopyWebpackPlugin to copy static files into the bulid folder:

[code]

If I use `webpack --watch`, everything seems to work on the first build. But from the second bulid onward, the static assets are removed by CleanWebpackPlugin (which is correct, because they might have been modified) but they are not copied again by Copy

[2019-11-13 19:17] marcelo2605 commented on #286
@martixy could you share your solution?

[2019-11-18 09:31] zmh7057 commented on #243
+1, Could not find a matching event to end plugins CopyPlugin/Compiler/afterEmit { id: 2 }

[2019-11-19 09:10] zhangyanwei commented on #185
I met the same error, the version of it is '5.0.4', my configuration is:
[code]

Does any know what happened?

[2019-11-19 18:24] javierguzman opened #411 "Copy files with hashed name?"
Hello all,

I think it would be a nice feature to have the ability to hash the filenames of the copied files. Currently when I build with Webpack I copy my locales json files ( translations) into the dist folder.

These will be cached in user´s browsers and if I update them, users will not notice as they are cached.

Please, let me know your thoughts about this.

Thank you and regards.

[2019-11-20 11:00] evilebottnawi commented on #411
You can do it using `to: '[path].[hash].[ext]'`, maybe we should improve docs about it, feel free to send a PR

[2019-11-20 18:54] javierguzman commented on #411
Thanks @evilebottnawi !

Actually I am confused now. I remember searching for "hash" word in the documentation and I did not find anything, that is why I raised the suggestion. However, now I have taken another look and indeed it is pretty clear. Maybe I had the "Match Case" option checked in the search or something and that is why I could not find it.

Sorry for my mistake! I close this.

[2019-11-20 19:03] evilebottnawi commented on #411
Let's open, i want to improve docs to avoid such situations in future

[2019-12-01 23:31] karimcambridge opened #413 "transform only works in subdirectories and not immediate subfiles?"
- Operating System: Windows 10.0.18363 Build 18363
- Node Version: v13.0.1
- NPM Version: 6.13.1
- webpack Version: 4.41.2
- copy-webpack-plugin Version: ^4.6.0

### Expected Behavior

The transform function doesn't seem to work on immediate subfiles, only in files in subdirectories
/client/file.js
/client/core/file.js

### Actual Behavior

it works in core/file.js but not in client/file.js

### C

[2019-12-02 05:36] #413 closed

[2019-12-06 13:40] Quirksmode opened #416 "Plugin slows down CSS compile time even when it doesn't copy any files"
- Operating System: macOS v10.13.6
- Node Version: v12.13.0
- NPM Version: 6.12.0
- webpack Version: 4.41.2
- copy-webpack-plugin Version: 5.0.5

### Expected Behavior

SCSS will compile to CSS in the same time as when the Copy plugin is not being used, if no php files are actually being copied

### Actual Behavior

Even though no php files are being copied when I make a scss change, the scss comp

[2019-12-06 13:42] evilebottnawi commented on #416
Please create reproducible test repo, something wrong in your structure and regexps

[2019-12-07 07:23] JohnnyFun commented on #261
In my case, I was using `cleanAfterEveryBuildPatterns` instead of `cleanOnceBeforeBuildPatterns`. When I changed it to clean _before_, it cleans prior to the copy plugin running.

[2019-12-09 10:46] #408 closed

[2019-12-09 12:49] #411 closed

[2019-12-09 12:51] evilebottnawi commented on #385
Close in favor https://github.com/webpack-contrib/copy-webpack-plugin/issues/261, will be fixed in next release, workaround:
[code]

[2019-12-09 12:51] #385 closed

[2019-12-09 12:59] evilebottnawi commented on #169
webpack already do it on own side

[2019-12-09 13:30] #388 closed

[2019-12-09 14:27] jodydeanrogan opened #422 "serialize-javascript dependency: regular expressions Cross-Site Scripting (XSS) vulnerability"
Would it be possible to upgrade serialize-javascript dependency to version 2.1.1 or later? https://github.com/advisories/GHSA-h9rv-jmmf-4pgx

Many thanks

[2019-12-09 14:34] pgs-gmartowski commented on #422
Looks like serialize-javascript version is updated in master branch but in v5.0.5 tag seems to still be at version:
`"serialize-javascript": "^2.1.0",`

https://github.com/webpack-contrib/copy-webpack-plugin/blob/v5.0.5/package.json

[2019-12-09 14:34] evilebottnawi commented on #422
Release will be in near future, WIP

[2019-12-09 14:34] evilebottnawi commented on #422
Fixed in master

[2019-12-09 14:34] #422 closed

[2019-12-10 00:00] niccolomineo commented on #267
I have this but no luck in getting it to work:

`          {
                from: path.resolve(__dirname, '../src'),
                to: path.resolve(__dirname, '../dist'),
                ignore: [path.resolve(__dirname, '../src/media/**/*')]
            }`

[2019-12-10 19:28] vancehu opened #423 "NPM Audit Moderate Vulnerabilities"
[code]

[2019-12-10 19:28] #423 closed

[2019-12-11 13:32] smashercosmo opened #424 "Passing empty array is no longer possible"
The latest release introduced breaking change (options validation). Passing an empty array is no longer possible. So it broke cases like

[code]
example: https://github.com/styleguidist/react-styleguidist/blob/master/src/scripts/make-webpack-config.ts#L100

### Expected Behavior

I honestly don't know if it's a valid case to support :)

[2019-12-11 13:39] evilebottnawi commented on #424
Change condition `[condition ? new CopWebpackPlugin() : false].filter(Boolean)`, it is expected empty array is not supported

[2019-12-11 13:41] smashercosmo commented on #424
Yeah, I know, that you can write it this way :) But before passing an empty array didn't trigger an error. So, technically, it's a breaking change.

[2019-12-11 13:43] evilebottnawi commented on #424
Let's fix it :+1:

[2019-12-11 22:04] boutell commented on #424
Watching this as it broke a number of projects, pinning temporarily to 5.0.x

[2019-12-12 09:25] evilebottnawi commented on #424
In next release it will be returned and you can't use empty array

[2019-12-12 09:45] #424 closed

[2019-12-20 11:29] hdodov commented on #385
I think the problem isn't in `clean-webpack-plugin`. I'm having the same issue and although I'm using `clean-webpack-plugin` too, I tried both setting `cleanStaleWebpackAssets: false` **and** disabling it completely, but that didn't resolve the problem.

Here's my config:

[code]

Basically, I want `dist/icons` to be a mirror of `src/icons`.

And by the way, `clean-webpack-plugin` has a setting to

[2020-01-07 08:36] 596050 commented on #243
Same issue Could not find a matching event to end plugins CopyPlugin/Compiler/afterEmit { id: 9 }

[2020-01-07 21:33] forresthopkinsa commented on #6
[code]

[2020-01-08 09:48] z2516305651 commented on #243
I solved it，因为我在vue的method里多写了一个created

[2020-01-14 19:15] cakidnyc commented on #266
Any update on a fix for this? We have the same problem on our build server that is installed at  C:\Program Files (x86)\Jenkins.

[2020-01-15 12:06] evilebottnawi commented on #266
@cakidnyc maybe you can create reproducible test repo too?

[2020-01-15 14:09] akx commented on #396
We're using files copied by this plugin to upload a static site using `aws s3 sync`, which looks at file sizes and timestamps.
Currently all files get reuploaded on every sync, which is annoying.

I'll take a stab at implementing this, shouldn't be too hard.

[2020-01-16 15:23] dsnoeck commented on #92
An other example that could be usefull:
[code]

[2020-01-21 10:02] Bjego commented on #385
@evilebottnawi which version do you mean with the next major version? Is it 6.0.0, or is it already released?

[2020-01-22 17:14] vidal7 opened #430 "Asset size is wrong when using transform option in webpack-stats.json"
- Operating System: Windows 10
- Node Version: 12.14
- NPM Version: 6.13.4
- webpack Version: 4.41.2
- copy-webpack-plugin Version: 5.1.1

### Expected Behavior

When using --json flag to generate a webpack-stats.json file with webpack and using transform option, assets size must be right.

### Actual Behavior

Size of asset is wrong when using transform option.

### Code

In webpack.config.js
[co

[2020-01-22 17:17] evilebottnawi commented on #430
I think it is bug in webpack, i will look at this in near future

[2020-01-22 20:39] IanVS commented on #210
What is the recommended way to copy files from `node_modules`?  When using yarn workspaces, there's no guarantee whether it will be in the project's node_modules or hoisted up to the root level.

[2020-01-23 09:35] evilebottnawi commented on #210
@IanVS Can you create minimum reproducible test repo with examples, i think yarn have ENV variable where stored path to the node_modules directory

[2020-02-11 17:09] martixy commented on #286
@marcelo2605 My solution goes like this:

[code]

@evilebottnawi What I mean is that I have to use the above approach instead of this:
[code]
because not only does the build process fail if it depends on the `to` file, but even if it did not fail, the to-file is overwritten if it exists, even though `force` is set to false. So yes, the irony is still going strong...

[2020-02-17 11:59] levz0r opened #431 "Add an option to fail the build if a file is missing"
- Operating System: macOS 10.15.1
- Node Version: 10.16.3
- NPM Version: 6.13.1
- webpack Version: 3.3.9
- copy-webpack-plugin Version: 5.1.1

### Feature Proposal

When specifying a concrete file in `from` param and the file is not found, only a warning is generated.
Add a parameter such as `mandatory: true` which is false by default. When set to true and the file is not found - make the build fa

[2020-02-18 14:05] evilebottnawi commented on #431
Yes, let's do it, PR welcome

[2020-02-18 18:02] dijs commented on #298
How did you fix this issue?

[2020-02-21 10:39] githoniel commented on #270
Same issue here.

[2020-02-26 16:19] blaster151 commented on #101
Is this still a limitation with webpack, three years later?

[2020-02-27 09:17] sshmyg commented on #408
Solution:
- skip `to` params in config at all
- add `flatten: true`

Eg
[code]

Add this comment, because isn't obvious how to copy files without wrapper.

[2020-02-27 15:02] stevemarksd opened #434 "Error: EISDIR: illegal operation on a directory, open"
Same as https://github.com/webpack-contrib/copy-webpack-plugin/issues/52

[code]

Error:

[code]

XXXXX exists in my path

- Operating System:
- Node Version:
- NPM Version:
- webpack Version:
- copy-webpack-plugin Version:

### Expected Behavior

### Actual Behavior

### Code

[code]

[code]

### How Do We Reproduce?

[2020-02-29 04:42] infime commented on #270
As someone new to webpack I'm kind of stunned that this hasn't been addressed yet. Has anyone found any viable alternatives? My use case is very simple.

[2020-03-02 16:56] stevemarksd commented on #434
Had to put an end slash on the path `/` and then `, toType: 'dir'`

[2020-03-02 16:56] #434 closed

[2020-03-04 22:37] setzamora commented on #396
Same case here with Azure Storage, it would be great if we can retain the timestamp of each file so it would prevent it from being re-uploaded. This would speed most CI/CD pipelines.

[2020-03-05 10:26] evilebottnawi commented on #396
Feel free to send a PR

[2020-03-05 10:38] akx commented on #396
I have an open branch about this, but I got sidetracked. Perhaps I'll get something complete done this week or the next!

[2020-03-06 14:05] IT-CASADO commented on #243
Same issue here

[2020-03-06 14:10] evilebottnawi commented on #243
Please create reproducible test repo if somebody faced with it

[2020-03-06 21:45] ricokareem commented on #385
thank you to everyone on this thread.  it seems as though the combination of `cleanStaleWebpackAssets: false,` and `copyUnmodified: true,` works for my project.

[code]

note:  you can also add `force: true` to CopyPlugin just in case, but for me it wasn't necessary.

[2020-03-12 11:57] tschach commented on #266
I also just came across the very same error that @YounHoyoul describes here: https://github.com/webpack-contrib/copy-webpack-plugin/issues/266#issuecomment-527015083.

If someone could explain what the purpose of the replace in `utils/normalize.js` https://github.com/webpack-contrib/copy-webpack-plugin/blob/cc550421455edc722b6a6be2719f97eaa1c426f7/src/utils/normalize.js#L16 is, I would be happy to

[2020-03-12 12:05] evilebottnawi commented on #266
Yes, `normalize` is strange for me too, feel free to investigate it and send a PR

[2020-03-12 12:43] tschach commented on #266
Will do. But since this code was originally meant to actually *fix* the exact same issue I am a bit confused. Need to trace back whether the original fix would have worked in this scenario.

[2020-03-14 11:19] DYefimov commented on #396
Found another problem with this same root cause:
Chrome devtools workspaces 2.0 is not mapping to local resources correctly when files differ by timestamp.
As a result: webpack bundled code is editable from devtools, where static files are not.

Would be nice to have this option for development env.
IMHO this option should be true by default.

[2020-03-23 08:06] wowissu commented on #313
Is any update here ?
I got same problem.

[2020-03-23 08:55] gewisser opened #440 "Copy files with the archive attribute only"
- Operating System: Windows
- Node Version: v12.16.0
- NPM Version: 6.11.3
- webpack Version: 4.42.0
- copy-webpack-plugin Version: 5.1.1

### Feature Proposal

In my project there is a folder that should be completely copied to the target directory. Files in this folder are changed not so often and not all. There are about **10,000** files in this folder. The fun begins when I want to upload the

[2020-03-23 12:03] gewisser commented on #440
Or yes, maybe it’s to implement some `filter` function, where I can check the file attribute of the “**archive**” file that copy-webpack-plugin wants to copy and do not let it do if this flag is on the file, otherwise let it copy and remove this attribute, eg

[code]

[2020-03-23 12:12] evilebottnawi commented on #440
Yes, feel free to send a PR

[2020-03-25 03:02] anhnt-mageplaza commented on #15
Thank you. This is the solution for me. For any one who is asking why we need this. I have a public folder hosting on Firebase Hosting. I have a Yarn workspace which bundles the file at its dist folder (dist folder with other static files). Then, I moved the folder to public.

[2020-03-30 15:09] Trolldemorted commented on #261
@evilebottnawi can you estimated when a release with a fix will be available?

[2020-04-01 07:01] stilettk opened #442 "Plugin is not compatible with @types/webpack@4.41.10"
- Operating System: Windows 10 win32 10.0.18363
- Node Version: v12.2.0
- NPM Version: 6.9.0
- webpack Version: webpack@4.42.1
- copy-webpack-plugin Version: copy-webpack-plugin@5.1.1
- @types/webpack Version: @types/webpack@4.41.10

### Expected Behavior

Build should succeed

### Actual Behavior

[code]

### Code

[code]

### How Do We Reproduce?

Install `@types/webpack@4.41.10`

[2020-04-01 10:04] evilebottnawi commented on #442
Please open issue in types repo

[2020-04-01 10:04] #442 closed

[2020-04-01 10:07] stilettk commented on #442
Well I thought that plugins should depend on types, not vice versa...

[2020-04-01 10:18] evilebottnawi commented on #442
Current plugin doesn't contain types

[2020-04-06 17:47] pankerit commented on #261
same problem

[2020-04-07 08:55] evilebottnawi commented on #261
Hope current month

[2020-04-07 15:02] thw0rted commented on #396
Just as a data point, this would help me.

I use the plugin to grab static assets from some libraries I'm using and put them in my dist directory during the build, then I use `rsync` or `robocopy` (depending on platform) to push the build directory to a staging server for testing.  Right now, the sync program can't tell that the assets are the same every time, because the files in the build direct

[2020-04-09 16:23] jhunexjun commented on #29
this worked for me
[code]
to
[code]
Change the `./build/pdfexpress/` portion with your distribution (dist) folder

[2020-04-16 06:32] Prozi commented on #29
Is the order still random like:

[code]

and I have files `image.jpg` in folder `one` and in `two`, then the output is non-deterministic, like sometimes `one/image.jpg` will prevail and sometimes `two/image.jpg`

cc @kevlened

[2020-04-17 23:03] jasonmorita commented on #15
I have run into this a couple of times and forget how I solved it each time then re-solve it like this: `"build": "webpack && cp ./dist/<file> ./<target dir>"`

Just use `cp` in npm scripts if your use-case is simple.

[2020-04-22 10:42] mikesimmonds opened #443 "dependancy 'minimist' has security flaw reported by GH"
- Operating System: OSX
- Node Version:  12.11.1
- NPM Version: 6.11.3
- webpack Version:
- copy-webpack-plugin Version: 5.1.1

### What is the error?

Github is warning of security error in the minimist package <1.2.3
see: https://github.com/advisories/GHSA-vh95-rmgr-6w4m

[code]

[2020-04-22 10:47] evilebottnawi commented on #443
Please update lock file

[2020-04-22 10:59] mikesimmonds commented on #443
Sorry to sound dumb, but do you mean my local package.lock or the one in the repo (and create PR)?

[2020-04-22 11:12] mikesimmonds commented on #443
Many thanks

[2020-04-22 11:12] #443 closed

[2020-04-23 05:35] jaohaohsuan commented on #243
Could not find a matching event to end plugins CopyPlugin/Compiler/afterEmit { id: 95 }

[2020-04-27 16:19] #261 closed

[2020-04-27 18:18] tinyfly commented on #209
For what its worth, this problem still exists, If I set flatten:true then I can't ignore files based on "from" directory structure.

[2020-04-27 18:34] tinyfly opened #449 "Can't flatten output and have ignore blobs based on directories at the same time."
- Operating System: MacOS 10.15.4
- Node Version: 10.17.0
- NPM Version: 6.14.4
- webpack Version: 4.43.0
- copy-webpack-plugin Version: 5.1.1

### Expected Behavior

I'd like to set `flatten: true` and ignore files based on the `from` directory structure (i.e. `brand/**/*.*`).

### Actual Behavior

The ignore glob isn't matched and all files are flattened into the output folder. If I set `ignore`

[2020-04-29 22:01] takuy opened #455 ""Options should be array" error - constructor only takes array args."
- Operating System: Windows 10
- Node Version: 6.14.4
- NPM Version: 14.0.0
- webpack Version: 4.43.0
- copy-webpack-plugin Version: 5.1.1

### Expected Behavior

It would be expected the documented syntax for the plugin works.

### Actual Behavior

If the constructor is structured like the documentation, you get an error like this:

[code]
### Code

Error-causing code:
[code]
Good code:
[code]

#

[2020-04-29 23:30] jonathanRinciari commented on #455
Oh man this just tripped me up for the last hour or so. I was about to downgrade to try and get around this. Thanks!

[2020-04-30 03:58] calebTomlinson commented on #455
I can confirm I am having this problem as well.

I see from the git history that you just made a breaking change that hasn't been released yet, but it's frustrating and time consuming that I'm working with a freshly installed module and reading the [official docs](https://webpack.js.org/plugins/copy-webpack-plugin/), but it doesn't work as documented.

Perhaps release branches would reduce these i

[2020-04-30 09:08] evilebottnawi commented on #455
We have a next branch in master because we prepare next release, please use documentation from here https://github.com/webpack-contrib/copy-webpack-plugin/tree/v5.1.1, release will be soon

[2020-04-30 10:58] evilebottnawi commented on #416
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

Also we update globby to latest version, so we get big perf improvements

[2020-04-30 10:58] #416 closed

[2020-04-30 11:01] evilebottnawi commented on #169
It is bad idea we should always to emit files, otherwise build will not be persistent, what could potentially break other plugins (for example clean-webpack-plugin)

[2020-04-30 11:01] #169 closed

[2020-04-30 11:04] evilebottnawi commented on #266
Fixed in master, release will be soon, if you encounter a problem after updating to `6.0.0` feel free to open a new issue with reproducible test repo, thanks for the issue

[2020-04-30 11:04] #266 closed

[2020-04-30 16:17] jonknowles commented on #455
I don't know why this issue was closed - I searched the open issues because of this problem an hour ago, but only found this solution now. The issue is not resolved until the incorrect public documentation has been fixed. Until then, people are going to be trying to understand why this is not working and looking through your open issues and not finding this.

[2020-04-30 16:37] jonathanRinciari commented on #455
This should absolutely not be closed.. This is clearly an issue and this ticket serves as a point of reference for people who have this problem. This should be closed once the change has been merged..

[2020-05-01 07:18] stevage opened #456 "Unclear `context` parameter doco."
Documentation Is:

- [ ] Missing
- [ ] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

The `context` parameter:

I honestly could not make any sense of this. I'm new to Webpack and reading someone else's config file where they have used this parameter. I still have no idea what it does.

### Your Proposal for Changes

I don't really have one. From [this stackoverflow issue

[2020-05-01 21:47] maddog986 commented on #455
I think the OP had the wrong version, but it is happening on for me on version 5.1.1. I just spent way to much time with this problem.

[2020-05-01 23:34] takuy commented on #455
Sorry. That was a typo on my part.

[2020-05-04 16:04] sarahdayan commented on #456
This is indeed unclear in the docs, but this is exactly what the StackOverflow issue that you linked says. The `context` option allows you to specify a context to narrow down your `from` glob.

So, let's say this is your configuration:

[code]

Here, the plugin will retrieve all files recursively (`**/*`) from the `public` directory. This differs from doing `public/**/*` because in that case, you'

[2020-05-04 17:50] Hypnosphi commented on #455
@evilebottnawi do you think you can mark `5.1.1` branch as default in GitHub for now, to prevent this kind of confusion?

[2020-05-05 14:07] rodvlopes commented on #455
Short answer:
[code]

Long answer:

[2020-05-05 21:26] marco-a commented on #455
I'm having the same issue. Please fix.

[2020-05-06 08:41] stevage commented on #456
Ah thanks, I definitely understand it much better now.

So maybe something like:

But probably also needs to explain the "why", which you did well.

[2020-05-08 03:25] xuya227939 commented on #455
It's too much！！！,copy-webpack-plugin ```5.1.1``` is
[code]

README.md is
[code]

[2020-05-08 12:20] evilebottnawi commented on #282
Done in master, now we use `compilation.additionalAssets` hook

[2020-05-08 12:20] #282 closed

[2020-05-10 21:05] katheryn-k commented on #455
Same problem =(

[2020-05-12 05:32] lychees commented on #455
Same here.

[2020-05-12 09:15] Zirak opened #464 "Infer toType from `from` stat"
- Operating System: linux
- Node Version: 14.2
- NPM Version: 6.14
- webpack Version: 4.39
- copy-webpack-plugin Version: 5.0.4

Apologies for the awkward title.

### Expected Behavior / Situation

When copying a file, no matter its name, the output will be a file.

### Actual Behavior / Situation

If you have a file without an extension, a directory is created with said file inside it. For exampl

[2020-05-12 09:22] Zirak commented on #464
As is mostly the case I've experienced instant regret after submitting this. While the default behaviour in _this_ case is confusing, I agree that the _general_ case is plausible. Changing my example only slightly:

[code]

Creating `subdir/.env` does seem like a plausible result users may expect.

[2020-05-12 17:07] cap-Bernardito commented on #464
Thanks for your contact. There really are inaccuracies in the documentation. I will correct them.

Your problem can be solved as follows:

[code]
Regarding the default behavior ...
If done as you suggest (`When copying a file, no matter its name, the output will be a file.`, `Detecting the toType based on the result of calling stat on from`)

Then we get the following:

[code]
Which is also not ob

[2020-05-12 18:36] cap-Bernardito commented on #449
Fixed in master, release will be soon

[2020-05-12 18:36] #449 closed

[2020-05-13 10:41] #464 closed

[2020-05-13 15:08] cap-Bernardito commented on #430
Will be fixed in the next release

[2020-05-13 15:08] #430 closed

[2020-05-14 08:31] Zirak commented on #464
Hey hey,

You are very much right that my proposed alternative is also non obvious, and has the significant drawback of being different than the current behaviour.

My mistake was, in my head, comparing `CopyPlugin` to `cp`. In both of our cases, `cp` does The Right Thing, but `cp` knows something that `CopyPlugin` does not: It knows whether the `to` is a directory because it already exists.

Sorr

[2020-05-14 14:24] #112 closed

[2020-05-14 14:24] #456 closed

[2020-05-15 08:33] chenka commented on #455
Same here, doc is confuse.

[2020-05-15 10:10] evilebottnawi commented on #348
We remove the `test` option in favor `transformPath`, using the `transformPath` option allow to implement any logic, even async, no need write hard to read regexps

[2020-05-15 10:10] #348 closed

[2020-05-15 11:41] #431 closed

[2020-05-15 14:42] #370 closed

[2020-05-15 16:55] evilebottnawi commented on #455
6 version was released https://github.com/webpack-contrib/copy-webpack-plugin/releases/tag/v6.0.0

[2020-05-15 16:55] #455 closed

[2020-05-15 21:01] dmarcautan opened #479 "Fails copying by pattern containing '@' symbol"
- Operating System: Windows 10
- Node Version: 12.13.0
- NPM Version: 6.12.1
- webpack Version: 4.43.0
- copy-webpack-plugin Version: 6.0.0

### Actual Behavior
I get following error in console:
ERROR in unable to locate '**\*' at 'D:\Source\Elements\Source\Elements\node_modules\@felgaete\base64image\**\*'

### Code

[code]

### How Do We Reproduce?

All patterns succeed except the one above

[2020-05-15 23:26] WillRadi commented on #479
Same issue with '@'

I'm using:
* Operating System: CentOS 8
* Webpack Version: 4.43.0
* Copy-webpack-plugin Version: 6.0.0
* Fontawesome: 5.13.0

Get this error when run `webpacker:compile`:

 unable to locate 'node_modules/@fortawesome/fontawesome-free' at '/vagrant/node_modules/@fortawesome/fontawesome-free/**/*'

**My code:**

`patterns: [{ from: 'node_modules/@fortawesome/fontawesome-free', t

[2020-05-16 06:20] doberkofler opened #482 "WARNING in Conflict: Multiple assets emit different content to the same filename"
- Operating System: macOS
- Node Version: 14.1.0
- NPM Version: 6.14.5
- webpack Version: 4.43.0
- copy-webpack-plugin Version: 6.0.0

### Expected Behavior

no warnings

### Actual Behavior

After having upgraded to version 6.0.0, I'm getting a new warning `WARNING in Conflict: Multiple assets emit different content to the same filename` for multiple files I'm copying.
If I switch back to version

[2020-05-16 06:39] cap-Bernardito commented on #479
Thanks for the feedback. Today we will fix this problem.

[2020-05-16 07:46] cap-Bernardito commented on #482
I can`t reproduce this case. Please provide a minimally reproducible repository with a problem

[2020-05-16 09:12] Diablohu commented on #479
Something I have noticed

This pattern `{ from: 'D:\\Projects\\@koot\\_next\\test\\projects\\standard\\public' }` will be transformed into Glob `D:/Projects/\\@koot/_next/test/projects/standard/public/**/*`

And when I directly provide a pattern with a glob `{ from: 'D:/Projects/@koot/_next/test/projects/standard/public/**/*' }`, everything is fine.

The only difference between the 2 globs is the

[2020-05-16 11:51] #479 closed

[2020-05-16 13:28] #482 closed

[2020-05-16 13:42] pedrofurtado commented on #479
@evilebottnawi @cap-Bernardito looking forward to a release with this fix asap 🎉 thanks guys for your fast feedback! 🤝

[2020-05-16 13:45] evilebottnawi commented on #479
:star: ETA today

[2020-05-17 04:54] doberkofler commented on #482
I was unable to extract a test case from my production environment, but it seems as if the problem was resolved by your latest update. Thank you!

[2020-05-18 06:46] daviddelusenet opened #489 "Updating to V6 breaks development build"
I was using version `5.1.1` but this morning I decided to update to `6.0.1`.

I changed my configuration from:

[code]

to

[code]

But now I'm getting the following errors:

[code]

This only happens when I try to run my project in development mode using the `webpack-dev-server`. Making a distribution build still works fine.

Let me know if you need any more information.

[2020-05-18 07:05] angelikatyborska opened #490 "v6.0.0 requires node >= 10.17"
### Expected Behavior

According to this project's Changelog and the `engine` attribute in `package.json` (https://github.com/webpack-contrib/copy-webpack-plugin/blob/6f34c86057c6e9897856f3249b7c9fa105b4ad57/package.json#L16), v6.0.0 should work with Node >= 10.13.

### Actual Behavior

When I try to update from `5.1.1` to `6.0.0`, I cannot even install `6.0.0` because it requires a new version of

[2020-05-18 07:47] cap-Bernardito commented on #489
Please provide the information indicated in the template issue

- Operating System:
- Node Version:
- NPM Version:
- webpack Version:
- copy-webpack-plugin Version:

### Expected Behavior

### Actual Behavior

### How Do We Reproduce?
  Minimally reproducible repository with a problem

[2020-05-18 07:51] daviddelusenet commented on #489
Operating System: macOS Catalina
Node Version: 10.16.0
NPM Version: 6.14.4
webpack Version: 4.43.0
copy-webpack-plugin Version: 6.0.1

### Expected Behavior
That it works.

### Actual Behavior
It doesn't work.

[2020-05-18 09:40] cap-Bernardito commented on #489
You should use `[]` for `ignore` option as the default value.
https://github.com/mrmlnc/fast-glob#ignore

[code]

[2020-05-18 10:01] #489 closed

[2020-05-18 10:02] daviddelusenet commented on #489
That indeed was the problem, thanks @cap-Bernardito ! :)

[2020-05-18 10:04] cap-Bernardito commented on #489
You are welcome ))

[2020-05-18 10:45] evilebottnawi commented on #490
Duplicate of https://github.com/npm/cacache/issues/37

Wordaround - update node@10 to latest version

[2020-05-18 10:45] #490 closed

[2020-05-18 12:01] maksnester commented on #489
I have exactly the same issue. My 5.1.1 config is

[code]

For 6.0.1

[code]

Operating System: windows 10
Node Version: 10.20.1
NPM Version: 6.14.4
webpack Version: 4.42.0 (react-scripts)
copy-webpack-plugin Version: 6.0.1

[code]

[2020-05-18 12:03] evilebottnawi commented on #489
@daviddelusenet From readme:
[code]

[2020-05-18 12:12] maksnester commented on #489
It also doesn't work with a relative path instead of absolute. Like

[code]
output from path.join has those `\\` and they are replaced in that case too.

But yes, I missed it in the readme, thank you @evilebottnawi it works

[2020-05-19 04:56] martinoppitz opened #491 "Files are missing after a recompile / since v6"
- Operating System: Win10
- Node Version: 12.13.1
- NPM Version: 6.14.5
- webpack Version: 4.42.0
- copy-webpack-plugin Version: 6.0.1

### Expected Behavior

Develop the app in serve mode. Change files and webpack recompile the app and refresh the webpage in the browser. All files are available in the virtual webhost storage.

FYI: I will not copy files a the disk. The static files will be copied

[2020-05-19 08:32] andriuskv commented on #491
I have the same issue. Seems like since v6 copy-webpack-plugin and html-webpack-plugin don't play nice together.

[2020-05-19 12:15] evilebottnawi commented on #491
Sorry, can't reproduce. Please:
- Update copy-webpack-plugin to latest version, from your `yarn.lock` - `    copy-webpack-plugin: 5.0.4`
- Your reproducible steps doesn't works + `yark.lock` broken + you have broken manifest.json for hot updates in your reproducible test repo
- Please create **minimum** reproducible test repo, respect time of other developers

[2020-05-19 12:15] #491 closed

[2020-05-19 12:16] evilebottnawi commented on #491
+ update `html-webpack-plugin` to latest version

[2020-05-19 14:36] martinoppitz commented on #491
sorry, that is not right
...
the dependency is a sub depedency of @leanup/cli not direct under node_modues

[2020-05-19 14:37] martinoppitz commented on #491
and I forgot to push the currect code for reproduce!

[2020-05-19 14:38] martinoppitz opened #492 "Files are missing after a recompile / since v6 (continue!)"
please see https://github.com/webpack-contrib/copy-webpack-plugin/issues/491

[2020-05-19 14:45] martinoppitz commented on #491
in the leanup cli there are all deps up2date

[2020-05-19 14:50] evilebottnawi commented on #492
@martinoppitz Please create **minimum** reproducible test repo, you still have invalid, respect time of other developers, you have a lot of outdated `copy-webpack-plugin` and `html-webpack-plugin` packages in `package.json`, you build steps still not work

[2020-05-19 16:31] jacksman opened #493 "globOptions.ignore option doesn't work"
- Operating System: MacOS v10.15.4
- Node Version: 13.7.0
- NPM Version: 6.14.4
- webpack Version: webpack@4.43.0, webpack-cli@3.3.11
- copy-webpack-plugin Version: 6.0.1

### Expected Behavior

Setting globOptions.ignore should ignore matching files.

### Actual Behavior

Also matching files are copied.

### Code

[code]

### How Do We Reproduce?

Setup a simple directory structure:
[code]
Use pr

[2020-05-19 18:48] martinoppitz commented on #492
@evilebottnawi I have respect für für developer time and will prepere a tiny example. It would be easier to focus on our isseu.

[2020-05-19 22:54] martinoppitz commented on #492
- Operating System: Win10
- Node Version: 12.13.1
- NPM Version: 6.14.5
- webpack Version: 4.42.0
- copy-webpack-plugin Version: 6.0.1

### Expected Behavior

Develop the app in serve mode. Change files and webpack recompile the app and refresh the webpage in the browser. All files are available in the virtual webhost storage.

FYI: I will not copy files a the disk. The static files will be copied

[2020-05-20 06:02] cap-Bernardito commented on #493
You can use `src/*.ts`, or `**/*.ts`, or `**.ts`

https://github.com/mrmlnc/fast-glob#basic-syntax

[code]

[2020-05-20 06:02] #493 closed

[2020-05-20 09:51] aaarichter opened #494 "plugin throwing when not matching (v6)"
- Operating System:
- Node Version: 14
- NPM Version: 6
- webpack Version: 4
- copy-webpack-plugin Version: 6.0.1

I'm using the copy-webpack-plugin in a library that is used in multiple project with different structures and cases, which are handled by multiple patterns in copy-webpack-plugin.

### Expected Behavior / Situation
The `from` v5 behavior where a not matching pattern did not throw and

[2020-05-20 10:00] aaarichter commented on #494
I just discovered `noErrorOnMissing` pattern option 😰 .
It doesn't work as a global option and was not needed to be set in v5 right? If that is the case, then https://github.com/webpack-contrib/copy-webpack-plugin/blob/master/CHANGELOG.md#-breaking-changes should mention the behavior change as breaking change

[2020-05-20 10:05] evilebottnawi commented on #494
Please do not remove `Reproducible steps`, we can't help you without the configurations/reproducible steps, I am closing, feel free to update issue and I will reopen it.

Looks you have invalid `context`, because your path stats with `/` at error

[2020-05-20 10:05] #494 closed

[2020-05-20 10:06] evilebottnawi commented on #494
`noErrorOnMissing` is feature for `v6` for ignoring empty pattens

[2020-05-20 10:53] evilebottnawi commented on #493
Yep, it is `fast-glob` behavior, so we mark updating `globby` (latest version uses `fast-glob`) as a breaking change. I will update docs to avoid problems in the future

[2020-05-20 11:32] evilebottnawi commented on #492
@martinoppitz Minimum reproducible test repo means do not using `boilerplates`/`cli`/etc tools. I don't know where `leanup` stores configurations, I don't know nothing about `leanup` and how it uses webpack. If every developer reports bugs in this style, I will spend the whole day solving one problem.

[2020-05-20 12:01] evilebottnawi commented on #492
Problem in `html-webpack-plugin`, for some reason plugins thinks that the assets have not changed, but they are changed, please create an issue in the `html-webpack-plugin`, we can't fix it on our side.

Reason - https://github.com/jantimon/html-webpack-plugin/blob/master/index.js#L161, this is an invalid cache check

[2020-05-20 12:01] #492 closed

[2020-05-20 12:03] evilebottnawi commented on #492
/cc @jantimon

Also in webpack@5 adding `assets` on emit event is deprecated

[2020-05-21 15:04] jantimon commented on #492
You can disable caching to slow down the build and recompile files on every run.

Do you have an example for individual caching?

[2020-05-21 15:08] evilebottnawi commented on #492
@jantimon It is doesn't work with zero configuration, it is a bug and need to fix, I provide line which causes problems, setup simple case with HtmlWebpackPlugin + CopyWebpackPlugin and will see a problem

[2020-05-21 15:15] jantimon commented on #492
Cool please provide any insights which might help to fix this

[2020-05-21 15:40] evilebottnawi commented on #492
@jantimon

Now cache implementation is wrong

[2020-05-21 19:59] jantimon commented on #492
Sorry I have no idea what you mean - how can a hash help out here?

[2020-05-22 11:18] evilebottnawi commented on #492
@jantimon A lot of developers have an issue, please solve it ASAP, use should store previously hash of compilation to avoid problems with invalidation of hash when you are in watch mode. What is the problem to fix it?

[2020-05-22 11:36] martinoppitz commented on #492
@evilebottnawi Make a PR in html-webpack-plugin repository to provide your fix.

[2020-05-22 11:45] evilebottnawi commented on #492
@martinoppitz Sorry I don't have enough time, the package has its own developers, and this problem is very easy to solve, I am focus on more big problems right now

[2020-05-22 18:39] shubham-root commented on #6
I have been unable to reproduce this solution for my react project created using create-react-app
My project folder structure:
[code]

my webpack file plugin code looks like :

[code]

I get the following error trying this out.
[code]

What could I be doing wrong here?

[2020-05-22 23:14] jantimon commented on #492
Unfortunately almost all development done for the html-webpack-plugin is by me for free in my spare time.
My wife is going to give birth in the next days so if someone needs this feature any time soon please help to find out how a possible solution might look like.

Otherwise please try:

[code]

[2020-05-23 07:15] martinoppitz commented on #492
@jantimon I tried out `cache: false` it works inside `@leanup/cli`.

At the moment it is okay, I hope we find time to make the smartest fix.

cu and a nice day

[2020-05-23 11:05] evilebottnawi commented on #6
You don't need it anymore (update copy-webpack-plugin and terser-webpack-plugin to latest), now we use hook before terser, so all JS files will be uglified in the `production` mode

[2020-05-23 11:16] evilebottnawi commented on #492
@jantimon Don't worry, enjoy life :smile:  if it is not fixed, I will return to this after and fix it (I am free for this with the next month)

@martinoppitz Can you open an issue in HtmlWebpackPlugin repo?

[2020-05-25 08:15] vitalets commented on #424
Why?
You can write this check **once** inside a plugin instead of everyone of us will write it everywhere:
[code]

[2020-05-25 16:38] blasterbug opened #496 "ERROR in The "path" argument must be of type string. Received an instance of Object"
When compiling after updating from copy-webpack-plugin@6.0.0 to 6.0.1, I got this error (that seems be thrown by mini-css-extract-plugin).
"""
TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received an instance of Object
"""

I am not sure if it's an actual bug, but I post this here since the only thing that changed when I got this error is the version for mini-css-e

[2020-05-25 17:05] evilebottnawi commented on #496
Without reproducible test repo I can't help, sorry

[2020-05-25 17:08] evilebottnawi commented on #496
Minimum - please provide full stack trace of error

[2020-05-26 11:47] alumni commented on #493
I'm posting this here since it's most likely related.

After upgrading to v6, I moved the `ignore` option into `globOptions`, but it has no effect, all files are copied.
Moreover, the cache doesn't work (regardless if it's set to `true` or to a path). Any ideas of could be wrong?

[code]

[2020-05-26 11:54] evilebottnawi commented on #493
You don't need `cacheTransform`

[2020-05-26 12:09] alumni commented on #493
You're right, I don't need to cache it in this case, I just noticed that it didn't create the cache folder.

However, the `ignore` option doesn't work.

It does work with `fast-glob` though:
[code]

[2020-05-26 13:02] evilebottnawi commented on #493
[code]

[2020-05-26 13:12] alumni commented on #493
That works! Thanks!

Why does it work? Is the glob supposed to match an absolute path? Or are the paths relative to another directory instead of `cwd()`?

[2020-05-26 13:38] evilebottnawi commented on #493
Yes, by default `context` is `compiler.context`, not `process.cwd()`

[2020-05-26 21:36] TheCapedBaldi commented on #496
@blasterbug You should update how you call `copy-webpack-plugin`. I managed to make it work by doing the following:

[code]

[2020-05-27 11:00] evilebottnawi commented on #496
Also mini-css-extract-plugin and copy-webpack-plugin uses difference hook, please update the issue using template and will reopen the issue, can't help without configurations/reproducible test repo/reproducible steps

[2020-05-30 11:56] JamesJGoodwin opened #497 "Plugin ignores --watch flag since v6"
Hello. Recently I moved from 5.1.1 to 6 and now CopyWebpackPlugin ignores `--watch` flag and copy all files every time, but should copy only files that have been changed or added.

- Operating System: Windows 10 x64 1909
- Node Version: 14.2.0
- NPM Version: 6.14.5
- webpack Version: 4.43.0
- copy-webpack-plugin Version: 6.0.1

### Expected Behavior

Plugin should copy only files that have been ch

[2020-06-01 11:29] evilebottnawi commented on #497
This is wrong behavior and we should keep `persist assets between rebuilds`, here changelog - https://github.com/webpack-contrib/copy-webpack-plugin/releases/tag/v6.0.0, webpack does not write assets if they exist and they content are same, therefore you should not worry

[2020-06-01 11:29] #497 closed

[2020-06-01 22:20] JamesJGoodwin commented on #497
@evilebottnawi I'm sorry to reopen this issue but it feels like I'm not going to resolve it alone. The main problem for me right now is that I have lots of images that have to be converted to webp format and for that purpose I'm using [imagemin-webp-webpack-plugin](https://github.com/iampava/imagemin-webp-webpack-plugin). There is [an issue](https://github.com/iampava/imagemin-webp-webpack-plugin/

[2020-06-02 11:49] evilebottnawi commented on #497
@JamesJGoodwin

Implement persist assets between rebuilds solve a lot of problems with other plugins, like `clean-webpack-plugin`, now you can use `minimizer` (like `terser-webpack-plugin`) to compress copied JS files + a lot of other fixes

Two solutions for `imagemin-webp-webpack-plugin`
- Do not use `emit`, it is invalid `https://github.com/iampava/imagemin-webp-webpack-plugin/blob/master/plugi

[2020-06-02 21:34] janvennemann commented on #497
@evilebottnawi i recently ran into similar issue after updating to v6. In https://github.com/webpack-contrib/copy-webpack-plugin/commit/57f3e618108c3a6c1f61f21186d69433ee51a561 the `copyUnmodified` option was removed. This works well with Webpack 5, however with Webpack 4 all assets are always emitted during a watch build.

Correct me if i'm wrong, but i guess this was done to fix issues with the

[2020-06-03 10:42] evilebottnawi commented on #497
@janvennemann

This is the expected behavior. By returning the option, we will again break other plugins. What exactly is the problem? Maybe you can demonstrate, for example - minimum reproducible test repo with simple README

[2020-06-03 13:07] blasterbug commented on #496
this is how I set up the copy plugin:
[code]

And this what I've got:
[code]

[2020-06-03 13:12] AndasDev opened #498 "copy-webpack-plugin "ignore" option not working with dot files after update"
- Operating System:
- Node Version: 12.7.0
- NPM Version: 6.10.0
- webpack Version: 4.43.0
- copy-webpack-plugin Version: ^6.0.1

### Expected Behavior

Copy webpack plugin should be able to ignore dotfile .gitkeep.

### Actual Behavior

In the previous major version of copy-webpack-plugin it was possible to ignore the .gitkeep file on build. Now it is being totally ignored.

### Code

[code]

[2020-06-03 13:25] evilebottnawi commented on #498
`**/.gitkeep'`

[2020-06-03 13:25] #498 closed

[2020-06-03 13:40] AndasDev commented on #498
After adding this line which I have tried before your post returns:

unable to locate '/Users/nino/Documents/Projecten/Friends For Brands/WordPress-Starter-V4.0.0/src/fonts' at '/Users/nino/Documents/Projecten/Friends For Brands/WordPress-Starter-V4.0.0/src/fonts/**/*'

This folder exists in /src/fonts/ but is unable to locate it.

[2020-06-03 13:58] evilebottnawi commented on #498
It means you have invalid path(s) in `from`

[2020-06-03 14:42] evilebottnawi commented on #496
@blasterbug Reproduced

[2020-06-03 14:54] evilebottnawi commented on #496
Looks like bug in `globby`

[2020-06-03 15:01] evilebottnawi commented on #496
https://github.com/sindresorhus/globby/issues/145

[2020-06-03 15:10] AndasDev commented on #498
Can you clarify why it dit work in the latest version 5? I used this for months without issues.

[2020-06-03 15:22] evilebottnawi commented on #498
@AndasDev because we update `globby` and `globby` uses `fast-glob` instead `node-glob`, it is in README for `6` version

[2020-06-03 15:24] evilebottnawi commented on #498
If you provide reproducible test repo I can investigate, in theory it can be bug on `fast-glob` side, but i think it is problem in the configuration, that is why we ask you to provide reproducible steps, but you just remove from the issue template, and that’s why the issue was closed

[2020-06-03 15:36] Legends commented on #496
Also ignore does not work properly:
https://stackoverflow.com/questions/62172321/copy-webpack-plugin-v6-0-1-ignore-option-is-not-working

[2020-06-03 16:08] evilebottnawi commented on #496
@Legends Please read my answer in the other issue

[2020-06-04 13:44] AndasDev commented on #498
@evilebottnawi any news?

[2020-06-04 14:18] evilebottnawi commented on #498
It is expected, you run try to copy `./src/fonts/` directory, directory contains only one item `.gitignore` and you ignore it, so `globby` return `[]` empty list, we throw an error on this (previously it was warning), you can disable this behavior adding `noErrorOnMissing: true`

[2020-06-04 14:30] AndasDev commented on #498
Thanks for checking it out. So, where should the noErrorOnMissing check go?

[2020-06-04 14:55] evilebottnawi commented on #498
Here docs https://github.com/webpack-contrib/copy-webpack-plugin#noerroronmissing

[2020-06-04 15:06] AndasDev commented on #498
After adding that rule the .gitkeep is still being copied but when i add the **/ it will display the same previous error.

[code]

[2020-06-04 15:45] AndasDev commented on #498
What a boss! Thank you very much man.

[2020-06-04 17:34] janvennemann commented on #497
@evilebottnawi I _think_ there is a way to restore the behavior in Webpack 4 without breaking other plugins, but i need to verify. I'll get back to you with a PR or a test repo when i have some time to spare to work on this.

[2020-06-05 08:10] alan-agius4 commented on #498
The resolution for this doesn't seem correct.
Ignoring `['**/.gitkeep'] is not the same as ['.gitkeep']`, the former will ignore all files named `.gitkeep` irrespective were they are located in the directory tree, while the latter will only ignore the root path.

This bug is actually caused by this package, because it uses absolute paths in globs https://github.com/webpack-contrib/copy-webpack-plu

[2020-06-05 11:57] evilebottnawi commented on #498
@alan-agius4 Not quite right, but if you want to talk about it feel free to open an issue in `fast-glob` repo, because the `globOptions` option for `fast-glob`, we have no logic for `ignore`

[2020-06-05 14:13] evilebottnawi commented on #498
@alan-agius4 `paths.fonts` is absolute path, right?

[2020-06-05 14:14] alan-agius4 commented on #498
@evilebottnawi, yes

[2020-06-05 14:15] evilebottnawi commented on #498
@alan-agius4 feel free to open a new issue

[2020-06-05 14:15] alan-agius4 commented on #498
@evilebottnawi, yes. I’ll open a new issue later today/tomorrow.

[2020-06-08 13:36] liesahead commented on #496
Up

[2020-06-08 17:27] igordeoliveirasa commented on #101
Id like to know how to copy empty folders lol

[2020-06-09 07:30] unm4sk1g opened #500 "[BUG] CopyPlugin not initializing - API schema mismatch"
- Operating System: Windows 10 Pro x64 build 18362
- Node Version: v12.18.0
- NPM Version: 6.14.5
- webpack Version: 4.15.1
- copy-webpack-plugin Version: 6.0.2

### Expected Behavior

Expecting plugin to copy modules without issues.

### Actual Behavior

[code]
### Code

[code]

### How Do We Reproduce?
Followed the documentation, added the plugin, also tried to add `array` directly inside the `n

[2020-06-09 10:31] evilebottnawi commented on #500
Please read validation error message and fix it, you don't provide `How Do We Reproduce?`, so I can't help, sorry

[2020-06-09 10:31] #500 closed

[2020-06-10 03:09] disyang commented on #243
Could not find a matching event to end plugins CopyPlugin/Compiler/afterEmit { id: 1 }

[2020-06-10 18:38] martinoppitz opened #501 "Files are missing after a recompile / since v6"
- Operating System: Win10
- Node Version: 12.13.1
- NPM Version: 6.14.5
- webpack Version: 4.42.0
- copy-webpack-plugin Version: 6.0.1

### Expected Behavior

Develop the app in serve mode. Change files and webpack recompile the app and refresh the webpage in the browser. All files are available in the virtual webhost storage.

FYI: I will not copy files a the disk. The static files will be copied

[2020-06-11 11:29] evilebottnawi commented on #501
- webpack-pwa-manifest do not have compatibility with new `html-webpack-plugin`
https://github.com/arthurbergmz/webpack-pwa-manifest/blob/master/src/generators/tapable.js#L4
- `html-webpack-plugin` doesn't work correctly with webpack-copy-plugin

Open issues in `html-webpack-plugin` and `webpack-pwa-manifest`, can't be fixed on our side

[2020-06-11 11:29] #501 closed

[2020-06-11 11:31] evilebottnawi commented on #501
@martinoppitz `html-webpack-plugin` plugin has bad support with many webpack feature, in the past I suggested moving it to officially supported plugins (webpack-contrib), but the creator declined it, therefore we cannot provide first-class support with `html-webpack-plugin`

[2020-06-11 11:39] evilebottnawi commented on #501
Disable `cache` for `html-webpack-plugin`, it is broken and never works fine

[2020-06-11 12:00] martinoppitz commented on #501
In my minimal example I checked that.

Thats right.

I am proofing why the webworkers sometimes missing. But I cant reproduce it, by my self. :no_good:

[2020-06-11 12:06] evilebottnawi commented on #501
You can try to open a new issue in `html-webpack-plugin`, maybe other developers have the same problem and provide reproducible test repo

[2020-06-11 13:19] StephenTurley opened #502 "compilation.getLogger is not a function"
- Operating System: macOS 10.15.5
- Node Version: 13.1.0
- NPM Version: 6.12.1
- webpack Version: 4.31.0 (using webpacker gem)
- copy-webpack-plugin Version: 6.0.2

### Expected Behavior
I expect the plugin to be loaded

### Actual Behavior
Throws the following error during:

[code]

### Code

[code]

### How Do We Reproduce?

I'm using the webpacker gem as part of a ruby on rails project. With th

[2020-06-11 13:23] StephenTurley commented on #502
So, downgrading to 5.1.1 and using the old constructor fixes the issue for me.

[2020-06-11 13:30] evilebottnawi commented on #502
Update webpack version https://github.com/webpack-contrib/copy-webpack-plugin/blob/master/package.json#L41 and **never ignore warning/errors from npm/yarn**

[2020-06-11 13:30] #502 closed

[2020-06-13 05:27] LP1994 opened #503 "After each code change, the copy operation of the "copy-webpack-plugin" plug-in is executed at the same time as the recompilation operation."
webpack: v4.43.0
webpack-dev-server: v3.11.0
copy-webpack-plugin: v6.0.2
html-webpack-plugin v4.3.0
Windows 10 professional edition 1902 18363.900
node.js: v14.4.0
npm: v6.14.5

Describe the bug:
1、
After each code change, the copy operation of the "copy-webpack-plugin" plug-in is executed at the same time as the recompilation operation.
![image](https://user-images.githubusercontent.com/12012671/

[2020-06-13 05:36] LP1994 commented on #503
At the same time, I asked this question in the feedback of these three plug-ins(webpack、html-webpack-plugin、copy-webpack-plugin).

[2020-06-13 13:36] evilebottnawi commented on #503
It is expected and written in CHANGE(https://github.com/webpack-contrib/copy-webpack-plugin/releases/tag/v6.0.0):

Without this, other plugins will not work correctly, the webpack does not write existing files twice/more.

[2020-06-13 13:36] #503 closed

[2020-06-13 16:40] webpack-bot opened #504 "After each code change, the copy operation of the "copy-webpack-plugin" plug-in is executed at the same time as the recompilation operation."
webpack: v4.43.0
webpack-dev-server: v3.11.0
copy-webpack-plugin: v6.0.2
html-webpack-plugin v4.3.0
Windows 10 professional edition 1902 18363.900
node.js: v14.4.0
npm: v6.14.5

Describe the bug:
1、
After each code change, the copy operation of the "copy-webpack-plugin" plug-in is executed at the same time as the recompilation operation.
![image](https://user-images.githubusercontent.com/12012671/

[2020-06-13 16:50] evilebottnawi commented on #504
Set `force: false` option, you say webpack to rewrite assets if they exists

[2020-06-13 20:33] LP1994 commented on #504
It's still the same.
V5.0 won't have this problem.

[2020-06-15 21:13] brendon opened #505 "In 6.x files are transformed/copied multiple times per build"
- Operating System: MacOS 10.15.5 (19F101)
- Node Version: v14.4.0
- NPM Version: N/A (Yarn 1.22.4)
- webpack Version: webpack@4.43.0
- copy-webpack-plugin Version: 6.x

### Expected Behavior

Files should be transformed/copied only once per build

### Actual Behavior

In 5.x the files are transformed once per build (verified by logging when `transform` is called). In 6.x the `transform` function

[2020-06-16 07:03] brendon commented on #505
This seems to be the likely cause:

https://github.com/webpack-contrib/copy-webpack-plugin/pull/459/files#diff-1fdf421c05c1140f6d71444ea2b27638L25-L27

Switching from tapping into `emit` that one assumes only gets triggered once, to tapping into `compilation` that presumably runs for each master and child build.

[2020-06-16 11:05] evilebottnawi commented on #505
No, `emit` hooks also called on each recompilation

Changing hook was written in CHANGELOG, without it, the plugin does not work correctly

[2020-06-16 11:05] evilebottnawi commented on #505
In webpack@5, using `5` version of copy-webpack-plugin was output invalid result and will be broken

[2020-06-16 21:50] brendon commented on #505
Please checkout this repo: https://github.com/brendon/broken-copy

run `yarn install` then `yarn build` and you'll see that the files are transformed/copied multiple times per build (I'm logging to the console when `transform` is executed). The reason for this is that `MiniCssExtractPlugin` creates a compilation for each component's styles.

I'd instinctively expect `CopyWebpackPlugin` to copy jus

[2020-06-16 22:11] evilebottnawi commented on #505
Bug on `MiniCssExtractPlugin` side

Because each compilation requires all assets

What is a problem? You may need an asset inside `MiniCssExtractPlugin`, there are a lot of use cases. You can enable cache for transofrm.

[2020-06-16 23:22] brendon commented on #505
Ok, turning on caching fixed the problem in this test repo, but I didn't experience the same result in my actual application. I returned a promise from `transform` for each file (processing JPEGs and PNGs with `tinify`).

I tried to simulate a delay with a `setTimeout` but it operates correctly (the first transforms of each file are waited before checking the cache for subsequent transforms):

[co

[2020-06-17 06:52] lunac commented on #504
I am currently having the same problem, I do not know if it could help but I downgraded from 6.02 to 5.02 and solved it momentarily.

[2020-06-17 07:58] LP1994 commented on #504
In fact, as long as we know what changes have taken place in 6.0 compared with 5.0, we can know what causes this situation in 6.0, but 5.0 will not.

[2020-06-17 10:34] evilebottnawi commented on #504
@LP1994 @lunac Please create reproducible test repo, I want to ingestigate

[2020-06-17 10:37] LP1994 commented on #504
I will post the completed configuration and use process. So that you can reproduce the problem.

[2020-06-17 11:21] evilebottnawi commented on #504
@LP1994 minimum reproducible test repo, I can't copy code from screenshots, sorry

[2020-06-17 11:24] LP1994 commented on #504
When I arrive, I will give you the configuration code directly so that you can copy and use it.

[2020-06-17 11:25] evilebottnawi commented on #504
@LP1994 thanks

[2020-06-17 14:16] Mobrockers opened #506 "Cannot upgrade from 5.0.3 to 6.0.2, new config not working"
Heya, I'm trying to update the copy-webpack-plugin to v6 but for some reason the new-style config does not take. The error is 'should not have fewer than 1 item' but I definitely added a pattern to the array. Source is here: stryker-mutator/azure-devops-mutationreport-publisher#47 there is a build attached to the pr. Direct link to config is here: https://github.com/stryker-mutator/azure-devops-mu

[2020-06-17 17:33] evilebottnawi commented on #506
Problem here https://github.com/stryker-mutator/azure-devops-mutationreport-publisher/blob/dependabot/npm_and_yarn/copy-webpack-plugin-6.0.2/extension/PublishMutationReport/webpack.config.js#L27, be careful when updating dependencies in mono repos

[2020-06-17 17:33] #506 closed

[2020-06-17 17:39] evilebottnawi commented on #505
Oh, my mistake, I think it is a problem, anyway cache is good idea here too

[2020-06-17 21:22] Mobrockers commented on #506
🤦‍♂️ Thank you so much, sorry for the unnecessary issue.

[2020-06-17 23:11] brendon commented on #505
Definitely. I'll have another go with 6.x now to see if the problem persists.

What do you think the problem is? :)

[2020-06-18 01:24] brendon commented on #505
I've had another go and it doesn't wait for the promises to resolve before checking the cache for the next iteration. I could be misunderstanding the method I'm using as I don't understand TypeScript in this scenario:

https://github.com/tinify/tinify-nodejs/blob/master/src/tinify/Result.ts#L37

But I assume it means that it'll return a promise because that's in the method definition and also `thi

[2020-06-18 05:54] LP1994 commented on #504
PS:
Because I have too many complete configurations, I just copy the configuration code related to this plug-in!!!

1、The configuration of "copy-webpack-plugin" is:
copyWebpackPluginConfig_obj = {
        patterns: [
            {
                context: './src/',
                from: 'static',
                to: './static',
                toType: 'dir',
                force: true,

[2020-06-18 06:19] LP1994 commented on #504
Use the configuration I mentioned above, and then:
After each code change, the copy operation of the "copy-webpack-plugin" plug-in is executed at the same time as the recompilation operation.

[2020-06-18 11:38] evilebottnawi commented on #504
@LP1994 Please use git repository, it is unreadable

[2020-06-18 11:39] evilebottnawi commented on #504
No need copy all config, just copy part of configuration and code where is the problem

[2020-06-18 11:41] evilebottnawi commented on #505
@brendon yes, it is return promise

[2020-06-18 15:22] lunac commented on #504
hey @evilebottnawi , I am sorry I am late but here a simple repo that you can clone https://github.com/lunac/test-copy-plugin-webpack

you can run it with npm run watch and changing anything in the scss file will produce different results according to copy-webpack-plugin

with version 5.0.2 after a change it will only emit two files
![image](https://user-images.githubusercontent.com/12321184/85039

[2020-06-18 15:26] evilebottnawi commented on #504
Thanks

[2020-06-18 17:18] #505 closed

[2020-06-18 20:59] LP1994 commented on #504
What you are expressing is what I want to say, and I also encounter this problem.

[2020-06-18 21:02] LP1994 commented on #504
@lunac
What you are expressing is what I want to say, and I also encounter this problem.

[2020-06-18 21:29] brendon commented on #505
Thanks @evilebottnawi, very much appreciated! :)

[2020-06-20 14:30] AmreeshTyagi commented on #496
Meanwhile, I found one solution for my own.

You can use this plugin [remove-files-webpack-plugin](https://github.com/Amaimersion/remove-files-webpack-plugin/blob/master/README.md) to remove dist directory before compile & after compile you can remove map file or any specific file as per your requirement.

[code]

[2020-06-22 15:46] Jaasdsa commented on #502
me too

[2020-06-22 17:53] evilebottnawi commented on #504
Fix will be tomorrow

[2020-06-23 05:54] LP1994 commented on #504
thank you!
Looking forward to the new version!

[2020-06-24 10:22] gabskoro opened #508 "Hiding unnecessary logs after migrating from v5 -> v6"
- Operating System: macOS 10.15.5
- Node Version: 12.13.1
- Yarn Version: 1.22.4
- webpack Version: 4.43.0
- copy-webpack-plugin Version: 6.0.2

### Actual Behavior

### Code

[code]
Hi guys, after upgrading from `5.1.1` to `6.0.2` I started getting more logs in the console, and now every time I have some warnings or errors I need to scroll up to see them because the console is now bloated with th

[2020-06-24 12:05] evilebottnawi commented on #508
Duplicate https://github.com/webpack-contrib/copy-webpack-plugin/issues/504

[2020-06-24 12:05] #508 closed

[2020-06-25 20:40] snowball58 opened #509 "Fix the use of serialize-javascript <3.1.0 in Copy-Webpack-Plugin 5"
- Operating System: Windows 10
- Node Version: 14.4.0
- NPM Version: 6.14.5
- webpack Version: 4.42.1
- copy-webpack-plugin Version: 5.1.1

### Feature Proposal
I am currently trying to eliminate the use of Serialize-Javascript@2.1.2 in a project. Part of this would require upgrading Copy-Webpack-Plugin to v6 from 5.1.1. It'd be better to not have to make a major version jump just for eliminating

[2020-06-26 12:16] evilebottnawi commented on #509
No, please update CopyWebpackPlugin to latest version

[2020-06-26 12:16] #509 closed

[2020-06-26 12:16] evilebottnawi commented on #509
There are many big fixes for v6, so prefer to update version to latest, migration is very easy

[2020-07-01 03:55] LP1994 commented on #504
Hello!
The latest version(copy-webpack-plugin v6.0.3) does not solve the problems mentioned above!

[2020-07-01 06:58] airtonix commented on #502
@evilebottnawi  updating webpack to the latest version usually involves a refactor of the entire webpack configuration pipeline.

If you're lightweight user of webpack, or you have hours to waste everytime this happens you might feel this is a feasible option...

But for those of us in the real world it is not.

[2020-07-01 10:18] evilebottnawi commented on #502
@airtonix no big breaking change, migration is very easy

[2020-07-01 10:25] evilebottnawi commented on #504
@LP1994 It is not fixed yet

[2020-07-01 14:32] Rall3n opened #510 ""Unexpected token {" with imported plugin"
- Operating System: WSL2 Ubuntu 20
- Node Version: 8.10.0
- NPM Version: 6.4.1
- webpack Version: 4.43.0
- copy-webpack-plugin Version: 6.0.3

### Expected Behavior

When running `npx webpack` Webpack should build the bundles without errors.

### Actual Behavior

Webpack outputs `Unexpected token {` while having `copy-webpack-plugin` imported.
Had been tested on Windows before and there it works w

[2020-07-01 14:38] evilebottnawi commented on #510
We don't support `8.10.0` node, please look at https://github.com/webpack-contrib/copy-webpack-plugin/blob/master/package.json#L16

[2020-07-01 14:38] #510 closed

[2020-07-01 14:57] serut opened #511 "Failed to install V6, whereas V5 works - SyntaxError: Unexpected token {"
- Operating System: Ubuntu 16
- Node Version: try at first with V8, then I switch to V14, still occurs
- NPM Version: V6
- webpack Version: 4.42
- copy-webpack-plugin Version: 6.0.3

### Expected Behavior

If I install the V5 version of copy-webpack-plugin, the postinstall of my [app](https://github.com/RegardsOss/regards-frontend) works :

[code]

### Actual Behavior

By just adding
[code]

By ru

[2020-07-01 15:30] evilebottnawi commented on #511
Not related to `copy-webpack-plugin`, v8 cache from old node version, maybe something with env, I can't reproduce locally, problem with your environment

[2020-07-01 15:30] #511 closed

[2020-07-01 15:31] evilebottnawi commented on #511
https://github.com/sindresorhus/p-limit/blob/master/index.js#L30, you still use old node verison

[2020-07-01 15:52] serut commented on #511
True ! I've installed the last node version but someway I'm still have old node

[code]

[2020-07-02 05:22] ChetanaJavali opened #512 "Using copy-web-pack 6.0.3 causing issue in jenkins and causing the build to fail"
Upgraded the copy-web-pack  to '6.0.3' version  and the following changes are being made in webpack.prod.js

const CopyPlugin = require('copy-webpack-plugin')

  **plugins: [
    new CopyPlugin({ patterns: [{ from: 'package.json' }] })
]**

In the local, while executing npm run build, there is no issue  and while the build is progressing in jenkins it is failing and throwing an error :

node_modul

[2020-07-02 11:03] evilebottnawi commented on #512
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

You use old version of node

[2020-07-02 11:03] #512 closed

[2020-07-02 11:03] evilebottnawi commented on #512
https://github.com/webpack-contrib/copy-webpack-plugin/issues/511

[2020-07-13 03:35] referencedebug opened #513 "the bug of p-limit"
![image](https://user-images.githubusercontent.com/47730461/87268145-4106f880-c4fc-11ea-8b9b-ac6ca88cc022.png)
when i start to compile the webpack, the copy-webpack-plugin report the error. I looked at the source code, I found a try-catch syntax error

![image](https://user-images.githubusercontent.com/47730461/87268404-dacea580-c4fc-11ea-873f-011db0c61743.png)

[2020-07-13 10:42] evilebottnawi commented on #513
Update node version, do not ignore warning from npm

[2020-07-13 10:42] #513 closed

[2020-07-14 22:11] ZDTaylor commented on #6
@evilebottnawi I am using the latest copy-webpack-plugin, latest terser-webpack-plugin, and latest cssnano-webpack-plugin. None of the copied files are getting picked up for minification automatically. Is there an example somewhere with a working configuration? Otherwise, I'm also going to have to rely on the transform option.

[2020-07-15 12:08] evilebottnawi commented on #6
@ZDTaylor terser-webpack-plugin is `3` version?

[2020-07-15 13:19] ZDTaylor commented on #6
Yes, terser-webpack-plugin is 3.0.6, copy-webpack-plugin is 6.0.3.
The relevant configs are here:
webpack.config.base.js:
[code]

webpack.config.statics.js:
[code]

[2020-07-15 15:30] evilebottnawi commented on #6
@ZDTaylor Can you open an new issue with simple reproducible test repo? Should work fine, need investigate

[2020-07-16 02:42] CalculonPrime commented on #513
Seems silly to force someone to upgrade to a new version of node, which might not be available within their default Linux repos, just so that developer can avoid typing "(e)" before the catch clause.  I would never force an upgrade for such a trivial reason.

[2020-07-16 03:43] ZDTaylor opened #515 "Copied files not being minimized by webpack/terser"
- Operating System: Windows 10 x64
- Node Version: 12.18.2
- NPM Version: 6.14.5
- webpack Version: 4.43.0
- copy-webpack-plugin Version: 6.0.3

### Expected Behavior

Files copied via copy-webpack-plugin are minimized by the webpack minimizer in general, or at least terser-webpack-plugin in this case.

### Actual Behavior

Files copied via copy-webpack-plugin are not minimzed at all.

### Code

h

[2020-07-16 03:44] ZDTaylor commented on #6
@evilebottnawi Opened #515 to track

[2020-07-16 12:01] evilebottnawi commented on #513
node@6 is not supported and contains a lot of security bugs, do not use this, it is not safe

[2020-07-16 12:31] evilebottnawi commented on #515
Thanks for the issue, I will look at this in near future

[2020-07-16 12:46] evilebottnawi commented on #515
Works fine with `webpack@5`, but not with webpack@4, but on the `terser-webpack-plugin` side, WIP

[2020-07-16 13:43] evilebottnawi commented on #515
https://github.com/webpack-contrib/copy-webpack-plugin/issues/515

[2020-07-16 13:43] evilebottnawi commented on #515
Let's close this here, because there are no bugs on `copy-webpack-plugin` side

[2020-07-16 13:43] #515 closed

[2020-07-17 01:59] m1stermanager commented on #455
https://webpack.js.org/plugins/copy-webpack-plugin/ is still showing the old syntax. gave up and googled. here I am. weird issue to have?

[2020-07-17 14:41] ZDTaylor commented on #515
@evilebottnawi Using 3.0.7 of terser-webpack-plugin works! Thanks for the quick fix. One follow up question: Will terser-webpack-plugin generate sourcemaps if none exist, or just transform sourcemaps from earlier steps? I was expecting/hoping the assets from copy-webpack-plugin would have sourcemaps after being run through terser-webpack-plugin, but they do not.

[2020-07-22 03:14] FlyingBamboo commented on #504
The actual issue is that `copyUnmodified` option is invalid to keep `persist assets between rebuilds` in v6. #497
Hope that methods can be applied other than disabling the `copyUnmodified ` feature.

[2020-07-24 09:35] stefandesu opened #516 "6.0.3 breaks compatibility with Node.js 8 (due to updated p-limit package)"
- Operating System: macOS 10.14.6
- Node Version: 8.17.0
- NPM Version: 6.13.4
- webpack Version: 4.43.0
- copy-webpack-plugin Version: 6.0.3

### Expected Behavior

A patch update does not make breaking changes.

### Actual Behavior

6.0.3 updates `p-limit` from 2.3.0 to 3.0.1 which has ["Require Node.js 10" as a breaking change](https://github.com/sindresorhus/p-limit/releases/tag/v3.0.0).

[2020-07-24 11:04] evilebottnawi commented on #516
We don't support node@8, please look at https://github.com/webpack-contrib/copy-webpack-plugin/blob/master/package.json#L16, please read CHANGELOG, please do not ignore npm warnings

[2020-07-24 11:04] #516 closed

[2020-07-24 11:25] stefandesu commented on #516
Sorry! 🙏 I haven't noticed because 6.0.2 seems to work fine with v8, at least according to our CI build on Travis. I don't personally use v8, so I didn't see the warning.

[2020-07-29 10:14] Suantovith opened #517 "Loading plugin is impossible on node 8.12.0 and yarn"
- Operating System: Windows 10 Pro, 2004 (but using mingw shell instead of powershell/cmd)
- Node Version: 8.12.0
- NPM Version:  yarn 1.22.4
- webpack Version: 4.44.0
- copy-webpack-plugin Version: 6.0.3

### Expected Behavior

Plugin should be imported.

### Actual Behavior

[code]

### Code

https://gist.github.com/Suantovith/82e0ead887aa64c925385ac036a852d2

### How Do We Reproduce?

Execute:

[2020-07-29 10:20] #517 closed

[2020-07-30 16:25] gregbenz commented on #496
With copy-webpack-plugin 6.0.3, I'm also getting  "ERROR in The "path" argument must be of type string. Received an instance of Object". The error is just that, no additional information and there is no clear indication that the failure is coming from copy-webpack-plugin (but it definitely is).

The error goes away if I do not use **gitignore: true**

My configuration:
[code]